﻿.umb-mediapicker .image-name { 
    display: none; 
    text-align:left; 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    background: white; 
    padding: 2px 8px 2px 8px; 
    opacity: 0.8;
}
.umb-sortable-thumbnails li:hover .image-name { 
    display: block;
}
.umb-mediapicker .media-image { 
    color: black; 
    right: 48px;
}
.umb-mediapicker .picked-image:hover { 
    opacity: 1.0; 
} 
.umb-mediapicker .picked-image { 
    opacity: 0.8; 
}
