﻿

/**umb_name:Pufftitel*/
h2{border-bottom: 1px solid #25B8CA;     font-size: 13px; font-weight: 700; margin-bottom: 10px; padding-bottom: 3px; font-family:'Lucida Grande','Lucida Sans Unicode',Arial,sans-serif;}

/**umb_name:Mellanrubrik*/
h3{line-height:13px; font-weight:700; margin:8px 0 2px; font-size: 11px;}