
.sidebar {
  position: fixed;
  top: 0;
  right: -40%;
  bottom: 0;
  width: 40%;
  background: #494D80;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: 0.35s -webkit-transform;
  transition: 0.35s transform;
  padding: 21px 40px 30px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.sidebar button[disabled=disabled], button:disabled {
    border: 1px solid rgba(255,255,255,.1);
    color: rgba(255,255,255,.1);
}
.sidebar #login .status {
	color: #fff;	
	/*background: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	padding: 1.3em 1em;
	color: #494D80;*/
}
/* SIDEBAR TOP ADMIN AREA */
.sidebar .active-profile {
	width: 100%;
	position: relative;
	height: 70px;
	margin-bottom: 40px;
}
.sidebar .active-profile .circle {
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: block;
	text-align: center;
	line-height: 48px;
	font-weight: bold;
	font-size: 16px;
	border: 1px solid rgba(255,255,255,.25);
	color: #FFF;
}
.sidebar .active-profile .circle-image {
	background-size: cover;
	border: none;
	z-index: 1;
}

.sidebar .active-profile .controls {
	color: #FFF;
	position: absolute;
	top: 0;
	left: 70px;
	line-height: 50px;
}
.sidebar .active-profile .controls span {
	font-size: 18px;
	font-weight: normal;
	display: inline-block;
	text-transform: uppercase;
	margin-right: .5em;
}
.sidebar .active-profile .controls a {
	color: #CCC;
	font-size: 14px;
	display: inline-block;
	text-decoration: none;
}
.sidebar .active-profile .controls a span {
	color: #fff;
}



/* MY POSTS */
.sidebar .edit-posts {
	margin-top: 60px;
}
.sidebar .edit-posts h3 {
	color: #FFF;
	margin-bottom: 30px;
}
.sidebar .edit-posts .post {
	overflow: hidden;
	float: left;
	padding-bottom: 1.5em;
	margin-bottom: 1.9em;
	width: 100%;
	border-bottom: 1px solid rgba(255,255,255,.25);
}


.sidebar .edit-posts .post-thumb {
	width: 80px;
	height: 80px;
	float: left;
	margin-right: 20px;
	
}
.sidebar .edit-posts .post-thumb-image {
	width: 100%;
	height: 100%;
	background-size: cover !important;
	border-radius: 10px;
}
.sidebar .edit-posts .post-thumb-text {
	width: 100%;
	height: 100%;
	color: #FFF;
	font-size: 14px;
	text-align: center;
	line-height: 78px;
	border: 1px solid rgba(255,255,255,.25);
	border-radius: 10px;
}
.sidebar .edit-posts .post-thumb-beforeafter {
	width: 100%;
	height: 100%;
	color: #FFF;
	font-size: 14px;
	padding-top: 20px;
	text-align: center;
	border: 1px solid rgba(255,255,255,.25);
	border-radius: 10px;
}


.sidebar .edit-posts .post-content {
	overflow: hidden;
	zoom: 1;
}
.sidebar .edit-posts .post-content .date {
	color: rgba(255,255,255,.5);
	font-size: 12px;
	margin-bottom: 4px;
}

.sidebar .edit-posts .post-content .message {
	color: #FFF;
	font-size: 14px;
}
.sidebar .edit-posts .post-controls {
	width: 100%;
	margin-top: .5em;
}
.sidebar .edit-posts .post-controls a {
	color: #FFF;
	font-weight: bold;
	margin: 8px 10px 0 0;
	display: inline-block;
	font-size: 12px;
	text-decoration: none;
}
.sidebar .edit-posts .post-controls a:hover {
	text-decoration: underline;
}

.sidebar .icon-bild {
	display: block;
    font-size: 8em;
}

.sidebar h3 {
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 1em;
	text-align: left;
	margin-top: 0;
}

.sidebar .edit-post .control-images-container {
	position: absolute;
	top: 0;
	width: 100%;
}
.sidebar .edit-post-preview-container {
	position: relative;
	margin-top: 1em;
}
.sidebar .edit-post .controls.text-field {
	margin-top: 2em;
}

/* TYPE IMAGE */
.sidebar .edit-post .selected-image-container, 
.sidebar .new-post .selected-image-container {
	position: absolute;
	top: 0;
	width: 100%;
}
.sidebar .new-post .selected-image .preview,
.sidebar .edit-post-preview, 
.sidebar .edit-post .selected-image .preview{
	background-size: contain !important;
	/*width: 140px;
	height: 140px;*/
	width: 100%;
	height: 300px;
}

@media only screen and (max-width: 40em) {
    .sidebar .icon-bild {
        font-size: 4em;
    }
}
