﻿@model InteriorMasterModel

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}


@section head {
    <!-- Here we can put in specific CSS & JS files into the head tag that are needed for this template only -->

    @{
        // Guest Ratings javascript variables
        if (Model.GuestRatingsTerms != null)
        {
            <script type="text/javascript">
                // Global variables for the Guest Ratings function
                var GuestRatings = {
                    ConfirmMessage: "@Model.GuestRatingsTerms.ConfirmMessage",
                    ThankYouMessage: "@Model.GuestRatingsTerms.ThankYouMessage",
                    OnlyOnceMessage: "@Model.GuestRatingsTerms.OnlyOnceMessage",
                    SeeResults: "@Model.GuestRatingsTerms.SeeResults"
                };
            </script>

        }
    }
}


<div class="content-wrap">

    @RenderBody()

</div>


@section footer {
    <!-- Here we can put in specific CSS & JS files into the footer tag that are needed for this template only -->
}
