﻿@model InteractiveMasterModel

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}


@section head {


    <!-- Here we can put in specific CSS & JS files into the head tag that are needed for this template only -->


    <script type="text/javascript">

    // Common global variables for the interactive maps pages
    Global.Interactive = {
        showAll: "@Html.Raw(@Model.ShowAllTerm)",
        hideAll: "@Html.Raw(@Model.HideAllTerm)",
        reset: "@Html.Raw(@Model.ResetTerm)",
        loading: "@Model.LoadingTerm",
        detailedDirections: "@Html.Raw(@Model.DetailedDirectionsTerm)",
        hideDetailedDirections: "@Html.Raw(@Model.HideDetailedDirectionsTerm)",
        closeFilteringLinkTitle: "@Html.Raw(@Model.CloseFilteringLinkTerm)",
        showAreasLinkTitle: "@Html.Raw(@Model.ShowAreasLinkTerm)"        
    };
    </script>        
}

<div class="content-wrap">
    @RenderBody()
</div>



@section footer {
    <!-- Here we can put in specific CSS & JS files into the footer tag that are needed for this template only -->
}
