﻿@model MasterModel


@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="@Model.Slug">
<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <meta name="description" content="@Model.SiteDescription">

    @* Open graph meta-tags *@
    <meta property="og:title" content="@Model.Title" />    
    <meta property="og:image" content="@Model.OGImageUrl" />
    <meta property="og:image:width" content="@Model.OGImageWidth" />
    <meta property="og:image:height" content="@Model.OGImageHeight" />
    <meta property="og:site_name" content="@Model.SiteTitle" />
    <meta property="og:description" content="@Model.Intro" />

    <title>@Model.SiteTitle | @Model.Title</title>

    <!-- CSS -->

    @* Set version number for the css file *@
    <link href="/assets/css/screen.css?v=@GlobalFunctions.SetVersion("/assets/css/screen.css")" rel="stylesheet" type="text/css">

    @* Replace with this on live server: *@
    @*<link href="/assets/css/screen.min.css?v=@GlobalFunctions.SetVersion("/assets/css/screen.min.css")" rel="stylesheet" type="text/css">*@


    <script type="text/javascript">

        // Common global variables
        var Global = {
            currentNodeId: @Model.Id,
            language: "@Model.Language",
            hlTerm: "@Html.Raw(Model.HighlightTerm)",
            slug: "@Model.Slug"
        };

        // Absorbs the initial call which sometimes happens before this function
        // is overriden at the bottom of script.js
        var showImageCaption = function() {};

        // Google Analytics
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', '@Model.GoogleAnalyticsKey', 'auto');
        ga('send', 'pageview');
    </script>

    <script src="/assets/js/picturefill.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/mvc/5.1/jquery.validate.unobtrusive.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Allow Child Templates to insert into the head (false = optional) -->
    @RenderSection("head", false)

</head>

<body>

    @Html.Partial("Partials/Shared/_HeaderSection", Model)

    <noscript>
        <div class="no-js-warning">
            @Html.Raw(@Model.NoJavaScriptWarning)
        </div>
    </noscript>


    <main role="main">

      @RenderBody()

    </main>


    @Html.Partial("Partials/Shared/_FooterSection", Model)

    <!-- Allow Child Templates to insert into the Footer (optional) -->
    @RenderSection("footer", false)

    <!-- Javascripts -->

    @* Set version number for the js file *@
    <script src="/assets/js/scripts.js?v=@GlobalFunctions.SetVersion("/assets/js/scripts.js")" async></script>

    @* Replace with this on live server: *@
    @*<script src="/assets/js/scripts.min.js?v=@GlobalFunctions.SetVersion("/assets/js/scripts.min.js")" async></script>*@

    @*@Umbraco.RenderMacro("FormsRenderScripts")*@
    @*@Umbraco.RenderMacro("umbracoforms.RenderScripts")*@

    <!-- addthis -->
	@*<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-574dc31108d1e9c4"></script>*@
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=@Model.AddThisKey"></script>

</body>
</html>
