@model SkanskaLandskap15.Models.Shared.AreasListModel


<ul>
    @foreach (var item in Model.AreasCollection)
    {
        <li data-id="@item.NodeId" data-url="@item.Url">
            <a href="@item.Url">
                <div class="image">
                    <span class="turquoise tag-title">@item.Name</span>
                    @*<img src="@item.Image.GetCropUrl("umbracoFile", "Puff, liten")" alt="@item.Title" />*@
                    <picture>
                        <source srcset='@item.Image.GetCropUrl("umbracoFile", "Bildspel/Aktuelltbild").Replace("1200", "600").Replace("582", "291")' media="(max-width: 768px)" />
                        <img src='@item.Image.GetCropUrl("umbracoFile", "Puff, liten")' alt=''>
                    </picture>
                </div>
                <div class="content">
                    <h2>@item.SubTitle</h2>
                    <p>@item.Intro</p>
                </div>
            </a>
        </li>
    }
</ul>
