@model SkanskaLandskap15.Models.Shared.ServiceBusStopModel



    <div class="busstop-list">

        <div class="dataContainer">
            <div>


                <!-- SERVICE TITLE (= TYPE AND NAME) -->

                <div class="popup-header">
                    <h2>@Model.MapMarker.Title</h2>
                </div>

                <div class="popup-description">

                    <!-- SERVICE INFO -->

                    <div class="popup-text">
                        @Html.Raw(Model.MapMarker.Content)

                        <!-- ROUTE PDF -->
                        @{
                            @*// Make sure the pdf exist
                            if(Model.MapMarker.PublicRoutePdf.Path != string.Empty)
                            {
                                <svg class="svg-icon turquoise"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="@Model.MapMarker.PublicRoutePdf.IconPath#Lager_1"></use></svg>
                                <a href="@Model.MapMarker.PublicRoutePdf.Path" target="_blank">@Model.MapMarker.DownloadRouteLinkTerm @Model.MapMarker.PublicRoutePdf.Info</a>
                            }*@
                        }
                    </div>

                    <!-- RESROBOT SEARCH FORM -->

                    <form style="padding: 15px 0;">
                        <input type="hidden" name="queryPageDisplayed" value="yes" />
                        <input type="hidden" name="application" value="PRIVATETRANSPORT" />
                        <input type="hidden" id="jsEnabled" name="jsEnabled" value="yes" disabled="disabled" />
                        <input type="hidden" id="resRobotSID" name="REQ0JourneyStopsS0ID" value="" />
                        <input type="hidden" id="resrobotSALL" name="SALL" value="1" />
                        <input type="hidden" id="resRobotZID" name="REQ0JourneyStopsZ0ID" value="@Model.MapMarker.ResRobotZID" />
                        <input type="hidden" name="start" value="Senare" />

                        <script type="text/javascript">
                            document.getElementById('jsEnabled').disabled = false;
                        </script>

                        <label for="resrobotS" style="display: inline-block; margin-right: 10px;">
                            <span>@Model.GetHereFromTerm:</span>
                        </label>

                        <input type="text" style="padding: 14px 10px; width: 150px; border: 1px solid #ccc; display: inline-block; margin-right: 10px;" id="resrobotS" name="REQ0JourneyStopsS0G" value="" maxlength="60" />
                        <button type="submit" style="font-size: 1em; display: inline-block; margin: 0;" onclick="return Ssl.submitBusForm(this);" name="start" value="@Model.SearchTerm" alt="@Model.SearchTerm" class="button button--arrow turquoise" />@Model.SearchTerm</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
