@model SkanskaLandskap15.Models.Shared.FacilitiesModel

<ul class="facilities">
    @{


        foreach (var item in Model.FacilitiesCollection)
        {
            <li>
                @if (item.NumOfBeds != string.Empty)
                {
                    @Html.Raw(item.NumOfBeds)
                }
                <img src="@item.IconPath" alt="" />
            </li>
        }

    }
</ul>
