@model SkanskaLandskap15.Models.Shared.ContactModel


      <!-- Picture is required, but you never know... -->
      @if (Model.ContactPortrait != null)
      {
          <img src="@Model.ContactPortrait.GetCropUrl("umbracoFile", "Puff, portrattformat")" alt="@Model.Name" title="@Model.Name" />
      }

      <div class="meta">

          <!-- Name (required) -->
          <h3>@Model.Name</h3>

          <!-- Function (required) -->
          <span class="title">@Model.Function</span>

          <!-- Email (optional) -->
          @if (Model.Email != String.Empty)
          {
              <a class="email" href="mailto:@Model.Email">@Model.Email</a>
          }

          <!-- Phone (optional) -->
          @if (Model.Phone1 != String.Empty)
          {
              <div class="telephone">
                  <a href="tel:@Model.Phone1">@Model.Phone1</a>
                  @if (Model.Phone2 != String.Empty)
                  {
                    <span>/</span> <a href="tel:@Model.Phone2">@Model.Phone2</a>
                  }
              </div>
          }
      </div>
