@model SkanskaLandskap15.Models.Shared.PuffModel

    <!-- Title (required) -->
    <h3>@Model.Title</h3>

    @{
        <!-- Left info column -->
        if (!String.IsNullOrWhiteSpace(Model.LeftColumnText.ToString()))
        {
            <div class="bodytext">@Model.LeftColumnText</div>
        }

        <!-- Right info column -->
        if (!String.IsNullOrWhiteSpace(Model.RightColumnText.ToString()))
        {
            <div class="bodytext bodytext--last">@Model.RightColumnText</div>
        }
    }
