@model SkanskaLandskap15.Models.Shared.MediaFilesModel

@{
    <ul class="grid grid--left">
        @foreach (var item in Model.MediaFilesCollection)
        {
            <li class="grid-item grid-50">
                <a href="@item.Path" target="_blank">
                    <svg class="svg-icon turquoise"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="@item.IconPath#Lager_1"></use></svg>
                    <span>@item.Name <span class="file-info">@item.Info</span></span>
                </a>
            </li>
        }
    </ul>
}
