@model SkanskaLandskap15.Models.Shared.EventItemModel

  <h1>@Model.Title</h1>

    <div class="block">

        <figure class="image">
            @if (Model.EventImage != null)
            {
                <!--<img src='@Model.EventImage.GetCropUrl("umbracoFile", "Bildspel/Aktuelltbild")' alt="" />-->

                <picture>
                    <source srcset='@Model.EventImage.GetCropUrl("umbracoFile", "Puff, stor").Replace("1200", "960").Replace("582", "660")' media="(max-width: 500px)" />
                    <img src='@Model.EventImage.GetCropUrl("umbracoFile", "Bildspel/Aktuelltbild")' alt=""/>
                </picture>
            }

            @if (Model.ImageCaption != String.Empty && Model.ImageCaption != null)
            {
                <figcaption class="byline">@Model.ImageCaption</figcaption>
            }
        </figure>

        <div class="block-inner block-max">

          <ul class="meta-info">

              <li><strong>@Model.DateTerm:</strong> @Model.DateInfo</li>

              @* Display time field only if time value exists *@
              @if (Model.TimeInfo != string.Empty)
              {
                <li><strong>@Model.TimeTerm:</strong> @Model.TimeInfo</li>
              }

              <li><strong>@Model.LocationTerm:</strong>
              @* Location is a valid recreational area so make it linked *@
              @if (Model.LocationUrl != String.Empty)
              {
                  <a href="@Model.LocationUrl">@Model.LocationName</a>
              }
              @* Free-text described location *@
              else
              {
                  @Model.LocationName
              }
            </li>
          </ul>

            @* Add some information if current event has passed *@
            @if(Model.OutdatedInfo != String.Empty)
            {
                <div class="outdated-event">@Model.OutdatedInfo</div>
            }

            <!--<h2 class="underlined butterflies mobhide">@Model.Title</h2>-->

            @{
                @* NOTE: Empty html tags like <p>  </p> might still exist *@
                if (!String.IsNullOrWhiteSpace(Model.Text.ToString()))
                {
                    <div class="bodytext">@Model.Text</div>
                }
            }
        </div>

    </div>
