@model SkanskaLandskap15.Models.Shared.EventItemModel


    @{

        // Apply layout due to site part where the view should be displayed
        switch (Model.ContentType)
        {
            // START PAGE & AREA PAGE
            case "StartPage":
            case "AreaPage":

                // Make sure there is at least one current/upcoming event in the collection
                if (Model.UpcomingEventsCollection.Any())
                {
                    <div class="block-inner">

                        <h2 class="underlined">@Model.TitleTerm</h2>

                        <ul>

                            @foreach (var item in Model.UpcomingEventsCollection)
                            {
                                <li>
                                    @* Date info *@
                                    <div class="date">
                                        @item.DateInfo
                                    </div>

                                    @* Linked title *@
                                    <div class="title">
                                        <a href="@item.Url">@item.Title</a>
                                        <span class="separator"> | </span>
                                        @item.LocationName
                                    </div>

                                </li>
                            }
                        </ul>
                        <a href="@Model.EventsLandingPageUrl" class="events-more">@Model.SeeMoreEventsTerm</a>
                    </div>
                }
                break;


            // EVENT PAGE
            case "EventPage":

                // Display list only if at least two current/upcoming events exist
                if (Model.UpcomingEventsCollection.Count >= 2)
                {

                  <div class="block events-upcoming">

                      <h1 class="underlined">@Model.TitleTerm</h1>

                      <ul>

                          @foreach (var item in Model.UpcomingEventsCollection)
                          {
                              <li>
                                  @* Date info *@
                                  <div class="date">
                                      @item.DateInfo
                                  </div>

                                  @* Linked title *@
                                  <div class="title">
                                      <a href="@item.Url">@item.Title</a>
                                      <span class="separator"> | </span>
                                      @item.LocationName
                                  </div>

                              </li>
                          }
                      </ul>
                      <a href="@Model.EventsLandingPageUrl" class="events-more">@Model.SeeMoreEventsTerm</a>
                  </div>
                }
                break;

        }
}
