@model SkanskaLandskap15.Models.Shared.FindUsModel



    @{
        // Intro text (optional)
        if (Model.FindUsIntro != string.Empty)
        {
            <p>@Model.FindUsIntro</p>
        }


        // Modules (optional)
        if(Model.FindUsModules != null)
        {
            // Iterate over the modules
            foreach(var item in Model.FindUsModules)
            {
                // Display icon due to means of communication
                switch(item.Type)
                {
                    // By public transport
                    case "Kollektivtrafik" :
                    <p>
                      <svg class="svg-icon turquoise"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="@Model.BusIconPath#Lager_1"></use></svg>
                      <a href="#" id="buss" class="">@item.Title<span class="crossit">&#43;</span></a>
                      <div id="bussdiv" class="hidekol">
                        @if (!String.IsNullOrWhiteSpace(item.Text.ToString()))
                        {
                          <p>@Html.Raw(item.Text)</p>
                        }
						 @* Conclude public transport module with a link to the map *@
                         @if(item.Type == "Kollektivtrafik")
                          {
                            <button data-type="open-map" data-id="@Model.BusstopNodeId" class="button--link">@Model.GoByPublicLinkTerm</button>
                          }
                      </div>
                    </p>
                    break;
                    // By car
                    case "Bil":
                    <p>
                      <svg class="svg-icon turquoise"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="@Model.CarIconPath#Lager_1"></use></svg>
                      <a href="#" id="bil" class="">@item.Title<span class="crossit">&#43;</span></a>
                      <div id="bildiv" class="hidekol">
                        @if (!String.IsNullOrWhiteSpace(item.Text.ToString()))
                        {
                          <p>@Html.Raw(item.Text)</p>
                        }
                      </div>
                    </p>
                    break;
                }

                // Expendable link



            }
        }
    }
