@inherits Umbraco.Web.Mvc.UmbracoViewPage<SkanskaLandskap15.Models.Shared.FormModel>

    @*Note: We need to open up the Umbraco API for this partial since the form macro has to be rendered here. 
      The alternative - rendering the form in a Content richtext field - will not display the thank you-message. *@ 
           
                     
    <div id="contour" class="kontakt">
        @Umbraco.RenderMacro("FormsRenderForm", new { FormGuid = Model.FormGuid })
    </div>