@model SkanskaLandskap15.Models.Shared.GuestRatingsModel

     <!-- Store current node's title and content type to be used by javascript events -->
    <div class='inline-rating' data-title="@Model.Title" data-content-type="@Model.ContentType">
        <h2 class="title">
            @Model.TitleTerm
        </h2>

        <ul class='star-rating'>
            <!-- NOTE: The following li's class names must not be changed. -->
            <li class="current-rating" style='width:@Model.Percentage%;' id='@Model.Id'>&nbsp;</li>
            <li>
                <a class='one-star' data-star="1">1</a>
            </li>
            <li>
                <a class='two-stars' data-star="2">2</a>
            </li>
            <li>
                <a class='three-stars' data-star="3">3</a>
            </li>
            <li>
                <a class='four-stars' data-star="4">4</a>
            </li>
            <li>
                <a class='five-stars' data-star="5">5</a>
            </li>
        </ul>

        <!-- NOTE: This element's id must not be changed. -->
        <div id="stars-message" class="rated-text">@Model.AverageValueMessage</div>

        <!-- NOTE: This element's id must not be changed. -->
        <div id="voters-message" class="voters-message">@Model.NumOfVotersMessage</div>
    </div>
