@model SkanskaLandskap15.Models.StartPageModel


<div class="mobile-menu-btn-container">
    <a id="menu-mobile-btn" class="mobile-menu-btn" ng-click="toggleMenu();">
        <div class="icon-kryss"></div>
    </a>
</div>
