@model SkanskaLandskap15.Models.Shared.MapInteractivityModel

    <div>
        @{

            // List activities or services due to page type
            switch(Model.ContentType)
            {
                case "AreasLandingPage":

                    // Make sure activity types exist
                    if (Model.ActivityTypesCollection.Any())
                    {
                        <div>

                            <div id="display-all-button">@Model.DisplayAllTerm.ToUpper() (@Model.Counts)</div>

                            @* Iterate over the activity types *@
                            @foreach (var item in Model.ActivityTypesCollection)
                            {
                                <img src="@item.IconPath" style="width:20px;" />

                                <span>@item.Name.ToUpper()</span>

                                <span>(@item.Counts)</span><br />


                                // Comma-separated list of node id:s representing areas with current activity
                                <span style="display:none;">@item.ActivityAreas</span>

                                 // Current activity type's node id
                                <span style="display:none;">@item.NodeId</span>

                                 // Current activity type's url name (e.g. handikappvanligt)
                                <span style="display:none;">@item.UrlName</span>

                                <br />
                            }
                        </div>
                    }

                    break;

                case "AreaPage":

                    // Make sure service types exist
                    if (Model.ServiceTypesCollection.Any())
                    {
                        <div class="services-osm">

                            @* Iterate over the service types *@
                            @foreach (var item in Model.ServiceTypesCollection)
                            {
                                <img src="@item.IconPath" style="width:20px;" />

                                <span class="click-me">@item.Title.ToUpper()</span>
                                <span style="display:none;">@item.UrlName</span>

                                <span>(@item.Counts)</span><br />


                                // Current service type's node id
                                <span style="display:none;">@item.NodeId</span>

                                // Current service type's url name (e.g. hallplats)
                                <span style="display:none;">@item.UrlName</span>

                                <br />
                            }
                        </div>



                        @* Html elements and css classes for displaying google maps infowindows for busstops via json. *@
                        @* Note: The following id:s and classes are used in the map-area.js file:
                            .busstop-list,
                            .dataContainer,
                            .popup-header,
                            #resRobotZID *@

                        <div class="busstop-list" style="display:none;">

                            <div class="dataContainer">
                                <div>

                                    @* Service type and name *@
                                    <div class="popup-header">
                                        <span style="font-size:20px;"></span>
                                    </div>

                                    <div class="popup-description">

                                        @* Service info text *@
                                        <div class="popup-text">
                                            <span></span>
                                            <img class="document-icon" alt="" style="width:20px;" />
                                            <a class="route-pdf">
                                            </a>
                                        </div>

                                        <!-- resrobot.se search form -->

                                        <div style="margin-top:30px;">
                                            <input type="hidden" name="queryPageDisplayed" value="yes" />
                                            <input type="hidden" name="application" value="PRIVATETRANSPORT" />
                                            <input type="hidden" id="jsEnabled" name="jsEnabled" value="yes" disabled="disabled" />

                                            <script type="text/javascript">
                                                document.getElementById('jsEnabled').disabled = false;
                                            </script>

                                            <div>
                                                <label for="resrobotS">
                                                    <span>@Model.GetHereFromTerm:</span>
                                                </label>
                                                <div>
                                                    <input type="text" style="width:150px; border:1px solid gray;" id="resrobotS" name="REQ0JourneyStopsS0G" value="" maxlength="60" />
                                                    <input type="hidden" id="resRobotSID" name="REQ0JourneyStopsS0ID" value="" />
                                                    <input type="hidden" id="resrobotSALL" name="SALL" value="1" />
                                                </div>
                                            </div>

                                            <div>
                                                @* Resrobot id string as value *@
                                                <input type="hidden" id="resRobotZID" name="REQ0JourneyStopsZ0ID" />
                                                <input type="hidden" name="start" value="Senare" />
                                                <input type="button" onclick="return submitForm(this);" name="start" value="@Model.SearchTerm" alt="@Model.SearchTerm" />
                                                @*<img src="/images/mapicons/resrobot_logo.png" style="width:53px;" />*@
                                            </div>

                                            <script type="text/javascript">
                                                function submitForm(button) {
                                                    inputGenAction = "http://reseplanerare.resrobot.se/bin/query.exe/sn?L=vs_resrobot&";
                                                    if (document.getElementById("resRobotSID"))
                                                        inputGenAction += "SID=" + document.getElementById("resRobotSID").value + "&";
                                                    if (document.getElementById("resrobotS"))
                                                        inputGenAction += "S=" + document.getElementById("resrobotS").value + "&";
                                                    if (document.getElementById("resrobotSALL"))
                                                        inputGenAction += "SALL=" + document.getElementById("resrobotSALL").value + "&";
                                                    if (document.getElementById("resRobotZID"))
                                                        inputGenAction += "ZID=" + document.getElementById("resRobotZID").value + "&";
                                                    inputGenAction += "externalCall=yes&queryPageDisplayed=yes&application=PRIVATETRANSPORT&jsEnabled=yes&";
                                                    inputGenAction += button.name + "=" + button.value;
                                                    window.open(inputGenAction);
                                                    return false;
                                                }
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    break;
            }
        }
    </div>
