@model SkanskaLandskap15.Models.Shared.NewsItemModel

  <h1>@Model.Title</h1>

    <div class="block">

        @if (Model.NewsImage != null)
        {
            <figure class="image">
                <!--<img src='@Model.NewsImage.GetCropUrl("umbracoFile", "Bildspel/Aktuelltbild")' alt="" />-->

                <picture>
                    <source srcset='@Model.NewsImage.GetCropUrl("umbracoFile", "Puff, stor").Replace("1200", "960").Replace("582", "660")' media="(max-width: 500px)" />
                    <img src='@Model.NewsImage.GetCropUrl("umbracoFile", "Bildspel/Aktuelltbild")' alt=""/>
                </picture>

                @if (Model.ImageCaption != String.Empty && Model.ImageCaption != null)
                {
                    <figcaption class="byline">@Model.ImageCaption</figcaption>
                }
            </figure>
        }

        <div class="block-inner block-max">

            <!--<h2 class="underlined butterflies mobhide">@Model.Title</h2>-->

            @if (Model.Intro != String.Empty)
            {
                <p class="preamble">@Model.Intro</p>
            }

            @{
                @* NOTE: Empty html tags like <p>  </p> might still exist *@
                if (!String.IsNullOrWhiteSpace(Model.Text.ToString()))
                {
                    <div class="bodytext">@Model.Text</div>
                }
            }

            <div class="meta-info">
                <strong>@Model.PublishedTerm:</strong> <span>@Model.PublishingDate</span>
            </div>

            @* Using addthis instead
            @Html.Partial("Partials/Social", Model) *@

        </div>
    </div>
