@model SkanskaLandskap15.Models.Shared.NewsItemModel

@{

    // Apply layout due to the site part where this view should be displayed
    switch (Model.SitePart)
    {
        // START PAGE
        case "StartPage":

            // Make sure news items are selected in backoffice
            if (Model.NewsCollection.Any())
            {

                int itemsCount = Model.NewsCollection.Count();

                <section class="latest-news">
				
				 @* Make sure there are at least three published news items *@
                 @if (itemsCount >= 3)
				 {

                    <h1>@Model.NewsTitleTerm</h1>

                    <div class="cards grid gallery js-flickity swipeable"
                      data-flickity-options='{ "imagesLoaded": true, "cellSelector": ".gallery-cell", "wrapAround": false, "cellAlign": "center", "contain": false, "pageDots": true, "prevNextButtons": false, "watchCSS": true, "setGallerySize": true }'>

                        <!-- Determine the layout due to number of selected news items -->
                        @switch (itemsCount)
                        {

                            // THREE NEWS ITEMS
                            case 3:

                                // Option 1: One large and two small news items
                                if(Model.FeaturedNewsItem)
                                {
                                    // Initiate counter
                                    int counter = 0;

                                    foreach (var item in Model.NewsCollection)
                                    {
                                        // Enumerate counter
                                        counter += 1;

                                        if (counter == 1)
                                        {
                                            @SetLargeItem(item, Model);
                                        }
                                        else
                                        {
                                            @SetSmallItem(item, Model);
                                        }
                                    }
                                }

                                // Option 2: Three medium sized news items
                                else
                                {
                                    {
                                        foreach (var item in Model.NewsCollection)
                                        {
                                            @SetMediumItem(item, Model);
                                        }
                                    }
                                }
                                break;

                            // FOUR NEWS ITEMS (= all of them small sized)
                            case 4:

                                foreach (var item in Model.NewsCollection)
                                {
                                    @SetSmallItem(item, Model);
                                }
                                break;
                        }
                    </div>

                    <a href="@Model.NewsLandingPageUrl#news-anchor" class="more button turquoise">@Model.SeeMoreNewsTerm.ToUpper()</a>
				  }
                </section>
            }

            break;


        // FULLTOFTA
        case "Fulltofta":

            // Make sure news items exists
            if (Model.NewsCollection.Any())
            {
                <div class="content latest-news">

                    <h1>@Model.NewsTitleTerm</h1>

                    <div class="cards grid gallery swipeable js-flickity"
                      data-flickity-options='{ "imagesLoaded": true, "cellSelector": ".gallery-cell", "wrapAround": false, "cellAlign": "center", "contain": false, "pageDots": true, "prevNextButtons": false, "watchCSS": true, "setGallerySize": true }'>
                        @{
                            foreach (var item in Model.NewsCollection)
                            {
                                @SetMediumItem(item, Model);
                            }
                        }
                    </div>
                </div>
            }
            break;
    }



    @helper SetSmallItem(SkanskaLandskap15.Models.Shared.NewsItemModel item, SkanskaLandskap15.Models.Shared.NewsItemModel Model)
    {
        <a href="@item.Url" class="latest-news-item grid-item grid-1 small-card card gallery-cell">

            <!-- Make sure image exist -->
            @if (item.NewsImage != null)
            {
                @*<div class="image">*@
                <div>
                  <picture>
                      <source srcset='@item.NewsImage.GetCropUrl("umbracoFile", "Bildspel/Aktuelltbild").Replace("1200", "600").Replace("582", "291")' media="(max-width: 700px)" />
                      <img src='@item.NewsImage.GetCropUrl("umbracoFile", "Puff, stor")' alt="" />
                  </picture>
                </div>
            }
            <div class="content">
                <span class="date">
                    @item.PublishingDate
                </span>
                <h2>@item.Title</h2>
                <p class="bodytext">
                    @item.Intro
                </p>
                <span class="read-more">@Model.ReadMoreTerm</span>
            </div>
        </a>
    }

    @helper SetMediumItem(SkanskaLandskap15.Models.Shared.NewsItemModel item, SkanskaLandskap15.Models.Shared.NewsItemModel Model)
    {
        <a href="@item.Url" class="latest-news-item grid-item grid-1 small-card card gallery-cell">

            <!-- Make sure image exist -->
            @if (item.NewsImage != null)
            {

                <div class="news-image">
                    @*<img src='@item.NewsImage.GetCropUrl("umbracoFile", "Puff, stor")' alt="" />*@
                    <picture>
                        <source srcset='@item.NewsImage.GetCropUrl("umbracoFile", "Bildspel/Aktuelltbild").Replace("1200", "600").Replace("582", "291")' media="(max-width: 700px)" />
                        <img src='@item.NewsImage.GetCropUrl("umbracoFile", "Puff, stor")' alt="" />
                    </picture>
                </div>

            }
            <div class="content">
                <h2>@item.Title</h2>
                <span class="date">
                    @item.PublishingDate
                </span>
                <p class="bodytext">
                    @item.Intro
                </p>
                <span class="read-more">@Model.ReadMoreTerm</span>
            </div>
        </a>
    }

    @helper SetLargeItem(SkanskaLandskap15.Models.Shared.NewsItemModel item, SkanskaLandskap15.Models.Shared.NewsItemModel Model)
    {
        <a href="@item.Url" class="latest-news-item grid-item grid-2 big-card card gallery-cell">
            @* Make sure image exist *@
            @if (item.NewsImage != null)
            {
                @* the img tag is here to allow the flickity gallery to calculate the size of the image *@
                @* <img src='@item.NewsImage.GetCropUrl("umbracoFile", "Puff, stor")' alt="" /> *@

                <picture>
                    <source srcset='@item.NewsImage.GetCropUrl("umbracoFile", "Bildspel/Aktuelltbild").Replace("1200", "600").Replace("582", "291")' media="(max-width: 700px)" />
                    <img src='@item.NewsImage.GetCropUrl("umbracoFile", "Puff, stor")' alt="" />
                </picture>
                <div class="image image--full" style='background-image: url(@item.NewsImage.GetCropUrl("umbracoFile", "Puff, stor"))'></div>

            }

            <div class="content-wrapper">
                <div class="content">
                    <span class="date">
                        @item.PublishingDate
                    </span>
                    <h2>@item.Title</h2>
                    <p class="bodytext">
                        @item.Intro
                    </p>
                </div>
            </div>

            <span class="read-more">@Model.ReadMoreTerm</span>
            <span class="more button button--arrow turquoise">@Model.ReadMoreTerm</span>
        </a>
    }

}
