@model SkanskaLandskap15.Models.Shared.SubPagesListModel
    <div class="cards grid gallery js-flickity"
      data-flickity-options='{ "imagesLoaded": true, "cellSelector": ".gallery-cell", "wrapAround": false, "cellAlign": "center", "contain": false, "pageDots": true, "prevNextButtons": false, "watchCSS": true, "setGallerySize": true }'>
        <!-- Iterate over the tips collection (max 3 items) -->
        @foreach (var item in Model.SelectedPuffsCollection)
        {
            <div class="card grid-item gallery-cell">
                <div class="image">
                  <span class="purple tag-title">@item.Tag</span>
                  <img src='@item.Image.GetCropUrl("umbracoFile", "Tumnagel standard")' alt='' />
                </div>
                <div class="content">
                  <h2>@item.Title</h2>
                  <p>@item.Intro</p>
                  <a href="@item.Url">@item.ReadMoreTerm</a>
                </div>
            </div>
        }
    </div>
