@model SkanskaLandskap15.Models.Shared.PuffsListModel

@{

    if (Model.PuffsExists)
    {

        <div class="pushes areas">

            @foreach (var puff in Model.PuffsCollection)
            {

                <div class="push misc grid">

                    <div class="image grid-1">

                        @* IMAGE *@
                        @switch(puff.PortraitImage)
                        {
                            // Portrait format
                            case true :
                                <img src='@puff.Image.GetCropUrl("umbracoFile", "Puff, portrattformat")' alt='' />
                                break;

                            // Standard format (landscape)
                            default:
                                <img src='@puff.Image.GetCropUrl("umbracoFile", "Puff, stor")' alt='' />
                                break;
                        }
                    </div>

                    <div class="content grid-2">
                        @* TITLE *@
                        <h3>@puff.Title</h3>

                        @* TEXT (Empty html tags like <p>  </p> might still exist) *@
                        @if (!String.IsNullOrWhiteSpace(puff.Text.ToString()))
                        {
                            <p>@puff.Text</p>
                        }

                        @* LINK(S) (optional) *@
                        @if (puff.LinksExists == true)
                        {
                            // Iterate over the links collection (in this case there should be just one link)
                            <ul>
                            @foreach (var link in puff.LinksCollection)
                            {
                                <li><a href="@link.Url" target="@link.Target">@link.Title</a></li>
                            }
                            </ul>
                        }
                    </div>

                </div>

            }
        </div>
    }
}
