@model SkanskaLandskap15.Models.Shared.SubPagesListModel

@{

    if (Model.PuffsCollection.Any())
    {

        var grid = Model.PuffsCollection.Count() > 2 ? "grid-33" : "grid-50";

        if (@Model.TitleTerm != String.Empty)
        {
            <h1>@Model.TitleTerm</h1>
        }

        var flickityClasses = Model.Gallery ? "gallery swipeable js-flickity" : "";
        var flickityOptions = Model.Gallery ? "{ \"imagesLoaded\": true, \"cellSelector\": \".gallery-cell\", \"wrapAround\": false, \"cellAlign\": \"center\", \"contain\": false, \"pageDots\": true, \"prevNextButtons\": false, \"watchCSS\": true, \"setGallerySize\": true }" : "";

        <div class="cards grid @flickityClasses" data-flickity-options='@flickityOptions'>

            <!-- Iterate over the sub pages collection -->
            @foreach (var puff in Model.PuffsCollection)
            {
                <a href="@puff.Url" class="card grid-item @grid gallery-cell">
                    <figure class="image">
                        @if (@puff.Tag != String.Empty && @puff.Tag != null) {
                            <span class="purple tag-title">@puff.Tag</span>
                        }

                        <picture>
                            <source srcset='@puff.Image.GetCropUrl("umbracoFile", "Bildspel/Aktuelltbild").Replace("1200", "600").Replace("582", "291")' media="(max-width: 700px)" />
                            <img src='@puff.Image.GetCropUrl("umbracoFile", "Puff, stor")' alt="" />
                        </picture>

                        @* Make sure this is an accommodation page and an image exists *@
                        @if (puff.FacilitiesCollection != null && puff.MapThumbnailPath != null)
                        {
                            <div class="hover-image">
                                <img src="@puff.MapThumbnailPath" alt="" />
                            </div>
                        }
                    </figure>
                    <div class="content">

                        <!-- Display guest ratings for accommodation page that is not tagged with Boka/Book or Övrigt/Other -->
                        @if (puff.GuestRatings != null)
                        {
                            <div class="rating">
                                <div class='star-rating star'>
                                    <span class="current-rating" style="width: @puff.GuestRatings.Percentage%"></span>
                                </div>
                            </div>
                        }

                        <h2>@puff.Title</h2>

                        <div class="bodytext">

                            @* Make sure this is an accommodation page and facilities are set *@
                            @if (puff.FacilitiesCollection != null && puff.FacilitiesCollection.Any())
                            {
                                <ul class="facilities">
                                @* Cabin facilities for Accommodation page *@
                                @foreach (var item in puff.FacilitiesCollection)
                                {
                                    <li>
                                        @if(item.NumOfBeds != string.Empty)
                                        {
                                            @Html.Raw(item.NumOfBeds)
                                        }
                                        <img src="@item.IconPath" alt="" />
                                    </li>
                                }
                                </ul>
                            }

                            <p>@puff.Intro</p>

                        </div>

                        <span class="read-more">@puff.ReadMoreTerm</span>
                    </div>
                </a>
            }
        </div>
    }
}
