@model SkanskaLandskap15.Models.Shared.PuffsListModel

@{



    // Make sure puff slides exists
    if (Model.PuffsExists == true)
    {

        <div class="more-tips">

		<!-- TITLE -->
        @if (Model.MoreInfoTitle != string.Empty)
        {
            <h1>@Model.MoreInfoTitle</h1>
        }

        <div class="gallery js-flickity"
            data-flickity-options='{ "imagesLoaded": true, "cellSelector": ".gallery-cell", "wrapAround": false, "cellAlign": "center", "contain": false, "pageDots": true, "prevNextButtons": true, "setGallerySize": true }'>

            <!-- Iterate over the slides -->
            @foreach(var puff in Model.PuffsCollection)
            {

                <div class="gallery-cell">

                <!-- LEFT COLUMN -->

                <div class="image">
                    <!-- IMAGE (required) -->
                    @*<img src='@puff.Image.GetCropUrl("umbracoFile", "Puff, stor")' alt="" />*@
                    <picture>
                        <source srcset='@puff.Image.GetCropUrl("umbracoFile", "Puff, stor")' media="(min-width: 700px) and (max-width: 800px)" />
                        <source srcset='@puff.Image.GetCropUrl("umbracoFile", "Bildspel/Aktuelltbild").Replace("1200", "600").Replace("582", "291")' media="(max-width: 699px)" />
                        <img src='@puff.Image.GetCropUrl("umbracoFile", "Puff, stor").Replace("480", "960").Replace("330", "660")' alt="" />
                    </picture>
                </div>


                <!-- RIGHT COLUMN -->
                <div class="content">
                    <div class="inner-content">

                    <!-- TITLE (required) -->
                    @*<h3>@puff.Title</h3>*@
                    <h2>@puff.Title</h2>

                    <!-- TEXT (required) -->
                    <div>@puff.Text</div>

                    @* LINK(S) (optional) *@
                    @if (puff.LinksExists == true)
                    {
                        // Iterate over the links collection
                        <ul>
                            @foreach (var link in puff.LinksCollection)
                            {
                                <li><a href="@link.Url" target="@link.Target">@link.Title</a></li>
                            }
                        </ul>
                    }


                    </div>
                </div>

                </div>
            }
        </div>

        </div>
    }
}
