@model SkanskaLandskap15.Models.Shared.NewsItemModel

<a class="card grid-item gallery-cell @Model.GridClass" href="@Model.Url">
    @{
        // Make sure image exists
        if (Model.NewsImage != null)
        {

          <picture>
              <source srcset='@Model.NewsImage.GetCropUrl("umbracoFile", "Bildspel/Aktuelltbild").Replace("1200", "600").Replace("582", "291")' media="(max-width: 700px)" />
              <img src='@Model.NewsImage.GetCropUrl("umbracoFile", "Puff, stor")' alt="" />
          </picture>

          @*
          <figure class="image">
            <img src='@Model.NewsImage.GetCropUrl("umbracoFile", "Puff, stor")' alt="" />

            Caption
            @if (Model.ImageCaption != String.Empty)
            {
                <figcaption class="byline">@Model.ImageCaption</figcaption>
            }
          </figure>
          *@
        }

        <div class="content">
            <h2>@Model.Title</h2>

            <div class="date">
                @Model.PublishingDate
            </div>

            <div class="bodytext">
                @Model.Intro
            </div>

            <span class="read-more">@Model.UrlTitleTerm</span>
        </div>
    }
</a>
