@model SkanskaLandskap15.Models.Shared.PuffsListModel

@{

    if (Model.PuffsCollection.Any())
    {

        var grid = Model.PuffsCollection.Count() > 2 ? "grid-33" : "grid-50";       

        var flickityClasses = Model.Gallery ? "gallery swipeable js-flickity" : "";
        var flickityOptions = Model.Gallery ? "{ \"imagesLoaded\": true, \"cellSelector\": \".gallery-cell\", \"wrapAround\": false, \"cellAlign\": \"center\", \"contain\": false, \"pageDots\": true, \"prevNextButtons\": false, \"watchCSS\": true, \"setGallerySize\": true }" : "";

        <div class="cards grid @flickityClasses" data-flickity-options='@flickityOptions'>

            <!-- Iterate over the sub pages collection -->
            @foreach (var puff in Model.PuffsCollection)
            {
                if (puff.LinksExists)
                {
                    <a href="@puff.LinksCollection.First().Url" target="@puff.LinksCollection.First().Target" class="card grid-item @grid gallery-cell">

                        <figure class="image">

                            <picture>
                                <source srcset='@puff.Image.GetCropUrl("umbracoFile", "Bildspel/Aktuelltbild").Replace("1200", "600").Replace("582", "291")' media="(max-width: 700px)" />
                                <img src='@puff.Image.GetCropUrl("umbracoFile", "Puff, stor")' alt="" />
                            </picture>

                        </figure>
                        <div class="content">

                            <h2>@puff.Title</h2>

                            <div class="bodytext">

                                <p>@puff.Text</p>

                            </div>

                            <span class="read-more" style="width: 100%; padding: 0 20px;">@puff.LinksCollection.First().Title</span>
                        </div>
                    </a>
                }
                else
                {

                    <div class="card grid-item @grid gallery-cell">
                        <figure class="image">

                            <picture>
                                <source srcset='@puff.Image.GetCropUrl("umbracoFile", "Bildspel/Aktuelltbild").Replace("1200", "600").Replace("582", "291")' media="(max-width: 700px)" />
                                <img src='@puff.Image.GetCropUrl("umbracoFile", "Puff, stor")' alt="" />
                            </picture>

                        </figure>
                        <div class="content">

                            <h2>@puff.Title</h2>

                            <div class="bodytext">

                                <p>@puff.Text</p>

                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    }
}
