@model SkanskaLandskap15.Models.Shared.SubPagesListModel


@{

    <div class="cards grid gallery js-flickity swipeable area-accommodations"
    data-flickity-options='{ "imagesLoaded": true, "cellSelector": ".gallery-cell", "wrapAround": false, "cellAlign": "center", "contain": false, "pageDots": true, "prevNextButtons": false, "watchCSS": true, "setGallerySize": true }'>

        <!-- Iterate over accommodation tips (max 2 items) -->
        @foreach (var item in Model.SelectedAccommodationsCollection)
        {
            <a href="@item.Url" class="card grid-2 grid-item gallery-cell">
                <span class="purple tag-title">@item.Tag</span>

                @*<img src='@item.Image.GetCropUrl("umbracoFile", "Puff, stor")' alt='' />*@
                <picture>
                    <source srcset='@item.Image.GetCropUrl("umbracoFile", "Bildspel/Aktuelltbild").Replace("1200", "600").Replace("582", "291")' media="(max-width: 700px)" />
                    <img src='@item.Image.GetCropUrl("umbracoFile", "Puff, stor")' alt="" />
                </picture>
                <div class="image image--full" style='background-image: @item.Image.GetCropUrl("umbracoFile", "Puff, stor"))'>
                </div>


                @*<div class="image">
                    <img src='@item.Image.GetCropUrl("umbracoFile", "Puff, stor")' alt='' />
                </div>*@
                <div class="content-wrapper">
                  <div class="content">
                    <h2>@item.Title</h2>
                    <p>@item.Intro</p>
                  </div>
                </div>

                @*<a href="@item.Url"><span class="more button button--arrow turquoise">@item.ReadMoreTerm</span></a>*@
                <span class="read-more">@item.ReadMoreTerm</span>
            </a>
        }
    </div>
}
