@model SkanskaLandskap15.Models.Shared.SubPagesListModel

<div class="pushes areas">

    <!-- Iterate over the collection -->
    @foreach (var item in Model.SelectedAreasCollection)
    {
        <h2 class="underlined butterflies">@item.Title</h2>

        <div class="push area grid">
            <div class="image grid-1">
                <picture>
                    <source srcset='@item.Image.GetCropUrl("umbracoFile", "Bildspel/Aktuelltbild").Replace("1200", "600").Replace("582", "291")' media="(max-width: 700px)" />
                    <img src='@item.Image.GetCropUrl("umbracoFile", "Puff, stor")' alt='' onload="showImageCaption(this);"/>
                </picture>
            </div>
            <div class="content grid-2">
              <h3>@item.SubTitle</h3>
              <p>@item.Intro</p>
              <a href="@item.Url">@item.ReadMoreTerm</a>
            </div>
        </div>
    }

  </div>
