@model SkanskaLandskap15.Models.Shared.EventItemModel

<a class="card grid-item gallery-cell @Model.GridClass" href="@Model.Url">

    @{
        // Make sure image exists
        if (Model.EventImage != null)
        {
            <figure class="image">
                @* Tag *@
                <span class="purple tag-title">@Model.DateInfo</span>

                <picture>
                    <source srcset='@Model.EventImage.GetCropUrl("umbracoFile", "Bildspel/Aktuelltbild").Replace("1200", "600").Replace("582", "291")' media="(max-width: 700px)" />
                    <img src='@Model.EventImage.GetCropUrl("umbracoFile", "Puff, stor")' alt="" />
                </picture>
                @*<img src='@Model.EventImage.GetCropUrl("umbracoFile", "Puff, stor")' alt="" />*@

                @* Caption
                @if (Model.ImageCaption != String.Empty)
                {
                    <figcaption class="byline">@Model.ImageCaption</figcaption>
                }
                 *@
            </figure>
        }

        <div class="content">
            <h2>@Model.Title</h2>
            <span class="location-term">@Model.LocationTerm:</span>
            <span class="location-name">@Model.LocationName</span>
            <p class="bodytext">@Model.Intro</p>
            <span class="read-more">@Model.UrlTitleTerm</span>
        </div>
    }
</a>
