@model SkanskaLandskap15.Models.Shared.SearchResultsModel


@*
    NOTE:
    1. The div and input id:s in this partial must not be changed.
    2. The boolean property @Model.AccessWithoutSearch might be used for styling this page
       when accessing it from e.g. a 404 page.
*@


<div id="paged-result">

    @*
    <div class="hidden-search-term">
        @Model.SearchTerm
    </div>
    *@

    @* Search box *@
    @*
    <div id="resultpage-search" class="search-function">
        <input id="searchbox-on-resultpage" name="temp" class="s-result" type="text" value="@Model.SearchTerm" />
        <input id="search-submit" type="image" src="/images/search.png" />
        <div id="search-form-wrapper"></div>
    </div>
    *@


    <form action="@Model.SearchUrlName">
        <input id="search-field" name="term" class="search-field" type="text" value="@Model.SearchTerm" placeholder="@Model.SearchPlaceHolderTerm" autocomplete="off" />
        <button id="search-button" type="submit" class="search-button no-style">
            <svg viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <path d="M31.7631077,27.840233 L23.2912628,19.3685437 C24.5300978,17.4161553 25.2485444,15.1026796 25.2485444,12.624233 C25.2486221,5.6632233 19.5853986,0 12.6242334,0 C5.66322347,0 -1.77635684e-15,5.6632233 -1.77635684e-15,12.624233 C-1.77635684e-15,19.5852427 5.66322347,25.248466 12.6242334,25.248466 C14.9796509,25.248466 17.1860199,24.5994563 19.0751074,23.4716893 L27.6033406,32 L31.7631077,27.840233 L31.7631077,27.840233 Z M4.7061749,12.624233 C4.7061749,8.25817476 8.258175,4.70609709 12.6242334,4.70609709 C16.9902918,4.70609709 20.5424472,8.25817476 20.5424472,12.624233 C20.5424472,16.9902913 16.9903694,20.5422913 12.6242334,20.5422913 C8.258175,20.5422913 4.7061749,16.9902913 4.7061749,12.624233 L4.7061749,12.624233 Z" id="search-icon" fill="#fff"></path>
            </svg>
        </button>
    </form>

    @*<form action="sok">
        <input id="search-field" name="term" class="search-field" type="text"  value="@Model.SearchTerm" placeholder="S&ouml;k" autocomplete="off" />
        <button id="search-button" type="submit" class="search-button no-style">
            <svg viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <path d="M31.7631077,27.840233 L23.2912628,19.3685437 C24.5300978,17.4161553 25.2485444,15.1026796 25.2485444,12.624233 C25.2486221,5.6632233 19.5853986,0 12.6242334,0 C5.66322347,0 -1.77635684e-15,5.6632233 -1.77635684e-15,12.624233 C-1.77635684e-15,19.5852427 5.66322347,25.248466 12.6242334,25.248466 C14.9796509,25.248466 17.1860199,24.5994563 19.0751074,23.4716893 L27.6033406,32 L31.7631077,27.840233 L31.7631077,27.840233 Z M4.7061749,12.624233 C4.7061749,8.25817476 8.258175,4.70609709 12.6242334,4.70609709 C16.9902918,4.70609709 20.5424472,8.25817476 20.5424472,12.624233 C20.5424472,16.9902913 16.9903694,20.5422913 12.6242334,20.5422913 C8.258175,20.5422913 4.7061749,16.9902913 4.7061749,12.624233 L4.7061749,12.624233 Z" id="search-icon" fill="#fff"></path>
            </svg>
        </button>
    </form>*@


    @* Result information *@
    <div class="resultpage-message">
        @Html.Raw(Model.Message)
    </div>

    <div id="search-result">
        @{
            // Make sure there was as result
            if (Model.Number > 0)
            {
                <ul>
                @foreach (var item in Model.SearchResultsCollection)
                {
                    <li class="search-result-item">
                        <h3>
                            <a class="title" href="@item.Url">
                                @item.Title
                            </a>
                        </h3>
                        <p>
                            @item.PreviewText
                        </p>
                    </li>
                }
                </ul>

                // Include a pagination function if the result exceed the specified page size.
                // Note: Pagination is managed via ajax (see search.js).
                if (Model.Number > Model.PageSize)
                {
                    <div class="pager">
                        <span>
                            @Html.Raw(Model.PaginationMessage)
                        </span>

                         @Html.PagedListPager(Model.SearchResultsCollection, page => Url.Action("SearchResults", new { page, term = Model.SearchTerm, nodeId = Model.NodeId, language = Model.Language }), new PagedListRenderOptions { LinkToFirstPageFormat = "&laquo", LinkToPreviousPageFormat = "&lsaquo;", LinkToNextPageFormat = "&rsaquo;", LinkToLastPageFormat = "&raquo;" })

                    </div>
                }
            }
        }
    </div>
</div>
