@model SkanskaLandskap15.Models.Shared.MapInteractivityModel

    <ul class="services">

        <!-- Iterate over service types -->
        @foreach (var item in Model.ServiceTypesCollection)
        {
          <li>
            <span class="icon">
              <svg class="svg-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="@item.IconPath#Lager_1"></use></svg>
            </span>
            <span class="title">@item.Title <span class="count">(@item.Counts)</span></span>
          </li>
        }

    </ul>
