@model SkanskaLandskap15.Models.Shared.SlideshowModel

@{

    // Make sure the editor has not marked the slideshow module as hidden in backoffice
    if (Model.Hidden == false)
    {

        // Make sure slides exists
        if (Model.SlidesExists == true)
        {

          <div class="more-tips">

          <!-- TITLE -->
          @if (Model.Title != string.Empty)
          {
              <h1>@Model.Title</h1>
          }

            <div class="gallery js-flickity"
              data-flickity-options='{ "imagesLoaded": true, "cellSelector": ".gallery-cell", "wrapAround": false, "cellAlign": "left", "contain": true, "pageDots": false, "setGallerySize": true }'>

                <!-- Iterate over the slides -->
                @foreach(var slide in Model.SlidesCollection)
                {

                  <div class="gallery-cell">

                    <!-- LEFT COLUMN -->

                    <div class="image">
                        <!-- IMAGE (required) -->
                        <img src='@slide.Image.MediaNode.GetCropUrl("umbracoFile", "Puff, stor")' alt="" />
                    </div>


                    <!-- RIGHT COLUMN -->
                    <div class="content">
                      <div class="inner-content">
                        <!-- SUBTITLE (required) -->
                        <h3>@slide.SubTitle</h3>

                        <!-- TEXT (required) -->
                        <div>@slide.Text</div>

                        <!-- READ MORE-LINK (optional) -->
                        @if (slide.LinksExists == true)
                        {
                            // Iterate over the links collection (in this case there should be just one link)
                            foreach (var link in slide.LinksCollection)
                            {
                                <a href="@link.Url" target="@link.Target">@Model.ReadMoreTerm.ToUpper()</a>
                            }
                        }
                      </div>
                    </div>

                  </div>
                }
            </div>

          </div>
        }
    }
}
