@model SkanskaLandskap15.Models.Shared.SlideshowModel

<div class="gallery js-flickity lazyloaded"
  data-flickity-options='{ "imagesLoaded": true, "cellSelector": ".gallery-cell", "wrapAround": false, "cellAlign": "left", "contain": true, "pageDots": true, "prevNextButtons": true, "setGallerySize": true, "lazyLoad": 1 }'>

@{
    foreach (var slide in Model.SlidesCollection)
    {

        <figure class="gallery-cell" style="width: 100%;">
            <picture>
                <source srcset='@slide.Image.MediaNode.GetCropUrl("umbracoFile", "Puff, stor").Replace("480", "960").Replace("330", "660")' media="(max-width: 500px)" />
                <img data-flickity-lazyload='@slide.Image.MediaNode.GetCropUrl("umbracoFile", "Bildspel/Aktuelltbild")' alt="" onload="showImageCaption(this);"/>
            </picture>

            @if (slide.Image.Caption != string.Empty || slide.Image.Photographer != string.Empty)
            {
                <figcaption class="byline">

                    @if (slide.Image.Caption != string.Empty)
                    {
                        <span class="caption">@slide.Image.Caption</span>
                    }

                    @if (slide.Image.Photographer != string.Empty)
                    {
                        <span class="photographer">@slide.Image.Photographer</span>
                    }

                </figcaption>
            }

        </figure>
    }
}

</div>
