@model SkanskaLandskap15.Models.Shared.SubMenuModel


    <!-- OBS! Instruktioner för nytt strövområde med boende finns sist i denna fil. -->

    @{
        <!-- PUFFS -->

        // Make sure puffs exists
        if (Model.PuffsExists)
        {
            <div class="submenu--block submenu--top">

                <h3>@Model.PuffsTitleTerm</h3>

                <ul>
                    <!-- Iterate over the puffs collection -->
                    @foreach (var puff in Model.PuffsCollection)
                    {
                        <li>
                            <a href="@puff.Url">
                                <figure class="image">
                                    <span class="purple tag-title">@puff.Tag</span>
                                    <img src="@puff.Image.GetCropUrl("umbracoFile", "Puff, liten")" alt="@puff.Title" />
                                    <div class="title">@puff.Title</div>
                                </figure>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        }


        <!-- LINKS -->

        // Make sure links exists
        if (Model.LinksExists)
        {
            <div class="submenu--block submenu--bottom">

                <h3>@Model.LinksTitleTerm</h3>


                @* ACCOMMODATIONS SUB MENU *@

                @* Links should be listed by category (Accommodations)) *@
                @if (Model.LinkCategories != null)
                {

                    @* COLUMN 1: FULLTOFTA & KLÅVERÖD *@
                    <div class="submenu--split">					
						@{
							int counter = 0;                           

							//Iterate over the categories collection 
							foreach (var item in Model.LinkCategories)
							{ 
								// Enumerate counter
								counter += 1;
							
								// Filter out first and second categories (second = Klåveröd)
								if(item.CategoryName == "Fulltofta" || counter == 2)                                                              
								{
									@CreateCategorySection(item, Model);                                 
								}
							}
						}
                    </div>

                    @* COLUMN 2: SNOGEHOLM *@
                    <div class="submenu--split">

                        @* Iterate over the categories collection *@
                        @foreach (var item in Model.LinkCategories)
                        {
                            // Filter out categories
                            if (item.CategoryName == "Snogeholm")
                            {
                                @CreateCategorySection(item, Model);
                            }
                        }
                    </div>

                    @* COLUMN 3: BOKA & ÖVRIGT *@
                    <div class="submenu--split">
                          @{
                                int counter2 = 0;                               
                                                                  
                                // Iterate over the categories collection
                                foreach (var item in Model.LinkCategories)
                                {
                                    // Enumerate counter
                                    counter2 += 1;
                                    
                                    // Filter out fourth and fifth categories (fifth = Övrigt)
                                    if (item.CategoryName == "Boka" || counter2 == 5)
                                    {
                                        @CreateCategorySection(item, Model);
                                    }
                                }
                            }
                    </div>
                }


                @* ANY OTHER SUB MENU *@

                // List the links distributed in three columns
                else
                {

                  <div class="submenu--padder">

                        @* Utan det här elementet visas inte kolumn 1 - skumt... *@
                        <span></span>

                        @* COLUMN 1 *@
                        @if (Model.LinksCollectionColumn1.Any())
                        {
                            <ul class="submenu--split">
                                @foreach (var item in Model.LinksCollectionColumn1)
                                {
                                    <li><a href="@item.Url">@item.Title</a></li>
                                }
                            </ul>
                        }

                        @* COLUMN 2 *@
                        @if (Model.LinksCollectionColumn2.Any())
                        {
                            <ul class="submenu--split">
                                @foreach (var item in Model.LinksCollectionColumn2)
                                {
                                    <li>
                                        <a href="@item.Url">@item.Title</a>
                                    </li>
                                }
                            </ul>
                        }

                        @* COLUMN 3 *@
                        @if (Model.LinksCollectionColumn3.Any())
                        {
                            <ul class="submenu--split">
                                @foreach (var item in Model.LinksCollectionColumn3)
                                {
                                    <li>
                                        <a href="@item.Url">@item.Title</a>
                                    </li>
                                }
                            </ul>
                        }

                    </div>

                }
            </div>
        }


        @helper CreateCategorySection(SkanskaLandskap15.Models.Shared.SubMenuLinkCategoryModel item, SkanskaLandskap15.Models.Shared.SubMenuModel Model)
        {
            @* Sub title *@
            <div class="submenu--item">

                <h4>@item.CategoryName</h4>

                @* Iterate over the links collection *@
                <ul>
                    @foreach (var link in Model.LinksCollection)
                    {
                        @* Look for link that belongs to current category *@
                        if (item.CategoryId == link.CategoryId)
                        {
                            <li>
                                <a href="@link.Url">@link.Title</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        }
    }



    <!--    

    Instruktioner för nytt strövområde med boende
    ----------------------------------------------

    1. Ta fram karta till landningssidan Bo (visas vid hover av puff).

	    a. Skapa kartbild med markör för området.

	    b. Bilden måste vara i jpg-format och döpas efter områdets url-namn, t ex arriesjon (Arriesjön).

	    c. Placera filen i följande katalog: /assets/images/thumbnailmaps


    2. Hantera området i sajtens undermeny

	    a. Öppna filen /Views/Partials/SubMenu.cshtml

	    b. Gå till sektionen LINKS | ACCOMMODATIONS SUB MENU

	    c. Justera razor-koden så att det nya området (CategoryName) placeras på lämpligt ställe i någon
	       av de 3 kolumnerna. Observera att områdesnamn med svenska tecken (åäö) representeras av en
	       räknarvariabel (counter) i looparna.  
         
    -->