@model SkanskaLandskap15.Models.Shared.AreasListModel
           
                     
  <ul>
    @foreach (var item in Model.AreasCollection)
    {
        <li>
            <a href="@item.Url">
                <div class="image">
                    <span class="turquoise area-title">@item.Name</span>
                    <img src="@item.Image.GetCropUrl("umbracoFile", "Puff, liten")" alt="@item.Title" />
                </div>
                <h2>@item.SubTitle</h2>
                <p>@item.Intro</p>
            </a>
        </li>
    }
</ul>