﻿@using umbraco.MacroEngines
@using System.Globalization
@using System.Linq
@using System.Net.Mail
@using System.Web
@using Umbraco
@using Umbraco.Web.Mvc
@using Umbraco.Core.Models
@using Umbraco.Web
@using System
@using System.Collections.Generic
@using System.Configuration
@using System.Web.Mvc

 


@helper HelperName(string name) {
    // your helper can contain code and/or markup, e.g.
    // var msg = "Hello " + name;
    // <p>@msg</p>
    // For more information, visit http://go.microsoft.com/fwlink/?LinkID=204658
}




@helper DisplayForm()
{

    var uHelper = new UmbracoHelper(UmbracoContext.Current);

    @uHelper.RenderMacro("FormsRenderForm", new { FormGuid = "b309e0ab-4f9b-43ab-9663-06a078814bf4" });
}




@helper TruncateAtWord(string value, int length)
{

    if (value == null || value.Trim().Length <= length)
    {
        @value;
    }
    else
    {
        int index = value.Trim().LastIndexOf(" ");

        while ((index + 3) > length)
        {
            index = value.Substring(0, index).Trim().LastIndexOf(" ");
        }

        if (index > 0)
        {
            value = value.Substring(0, index) + "...";
            @value;
        }
        else
        {
            value = value.Substring(0, length - 3) + "...";
            @value;
        }
    }
}



@helper Truncate(string input, int length)
{
    if (input.Length <= length)
    {
        @Html.Raw(input)
    }
    else
    {
        @Html.Raw(input.Substring(0, length))<text>...</text>
    }
}



@*Switches a date (-time) value into a nicer one formated like this: 15 Juni, 2014*@
@helper NiceDate(string strDate)
{
    DateTime date = Convert.ToDateTime(strDate);

    var dayString = date.Day;

    CultureInfo svSE = new CultureInfo("sv-SE");
    var monthString = date.ToString("MMMM", svSE);
    
    var yearString = date.Year;
         
    <span>@dayString @monthString, @yearString</span>;
}



@*Switches a date (-time) value into a nicer one formated like this: 15 Juni, kl 10.10 *@
@helper NiceDateAndTime(string strDate)
{
    DateTime date = Convert.ToDateTime(strDate);

    var dayString = date.Day;

    CultureInfo svSE = new CultureInfo("sv-SE");
    var monthString = date.ToString("MMMM", svSE);

    var hourString = date.Hour;
    string minuteString = date.Minute.ToString();
    
    if(minuteString.Length == 1)
    {
        minuteString = "0" + minuteString;        
    }   

    <span>@dayString @monthString, kl @hourString.@minuteString</span>;
}



@*Switches a date (-time) value into a nicer one formated like this: "15 Juni 2014" 0r "18 timmar" or "56 minuter" *@
@helper NiceDateOrTime(string strDate)
{

    // Convert the input date string parameter
    DateTime date = Convert.ToDateTime(strDate);

    // Extract day in month (number)
    string dayString = date.Day.ToString();

    // Extract year in four digits
    string yearString = date.Year.ToString();

    // Get Swedish culture
    CultureInfo svSE = new CultureInfo("sv-SE");

    // Extract month name in Swedish
    string monthString = date.ToString("MMMM", svSE);

    // Extract hour and minute
    string hourString = date.Hour.ToString();
    string minuteString = date.Minute.ToString();

    // Go back 24 hours
    DateTime yesterday = DateTime.Now.AddDays(-1);

    // Date value is within the latest 24 hours
    if (date > yesterday)
    {
        // Get time span between now and input date
        TimeSpan span = DateTime.Now.Subtract(date);

        // It's less than one hour since the posting was created so let's display the number of minutes ago
        if (span.Hours < 1)
        {
            // Get span in minutes
            minuteString = span.Minutes.ToString();

            if (minuteString == "0")
            {
                minuteString = "1";
            }
            if (minuteString == "1")
            {
                minuteString += " minut";
            }
            else
            {
                minuteString += " minuter";
            }
            <span>@minuteString</span>;
        }

        // It's from one and up to 24 hours since creation so we should display number of hours ago
        else
        {
            // Get span in hours
            hourString = span.Hours.ToString();

            if (Convert.ToInt32(hourString) == 1)
            {
                hourString += " timme";
            }
            else
            {
                hourString += " timmar";
            }
            <span>@hourString</span>;
        }
    }

    // Creation date is more than 24 hours away
    else
    {
        <span>@dayString @monthString @yearString</span>;
    }
}