@model IEnumerable<SkanskaLandskap15.Models.Shared.NavigationItemModel>

<ul class="desktop-menu" role="menu">
    @{
      var active = (HttpContext.Current.Request.Url.AbsolutePath == "/") ? "active " : string.Empty;

      <li class="home @active" data-id="0">
          <a href="/" class="menu-item" role="menuitem">
            <svg class="svg-icon white">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/home.svg#Lager_1" title="Hem"></use>
            </svg>
          </a>
      </li>
    }

     @* Iterate over the main menu items *@
    @foreach (var navItem in Model)
    {
        // Detect whether item is active
        active = navItem.Active ? "active " : string.Empty;

       // Make sure current item is not the "Alla sover ute" page (node id 5233 on live site and 4057 on dev site).
        @*if (navItem.NodeId != 5233 && navItem.NodeId != 4057)
        {
            <li class="@active" data-id="@navItem.NodeId">
                <a href="@navItem.Url" class="menu-item" role="menuitem">@navItem.Name</a>
            </li>
        }
        // Make something different for the "Alla sover ute" landing page.
        else { }*@

        <li class="@active" data-id="@navItem.NodeId">
            <a href="@navItem.Url" class="menu-item" role="menuitem">@navItem.Name</a>
        </li>       
    }
</ul>

<button type="button" class="no-style"><img src="/assets/images/icon_menu.svg" /></button>

<ul class="mobile-menu">

    @{
        active = (HttpContext.Current.Request.Url.AbsolutePath == "/") ? "active " : string.Empty;

        <li class="home @active" data-id="0">
            <a href="/" class="menu-item" role="menuitem">
              <svg class="svg-icon white">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/home.svg#Lager_1" title="Hem"></use>
              </svg>
            </a>
        </li>
    }

    @* Iterate over the main menu items *@
    @foreach (var navItem in Model)
    {
        // Detect whether item is active
        active = navItem.Active ? "active " : string.Empty;

        <li class="@active" data-id="@navItem.NodeId">
            <a href="@navItem.Url" class="menu-item" role="menuitem">@navItem.Name</a>
        </li>
    }

</ul>
