﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Intro.ascx.cs" Inherits="CMSImport.Controls.ImportSteps.Intro" %>
<%@ Register Assembly="controls" Namespace="umbraco.uicontrols" TagPrefix="umbraco" %>
<umbraco:Pane ID="ImportAsPane" runat="server">
<umbraco:PropertyPanel ID="SelectImportAsPropertyPanel" runat="server"><asp:ListBox ID="DataImportAsList" runat="server" Rows="1"/></umbraco:PropertyPanel>
    </umbraco:Pane>
