﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SelectDataSource.ascx.cs" Inherits="CMSImport.Controls.ImportSteps.SelectDataSource" %>
<%@ Register TagPrefix="umbraco" Namespace="umbraco.uicontrols" Assembly="controls" %>
<umbraco:Pane ID="ControlPane" runat="server">
<asp:Panel  ID="DatasourceUIPlaceholder" runat="server" />
    </umbraco:Pane>

