﻿@model AccommodationPageModel

@{
    Layout = "~/Views/Shared/_InteriorMaster.cshtml";
}


    <h1>@Model.Title</h1>

    <div class="block">

        @{
            // Make sure slideshow images were selected
            if (Model.SlideshowExists)
            {
                @Html.Partial("Slideshow", Model.Slideshow)
            }
        }

        <div class="block-inner block-max">

            <div class="rating-wrapper">
                <!-- GUEST RATINGS - Partial view: GuestRatings -->
                @{
                    // Make sure page is tagged with an area and not Boka/Book or Övrigt/Other.
                    if (Model.AreaTypeTag)
                    {
                        @Html.Action("GuestRatings", "GuestRatingsSurface",
                        new { model = Model.GuestRatings, contentType = Model.ContentType })
                    }
                }

                <div class="facilities-wrapper">
                @{
                    // Make sure cabin facilities were set
                    if (Model.FacilitiesExists)
                    {
                        <h2 class="title">@Model.CabinCapacitiesTerm</h2>

                        @Html.Partial("CabinCapacities", Model.Facilities)
                    }
                }
                </div>

            </div>

            <h2 class="underlined butterflies">@Model.Subtitle</h2>

            <p class="preamble">@Model.Intro</p>

            <div class="bodytext">@Model.Text</div>

            @{
                // Make sure this is a cabin page with price and reservation info
                if (Model.ShowExtendedTexts)
                {
                    if (!String.IsNullOrWhiteSpace(Model.CabinPrices.ToString()))
                    {
                        <div class="cabin-prices">
                            <h2 class="underlined butterflies">@Model.CabinPricesTerm</h2>
                            @Model.CabinPrices
                        </div>
                    }

                    if (!String.IsNullOrWhiteSpace(Model.CabinReserve.ToString()))
                    {
                        <div class="cabin-reservation-info">
                            <h2 class="underlined butterflies">@Model.CabinReserveTerm</h2>
                            @Model.CabinReserve
                        </div>
                    }
                }
            }

            <!-- AREA (OPTIONAL PUFF)-->
            @{
                // Make sure area should be displayed
                if (Model.ShowAreaPuff == true)
                {
                    @Html.Partial("PuffsSelectedAreas", Model.SubPagesAreas)
                }
            }

            <!-- MORE INFORMATION (PUFFS & DOWNLOADS) -->
            @{
                <!-- Make sure that either puffs or downloads exists -->
                if (Model.PuffsExists || Model.DownloadsExists)
                {
                    <h2 class="underlined butterflies">@Model.PuffsAndDownloadsTitle</h2>

                    <!-- PUFFS - Partial view: Puffs -->
                    if (Model.PuffsExists)
                    {
                        @Html.Action("GetPuffs", "PuffsSurface",
                        new { nodeId = Model.Id })
                    }

                    if (Model.PuffsExists && Model.DownloadsExists)
                    {
                        <hr />
                    }

                    <!-- DOWNLOADS -->
                    if (Model.DownloadsExists == true)
                    {
                        <div class="downloads">
                            @Html.Partial("Downloads", Model.MediaFiles)
                        </div>
                    }
                }
            }
        </div>

        <!-- PUFFS SLIDESHOW (OPTIONAL) (partial view: PuffsSlideshowModule) -->
        @{
            @Html.Action("PuffsSlideshowModule", "PuffsSurface")
        }

    </div>
