﻿@model AreasLandingPageModel

@{
    Layout = "~/Views/Shared/_InteractiveMaster.cshtml";
}


<h3 id="mobile-filter-headline" style="display: none;">@Model.FilteringTitleTerm</h3>
<p id="mobile-filter-text" style="display: none;">@Model.FilteringIntroTerm</p>

@* Set type of map (Google or Google with OpenStreetMap tiles) *@
<div class="map-wrapper overview-page">
  <div class="map-mobile-menu">

    <button id="btn-listview">
      <span class="toggle-listview">
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/listview.svg#Lager_1"></use></svg>@Model.ListLinkTerm
      </span>
      <span class="toggle-mapview">
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/mapview.svg#Lager_1"></use></svg>@Model.MapLinkTerm
      </span>
    </button>

    <button id="btn-filter">
      @Model.FilteringLinkTerm<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/filter_alt.svg#Lager_1"></use></svg>
    </button>

  </div>
  <!-- <button type="button" id="close-map" class="button button--close">Tillbaka</button> -->
  <div id="@Model.MapType" class="interactive-map"></div>

  <!-- AREA MAP SECTION -->
  <div class="areas-list-wrapper">


  <div class="scrollbtn arrowUp is-hidden">
     <svg viewBox="0 0 100 100" style="width: 30px;transform: rotate(-90deg);fill: #fff;">
       <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path>
     </svg>
   </div>
   <div class="scrollbtn arrowDown is-hidden">
     <svg viewBox="0 0 100 100" style=" width: 30px;transform: rotate(90deg);fill: #fff;">
       <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path>
     </svg>
   </div>


    <div id="areas-list" class="areas-list">
      @{
        if (Model.AreasList != null)
        {
          @Html.Partial("AreasList", Model.AreasList)
        }
      }
    </div>

  </div>
</div>

<!-- <button type="button" id="open-map" class="button button--open">Open map</button> -->

@*
@{
    // Get the interactive map data (i.e. the areas activities) and display in the MapInteractivity partial
    @Html.Action("GetActivityTypes", "MapInteractivitySurface",
        new { model = Model.MapInteractivity, contentType = Model.ContentType })
}
*@


@*  OMRÅDESLISTNING
    Data till områdeslistan kan hämtas på två sätt:

    - Med json via url: '/umbraco/Surface/AreasSurface/GetAreas'; parameters: language (Global.language), sortByStatus (true/false); returnerar "areas"
    - Med razor via @Model.AreasCollection (se Area Map Section nedan)

        I båda fallen returnerar controllern en objektlista med följande egenskaper:

            Title - sidans rubrik
            Intro - sidans ingress i kortat skick
            Image - bildobjekt, sidans första inspirationsbild
            ImagePath - sökväg till croppad bild, d:o
            Url - sidans url
            Name = Umbraco-nodens namn
            UrlName - Umbraco-nodens namn utan specialtecken
            NodeId - Umbraco-nodens id
            MapMarkerData - object containing the following properties:
                Latitude
                Longitude
                Content (Title and Intro)
                Title
                UrlName
                NodeId
                Icon ("areas")
                Tag ("area")
*@
