@model AreaPageModel

@{
    Layout = "~/Views/Shared/_InteractiveMaster.cshtml";
}


<h3 id="mobile-filter-headline" style="display: none;">@Model.FilteringTitleTerm</h3>
<p id="mobile-filter-text" style="display: none;">@Model.FilteringIntroTerm</p>

	<!-- Set type of map (Google or Google with OpenStreetMap tiles) -->
    <div class="map-wrapper area-page">

        <button type="button" id="close-map" class="button turquoise button--close button--arrow">@Model.BackTerm</button>
        <div id="@Model.MapType" class="interactive-map"></div>

        <div class="map-mobile-menu">

          <button id="btn-back">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/button_arrow_alt.svg#Lager_1"></use></svg>@Model.BackTerm
          </button>

          <button id="btn-filter">
            @Model.FilterTerm<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/filter_alt.svg#Lager_1"></use></svg>
          </button>

        </div>
    </div>


    <section class="tips">

    <!-- TIPS SECTION  -->
    @{
        // Make sure tips exists
        if (Model.SelectedNodes != string.Empty)
        {
            <!-- SELECTED PUFFS - Partial view: PuffsSubPages -->
            @Html.Action("GetSelectedPuffs", "PuffsSurface",
                new { nodeId = Model.Id, contentType = Model.ContentType, selectedNodes = Model.SelectedNodes })

            @*<a href="@Model.MoreTipsUrl" class="more button turquoise">@Model.MoreTipsTerm</a>*@
        }
    }

    </section>


    <h1>@Model.AboutTerm&nbsp;@Model.Name</h1>

    <section class="area-more-info block">

        <!-- SLIDESHOW -->
        @{
            if (Model.SlideshowExists == true)
            {
                @Html.Partial("Slideshow", Model.Slideshow)
            }
        }

        <div class="block-inner block-max">

            <p class="preamble">
              @Model.Intro
            </p>

            <!-- UPCOMING EVENTS - FOR SWEDISH FULLTOFTA PAGE ONLY (Partial view: EventsUpcoming) -->
            @{
                if (Model.Language == "SV" && Model.UrlName == "fulltofta")
                {
                    <div class="events-upcoming">
                        @{
                            @Html.Action("EventsUpcoming", "EventsSurface",
                                new { model = Model.EventItem, contentType = Model.ContentType, areaPage = Model.Name })
                        }
                    </div>
                }
            }


            <!-- DO-AND-EXPERIENCE TEXT SECTION -->
            @{
                // NOTE: Empty html tags like <p>  </p> might still exist
                if (!String.IsNullOrWhiteSpace(Model.DoAndExperience.ToString()))
                {
                    <div class="activities">
                        <h2 class="underlined butterflies">@Model.DoAndExperienceTerm</h2>

                        <div class="bodytext">@Model.DoAndExperience</div>

                        @*<a href="#" class="more button turquoise">@Model.MoreActivitiesTerm</a>*@
                    </div>
                }
            }

        </div>

    </section>

    <section class="area-general-info block grid">

        <div class="area-info grid-4">

            <!-- FIND US -->
            @{
                // Make sure there is any kind of Find Us content
                if (Model.FindUs.FindUsIntro != string.Empty || Model.FindUs.FindUsModules != null)
                {
                    <div>
                        <h2>@Model.FindUsTerm</h2>

                        @Html.Partial("FindUs", Model.FindUs)                       
                    </div>

                    <script type="text/javascript">
                        window.onload = function () {

                            if (document.getElementById('buss')) {
                                document.getElementById('buss').onclick = (function () {
                                    showhide('bussdiv', 'bildiv', this);
                                    return false;
                                });
                            }

                            if (document.getElementById('bil')) {
                                document.getElementById('bil').onclick = (function () {
                                    showhide('bildiv', 'bussdiv', this);
                                    return false;
                                });
                            }

                            function showhide(idd, elem, that) {
                                document.getElementById(idd).classList.toggle("hidekol");
                                $('.crossit').html('&#43;');
                                if (!$('#' + idd).hasClass('hidekol')) {
                                    $(that).find('.crossit').first().html('&#45;');
                                    $('#' + idd).fadeIn();
                                    $('#' + elem).addClass('hidekol')
                                    $('#' + elem).hide();
                                } else {
                                    //$(that).find('.crossit').first().html('&#43;');
                                    $('#' + idd).fadeOut();
                                }
                            }

                        }
                    </script>                    
                }
            }

           

            <!-- DOWNLOAD & ORDER -->
            @{
                // Make sure information exists (display ordering link and info only on Swedish area pages)
                if (Model.DownloadsExists || (Model.OrderingPageExists && Model.Language == "SV"))
                {
                    <div class="downloads">
                        <h2>@Model.DownloadsTitle</h2>

                        @* Make sure downloads exists *@
                        @if (Model.DownloadsExists)
                        {
                            @Html.Partial("Downloads", Model.MediaFiles)
                        }

                        @* Make sure ordering page was selected *@
                        @if (Model.OrderingPageExists && Model.Language == "SV")
                        {
                            <p>@Model.OrderingText</p>
                            <a href="@Model.OrderingPageUrl">@Model.OrderingPageLinkTitle</a>
                        }
                    </div>
                }

                <!-- Useful information about the area (Nature reserve and the like).
                    (Empty html tags like <p>  </p> might still exist) -->
                if (!String.IsNullOrWhiteSpace(Model.UsefulInfo.ToString()))
                {
                    <h2>@Model.UsefulInformationTerm</h2>
                    <div class="bodytext">@Model.UsefulInfo</div>
                }
            }
        </div>

        <div class="basic-info grid-fixed-33">

            <!-- Warnings -->

            @{
                if (Model.WarningsExists == true)
                {
                    <div class="warnings">

                    @if (Model.WarningsTitle != string.Empty)
                    {
                        <h2>@Model.WarningsTitle</h2>
                    }

                    <ul>
                    @foreach (var item in Model.WarningsCollection)
                    {
                        <li>
                                <svg class="svg-icon white"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="@item.IconPath#Lager_1"></use></svg>

                            @item.Text
                        </li>
                    }
                    </ul>
                    </div>
                }

            }

            <svg id="svg-map" class="svg-map" width="600px" height="600px" viewBox="0 0 600 600" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="bg">
                <image xlink:href="/assets/images/map.png" width="600" height="600" x="0" y="0"></image>
              </g>
              <g id="markers">
              </g>
              <g id="labels">
              </g>
            </svg>

            <div class="services-wrapper">

              <!-- SERVICES -->
              @{
                  // Make sure services exists
                  if (Model.ServiceTypes.ServiceTypesCollection.Any())
                  {
                      @Html.Partial("Services", Model.ServiceTypes)
                  }
              }

                <button type="button" id="open-map" data-type="open-map" class="button turquoise button--open button--arrow">
                  <svg class="svg-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="@Model.MarkerIconPath#Lager_1"></use></svg>
                  @Model.ShowOnMapTerm
                </button>

            </div>

            <!-- INFORMATION -->
            <div class="basic-info-content">

                @{
                    // Title for the general information field. NOTE: Display only in mobile resolution.
                    if(Model.GeneralInfoTitle != string.Empty)
                    {
                        <h2 class="butterflies underlined">@Model.GeneralInfoTitle</h2>
                    }

                    <!-- Opening hours, contact information and the like.
                        (Empty html tags like <p>  </p> might still exist) -->
                    if (!String.IsNullOrWhiteSpace(Model.GeneralInfo.ToString()))
                    {
                        <div class="bodytext">@Model.GeneralInfo</div>
                    }
                }

            </div>

        </div>

    </section>

    <!-- NEWS SECTION - FOR SWEDISH FULLTOFTA PAGE ONLY (Partial view: NewsLatest) -->
    @{
        if (Model.Language == "SV" && Model.UrlName == "fulltofta")
        {
            @Html.Action("LatestNewsTagged", "NewsSurface",
                new { model = Model.NewsItem, tag = "Fulltofta" })
        }
    }

     <!-- ACCOMMODATIONS-IN-THE-AREA (OPTIONAL TIPS) -->
    @{
        // Make sure accommodation tips exists
        if (Model.AccommodationTipsExists)
        {
            <h1>@Model.AccommodationsTipsTitle</h1>

            @Html.Partial("PuffsAccommodationsInTheArea", Model.SubPagesAccommodations)

        }
    }

    <!-- PUFFS SLIDESHOW (OPTIONAL) (partial view: PuffsSlideshowModule) -->
    @{
        @Html.Action("PuffsSlideshowModule", "PuffsSurface")
    }
