﻿@model ContactPageModel

@{
    Layout = "~/Views/Shared/_InteriorMaster.cshtml";
}

<h1>@Model.Title</h1>

<div class="block grid contacts">

      <div class="contact-persons grid-4">

          @if (Model.ContactsExists)
          {
              <h2 class="underlined butterflies">
                  @Model.ContactPersonsTitle
              </h2>
              if (Model.ContactsCollection.Any())
              {
                  foreach (var item in Model.ContactsCollection)
                  {
                      <div class="contact-person">
                          @Html.Partial("Contact", item)
                      </div>
                  }
              }
          }
      </div>

      <div class="basic-info contact-centers grid-fixed-33">

          @if (Model.ContactInfoExists)
          {
              <h2 class="centers-header">
                  @Model.ContactInfoTitle
              </h2>
              if (Model.ContactInfoCollection.Any())
              {
                  <ul>
                      @foreach (var item in Model.ContactInfoCollection)
                      {
                          <li class="contact-center">
                              @Html.Partial("ContactInfo", item)
                          </li>
                      }
                  </ul>
              }
          }
      </div>

</div>
