﻿@model CoworkersPageModel

@{
    Layout = "~/Views/Shared/_InteriorMaster.cshtml";
}

<h1>@Model.Title - @Model.Subtitle</h1>



@* Co-worker groups *@
<div class="block">

    @{
        // Make sure a collection of groups exists
        if (Model.CoworkerGroupsExists == true)
        {

                @* Iterate over the groups *@
                foreach (var group in Model.CoworkerGroupsCollection)
                {

                    <div class="coworkers">

                        @* Group title *@
                        <h2 class="underlined butterflies">@group.Title</h2>

                        @* Group description. Optional. *@
                        @if (!string.IsNullOrEmpty(group.Intro))
                        {
                            <p class="intro">@group.Intro</p>
                        }

                        @* Make sure there are persons assigned to current group *@
                        @if (group.PersonsCollection.Any())
                        {

                            <div class="contact-persons">

                                @* Iterate over the group members *@
                                @foreach (var person in group.PersonsCollection)
                                {

                                    <div class="contact-person">

                                        <!-- Picture is required, but you never know... -->
                                        @if (person.ContactPortrait != null)
                                        {
                                            <img src="@person.ContactPortrait.GetCropUrl("umbracoFile", "Puff, portrattformat")" alt="@person.Name" title="@person.Name" />
                                        }

                                        <div class="meta">

                                            <!-- Name and function -->
                                            <strong>@person.Name</strong><span class="title">@person.Function</span>

                                            @* Person's work assignments. Optional. *@
                                            @if (!string.IsNullOrEmpty(person.WorkAssignments))
                                            {
                                                <p>@person.WorkAssignments</p>
                                            }

											<!-- Email (optional) -->
                                            @if (person.Email != String.Empty)
                                            {
                                                <a class="email" href="mailto:@person.Email">@person.Email</a>
                                            }

                                            <!-- Phones (optional) -->
                                            @if (person.Phone1 != String.Empty)
                                            {
                                                <div class="telephone">
                                                    <a href="tel:@person.Phone1">@person.Phone1</a>
                                                    @if (person.Phone2 != String.Empty)
                                                    {
                                                        <span>/</span> <a href="tel:@person.Phone2">@person.Phone2</a>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                }
        }
    }
</div>


























@*<div class="block grid contacts">

      <div class="contact-persons grid-4">

          @if (Model.ContactsExists)
          {
              <h2 class="underlined butterflies">
                  @Model.ContactPersonsTitle
              </h2>
              if (Model.ContactsCollection.Any())
              {
                  foreach (var item in Model.ContactsCollection)
                  {
                      <div class="contact-person">
                          @Html.Partial("Contact", item)
                      </div>
                  }
              }
          }
      </div>

      <div class="basic-info contact-centers grid-fixed-33">

          @if (Model.ContactInfoExists)
          {
              <h2 class="centers-header">
                  @Model.ContactInfoTitle
              </h2>
              if (Model.ContactInfoCollection.Any())
              {
                  <ul>
                      @foreach (var item in Model.ContactInfoCollection)
                      {
                          <li class="contact-center">
                              @Html.Partial("ContactInfo", item)
                          </li>
                      }
                  </ul>
              }
          }
      </div>
</div>*@
