@model EventPageModel

@{
    Layout = "~/Views/Shared/_InteriorMaster.cshtml";
}

    @* Display event *@
    @Html.Partial("EventItem", Model.EventItem)

    @* Display list of closest upcoming events *@
    @if (Model.EventsList.EventItemsCollection.Any())
    {


<div class="news-content" id="news-content">

  <h2>@Model.EventsList.Title</h2>

  <!--<div class="cards grid gallery lazyLoad-target">-->
  <div class="cards grid gallery swipeable js-flickity" data-flickity-options='{ "imagesLoaded": true, "cellSelector": ".gallery-cell", "wrapAround": false, "cellAlign": "center", "contain": false, "pageDots": true, "prevNextButtons": false, "watchCSS": true, "setGallerySize": true }'>

    @Html.Partial("EventsList", Model.EventsList)

  </div>

</div>


<div class="center">
<button type="button" id="kknapp" data-url="@Model.EventsList.AllEventsLink.EventsLandingPageUrl" class="button turquoise"  onclick="NavigateToSite()">@Model.EventsList.AllEventsLink.AllEventsTerm</button>
</div>

<script type="text/javascript">

  function NavigateToSite(){
    
    window.location = document.getElementById('kknapp').getAttribute('data-url');
  }
  
</script>
    
    }