﻿@model ForSchoolsLandingPageModel

@{
    Layout = "~/Views/Shared/_InteriorMaster.cshtml";
}

     <!-- TIPS PUFFS (= LATEST NEWS TAGGED WITH "UTOMHUSPEDAGOGIK") -->
    @{
        if(Model.NewsExists)
        {
            <h1>@Model.NewsTitleTerm</h1>
            <div class="cards grid gallery js-flickity swipeable lazyLoad-target"
                data-flickity-options='{ "imagesLoaded": true, "cellSelector": ".gallery-cell", "wrapAround": false, "cellAlign": "center", "contain": false, "pageDots": false, "prevNextButtons": false, "watchCSS": true, "setGallerySize": true }'>
                @Html.Partial("NewsList", Model.NewsList)
            </div>
        }
    }

    <!-- ALL SUB PAGE PUFFS - Partial view: PuffsSubPages -->
    @Html.Action("GetSubPagePuffs", "PuffsSurface",
         new { nodeId = Model.Id, contentType = Model.ContentType })
