﻿@model FunctionPageModel 
	
@{
    Layout = "~/Views/Shared/_InteriorMaster.cshtml";
}


    <div class="container" style="max-width:940px; margin-top:50px;">

        <div class="content rounded white">

            <h2 class="top" style="margin-bottom:20px;">
                @Model.Title
            </h2>

            <!-- Make sure intro exists -->
            @if (Model.IntroInfo != String.Empty)
            {
                <p class="preamble">@Model.IntroInfo</p>
            }

            <div class="bodytext">
                @Model.Text
            </div>

        </div>
    </div>