﻿@model GeneralSubPageModel

@{
    Layout = "~/Views/Shared/_InteriorMaster.cshtml";
}



  <h1>@Model.Title</h1>

  <div class="block">
    <!-- SLIDESHOW -->
    @{
        if (Model.SlideshowExists)
        {
            @Html.Partial("Slideshow", Model.Slideshow)
        }
    }

    <div class="block-inner block-max">
        <!-- TEXTS -->
        <h2 class="underlined butterflies">@Model.Subtitle</h2>

        <p class="preamble">@Model.Intro</p>

        <div class="bodytext">
            @Model.Text
        </div>


        <!-- FORM (OPTIONAL) -->
		
		@{
			// Title
			if(Model.TitleForm.Trim() != string.Empty)
			{
				<h2 class="underlined butterflies">@Model.TitleForm</h2>
				
				// Text
				if(!String.IsNullOrWhiteSpace(Model.IntroForm.ToString()))
				{
					<div>@Model.IntroForm</div>
				}        
			}
			
			
			
			// Form
			if (Model.UmbracoForm.FormGuid != Guid.Empty)
			{ 
			  <div>
				  @Html.Partial("Form", Model.UmbracoForm)
			  </div>
			}
		}

        <!-- AREA(S) (OPTIONAL PUFFS)-->
        @{
            // Make sure area tips exists
            if (Model.AreasTipsExists == true)
            {
                @Html.Partial("PuffsSelectedAreas", Model.SubPagesAreas)
            }
        }



        <!-- MORE INFORMATION (PUFFS & DOWNLOADS) -->
        @{
            <!-- Make sure that either puffs or downloads exists -->
            if (Model.PuffsExists || Model.DownloadsExists)
            {
                <h2 class="underlined butterflies">@Model.PuffsAndDownloadsTitle</h2>

                <!-- PUFFS - Partial view: Puffs -->
                if (Model.PuffsExists)
                {
                    @Html.Action("GetPuffs", "PuffsSurface",
                        new { nodeId = Model.Id })
                }

                if (Model.PuffsExists && Model.DownloadsExists)
                {
                    <hr />
                }

                 <!-- DOWNLOADS -->
                if (Model.DownloadsExists == true)
                {
                    <div class="downloads">
                        @Html.Partial("Downloads", Model.MediaFiles)
                    </div>
                }
            }
        }

      </div>
  </div>


  <!-- ACCOMMODATIONS-IN-THE-AREA (OPTIONAL TIPS) -->
  @{
    // Make sure accommodation tips exists
      if (Model.AccommodationTipsExists)
      {
          <div>
              <h1>@Model.AccommodationsTipsTitle</h1>
          </div>

          @Html.Partial("PuffsAccommodationsInTheArea", Model.SubPagesAccommodations)
      }
  }


 <!-- PUFFS SLIDESHOW (OPTIONAL) (partial view: PuffsSlideshowModule) -->
 @{
    @Html.Action("PuffsSlideshowModule", "PuffsSurface")
 }
