@model NewsPageModel

@{
Layout = "~/Views/Shared/_InteriorMaster.cshtml";
}

<!-- Display news items -->
@Html.Partial("NewsItem", Model.NewsItem)

<!-- Display list of latest news items -->
@if (Model.NewsList.NewsItemsCollection.Any())
{

<div class="news-content" id="news-content">

  <h2>@Model.NewsList.Title</h2>

  <!--<div class="cards grid gallery lazyLoad-target">-->
<div class="cards grid gallery swipeable js-flickity" data-flickity-options='{ "imagesLoaded": true, "cellSelector": ".gallery-cell", "wrapAround": false, "cellAlign": "center", "contain": false, "pageDots": true, "prevNextButtons": false, "watchCSS": true, "setGallerySize": true }'>
    
    @Html.Partial("NewsList", Model.NewsList)

    </div>
          
</div>

  
<div class="center">
  <a href="@Model.NewsList.AllNewsLink.NewsLandingPageUrl#news-anchor" class="more button turquoise">@Model.NewsList.AllNewsLink.AllNewsTerm.ToUpper()</a>
</div>
}    