﻿@model NewsAndEventsLandingPageModel
@{
    Layout = "~/Views/Shared/_InteriorMaster.cshtml";
}

    <!-- EVENTS PUFFS -->
    <h1>@Model.EventsTitleTerm</h1>

     <!-- NOTE: This div's id must not be changed (used by the Load more function). -->
    <div class="events-content initial" id="events-content" data-surface="EventsSurface/GetEventsListSubset" lazyLoad>

        <!-- Display list or message -->
        @if (Model.EventsList.EventItemsCollection.Any())
        {
            <div class="cards grid gallery js-flickity swipeable"
              data-flickity-options='{ "imagesLoaded": true, "cellSelector": ".gallery-cell", "wrapAround": false, "cellAlign": "center", "contain": false, "pageDots": true, "prevNextButtons": false, "watchCSS": true, "setGallerySize": true }'>

            @Html.Partial("EventsList", Model.EventsList)

            </div>

            if (Model.EventsList.LoadMore)
            {
                <div class="center">
                    <button type="button" class="button button--more turquoise">@Model.EventsList.LoadMoreInfo</button>
                </div>
            }
        }
        else
        {
            <span>@Model.EventsList.NoEventsMessage</span>
        }

    </div>

    <!-- NEWS PUFFS -->
    <h1 id="news-anchor">@Model.NewsTitleTerm</h1>

     <!-- NOTE: This div's id must not be changed (used by the Load more function). -->
    <div class="news-content" id="news-content" data-surface="NewsSurface/GetNewsListSubset" lazyLoad>

        <!-- Display list or message -->
        @if (Model.NewsList.NewsItemsCollection.Any())
        {
            <div class="cards grid gallery lazyLoad-target">

                @Html.Partial("NewsList", Model.NewsList)

            </div>

            if (Model.NewsList.LoadMore)
            {
                <div class="center">
                    <button type="button" class="button turquoise lazyLoad-more" data-page="@Model.NewsList.PageNumber">@Model.NewsList.LoadMoreInfo</button>
                </div>
            }
        }
        else
        {
            <span>@Model.NewsList.NoNewsMessage</span>
        }

    </div>
