﻿@model SearchResultsPageModel

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="block">
  <div class="block-inner block-max">

    <h1 class="butterflies underlined">@Model.TitleTerm</h1>

    @* Get a search result for the SearchResults partial view *@
    @Html.Action("SearchResults", "SearchSurface",
        new { nodeId = Model.Id, accessWithoutSearch = Model.AccessWithoutSearch })

  </div>
</div>
