﻿@model StartPageModel

@{
    Layout = "~/Views/Shared/_StartMaster.cshtml";
}

@* SWEDISH START PAGE *@

<!-- TIPS SECTION  -->
<section class="tips">

    <h1>@Model.TipsTitle</h1>

    <!-- SELECTED PUFFS - Partial view: PuffsSubPages -->
    @Html.Action("GetSelectedPuffs", "PuffsSurface",
        new { nodeId = Model.Id, contentType = Model.ContentType, selectedNodes = Model.SelectedNodes })

    <a href="@Model.MoreTipsUrl" class="more button turquoise">@Model.MoreTipsTerm</a>

</section>


@*  OMRÅDESLISTNING
    Data till områdeslistan kan hämtas på två sätt:

    - Med json via url: '/umbraco/Surface/AreasSurface/GetAreas'; parameters: language (Global.language), sortByStatus (true/false); returnerar "areas"
    - Med razor via @Model.AreasCollection (se Area Map Section nedan)

        I båda fallen returnerar controllern en objektlista med följande egenskaper:

            Title - sidans rubrik
            Intro - sidans ingress i kortat skick
            Image - bildobjekt, sidans första inspirationsbild
            ImagePath - sökväg till croppad bild, d:o
            Url - sidans url
            Name = Umbraco-nodens namn
            UrlName - Umbraco-nodens namn utan specialtecken
            NodeId - Umbraco-nodens id

        Vi kan lägga upp koordinater i Umbraco för respektive område på kartbilden, om så önskas.
*@


    <!-- AREA MAP SECTION -->

    <section class="front-map block">
      <h1 class="purple butterflies">@Model.AreaMapTitleTerm</h1>

      <div class="front-map-inner">
          @*<svg id="svg-map" class="svg-map svg-map-front" width="600px" height="600px" viewBox="0 0 600 600" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">*@
          <svg id="svg-map" class="svg-map svg-map-front" preserveAspectRatio="xMinYMin slice" viewBox="0 0 600 600" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="bg">
              <image xlink:href="/assets/images/map.png" width="600" height="600" x="0" y="0"></image>
            </g>
            <g id="markers">
            </g>
            <g id="labels">
            </g>
          </svg>

          <div id="areas-list" class="areas-list">
              @{
                  if (Model.AreasList != null)
                  {
                      @Html.Partial("AreasList", Model.AreasList)
                  }
              }
          </div>

          <a href="@Model.AreasPagePath" class="more button turquoise">@Model.FilterAreasLinkTerm</a>
      </div>
    </section>



     <!-- NEWS SECTION (partial view: NewsLatest) -->
    @{
        @Html.Action("LatestNewsSelected", "NewsSurface",
            new { model = Model.NewsItem, contentType = Model.ContentType })
    }


    <section class="grid">
      <!-- EVENTS SECTION (partial view: EventsUpcoming) -->
        <div class="block events-upcoming grid-item grid-2">
            @{
                @Html.Action("EventsUpcoming", "EventsSurface",
                    new { model = Model.EventItem, contentType = Model.ContentType })
            }
        </div>

         <!-- FIXED PUFF (required) -->
        <div class="grid-item grid-1 card push--order puff-fixed">
            <div class="image">
                <img src='@Model.FixedPuff.Image.GetCropUrl("umbracoFile", "Puff, mellan")' alt=''  />
            </div>

            <div class="content">
                <h2>@Model.FixedPuff.Title</h2>
                @Model.FixedPuff.Text
                @{
                    // Link is optional
                    if (Model.FixedPuff.LinkExists)
                    {
                        <a href="@Model.FixedPuff.Link.Url" target="@Model.FixedPuff.Link.Target" class="button button--arrow turquoise">@Model.FixedPuff.Link.Title</a>
                    }
                }
            </div>
        </div>
    </section>


    <!-- PUFFS SLIDESHOW (OPTIONAL) (partial view: PuffsSlideshowModule) -->
    @{
        @Html.Action("PuffsSlideshowModule", "PuffsSurface")
    }


    <!-- OPTIONAL SLIDESHOW SECTION (partial view: SlideshowModule) -->
    @{
        @*@Html.Action("SlideshowModule", "MediaSurface")*@
    }
