﻿.welcome-dashboard h1 {   
    font-size: 36px;
    line-height: 1.3em;
    max-width: 750px;
    margin-bottom: 10px;
    /* font-weight: bold; */
    font-family: inherit;
}

.welcome-dashboard h3 {
    font-size: 24px;
    line-height: 1.3em;
    margin-bottom: 10px;
    font-family: inherit;
}

.welcome-dashboard .guide {
    line-height: 1.3em;
    margin-bottom:5px;
}

.welcome-dashboard .btn {
    font-size: 14px;
    line-height: 1.3em;
    font-family: inherit;
}

/* unvisited link */
.welcome-dashboard .guide a:link {
    color: #808080;
}

/* visited link */
.welcome-dashboard .guide a:visited {
    color: indianred;
}

/* mouse over link */
.welcome-dashboard .guide a:hover {
    color: saddlebrown
}

/* selected link */
.welcome-dashboard .guide a:active {
    color: red;
}