﻿<umb-panel ng-controller="uImport.MediaExportController">

    <div class="umb-pane form-horizontal">

        <umb-control-group>
            <a href class="btn btn-primary" ng-click="export()" id="exportBtn" prevent-default>Export</a>
        </umb-control-group>

        <div style="display:none;" id="loadingSpinner">
            <img src="\Umbraco\lib\tinymce\skins\umbraco\img\loader.gif" style="display:block;margin:0 auto;" alt="loading..."/>
        </div>
    </div>

</umb-panel>