﻿<umb-panel ng-controller="uImport.MediaImportController">

    <div class="umb-pane form-horizontal">

        <umb-control-group label="Selected folder">
            {{currentNode.name}}
        </umb-control-group>

        <umb-control-group label="Select zip file">
            <input type="file" class="umb-editor umb-textstring" accept="application/zip" data-file="param.file"/>
        </umb-control-group>

        <umb-control-group label="Encoding">

            <select ng-model="encoding" class="umb-editor umb-textstring" 
                        ng-options="item.id as item.name for item in encodings"></select>
        </umb-control-group>

        <umb-control-group>
            <a href class="btn btn-primary" ng-click="uploadFile()" id="importBtn" prevent-default>Import</a>
        </umb-control-group>

        <div style="display:none;" id="loadingSpinner">
            <img src="\Umbraco\lib\tinymce\skins\umbraco\img\loader.gif" style="display:block;margin:0 auto;" alt="loading..."/>
        </div>
    </div>

</umb-panel>