﻿.nested-content 
{
    text-align: center;
}

.nested-content__item 
{
    position: relative;
    text-align: left;
    border-top: solid 1px transparent;
    background: white;


}

.nested-content__item--active:not(.nested-content__item--single)
{
    background: #f8f8f8;
}

.nested-content__item.ui-sortable-placeholder 
{
    background: #f8f8f8;
    border: 1px dashed #d9d9d9;
    visibility: visible !important;
    height: 55px;
    margin-top: -1px;
}

.nested-content__item--single > .nested-content__content
{
    border: 0;
}

.nested-content__item--single > .nested-content__content > .umb-pane
{
    margin: 0;
}

.nested-content__header-bar 
{
    padding: 15px 20px; 
    border-bottom: 1px dashed #e0e0e0;
    text-align: right;
    cursor: pointer;
    background-color: white;

    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}

.nested-content__heading
{
    float: left;
    line-height: 20px;
}

.nested-content__heading i 
{
    vertical-align: text-top;
    color: #999; /* same icon color as the icons in the item type picker */
    margin-right: 10px;
}

.nested-content__icons 
{
    margin: -6px 0;
    opacity: 0;

    transition: opacity .15s ease-in-out;
   -moz-transition: opacity .15s ease-in-out;
   -webkit-transition: opacity .15s ease-in-out;
}

.nested-content__header-bar:hover .nested-content__icons,
.nested-content__item--active .nested-content__icons
{
    opacity: 1;
}

.nested-content__icon,
.nested-content__icon.nested-content__icon--disabled:hover
{
    display: inline-block;
    padding: 4px 6px;
    margin: 2px;
    cursor: pointer;
    background: #fff;
    border: 1px solid #b6b6b6;
    border-radius: 200px;
    text-decoration: none !important;
}

.nested-content__icon:hover,
.nested-content__icon--active
{
    color: white;
    background: #2e8aea;
    border-color: #2e8aea;
    text-decoration: none;
}

.nested-content__icon .icon,
.nested-content__icon.nested-content__icon--disabled:hover .icon
{
    display: block;
    font-size: 16px !important;
    color: #5f5f5f;
}

.nested-content__icon:hover .icon,
.nested-content__icon--active .icon
{
    color: white;
}

.nested-content__icon--disabled 
{
    opacity: 0.3;
}


.nested-content__footer-bar 
{
    text-align: center;
    padding-top: 20px;
}

.nested-content__content 
{
    border-bottom: 1px dashed #e0e0e0;
}

.nested-content__item.ui-sortable-helper .nested-content__content
{
    display: none !important;
}

.nested-content__help-text 
{
    display: inline-block;
    padding: 10px 20px 10px 20px;
    clear: both;
    font-size: 14px;
    color: #555;
    background: #f8f8f8;
    border-radius: 15px;
}

.nested-content__doctypepicker table input, .nested-content__doctypepicker table select {
    width: 100%;
    padding-right: 0;
}

.nested-content__doctypepicker table td.icon-navigation, .nested-content__doctypepicker i.nested-content__help-icon {
    vertical-align: middle;
    color: #CCC;
}

.nested-content__doctypepicker table td.icon-navigation:hover, .nested-content__doctypepicker i.nested-content__help-icon:hover {
    color: #343434;
}

.nested-content__doctypepicker i.nested-content__help-icon {
    margin-left: 10px;
}

.form-horizontal .nested-content .control-label 
{
    width: 10%;
}

.form-horizontal .nested-content .controls-row 
{
    margin-left: 40% !important;
}

.form-horizontal .nested-content .controls-row .umb-textstring,
.form-horizontal .nested-content .controls-row .umb-textarea
{
    width: 95%;
}
