﻿<div class="multipleMediaPicker" ng-controller="OP10.Backoffice.MultipleMediaPickerSelectProperties.Controller">
	<div ng-repeat="property in properties">
		<div ng-if="property.alias == 'empty' || property.alias == 'loading'">
			<p>{{property.name}}</p>
		</div>
		<label ng-if="property.alias != 'empty' && property.alias != 'loading'">
			<input type="checkbox" value="{{property.alias}}" ng-click="toggle(property.alias)" ng-checked="checked.indexOf(property.alias) > -1" />
			{{property.name}} <small>({{property.alias}})</small>
			<label>
	</div>
</div>
