﻿
    <div class="welcome-dashboard" ng-controller="CustomWelcomeDashboardController as vm">

        <h1 style="color:#19548D;">Välkommen till backoffice, {{vm.UserName}}!</h1>

        <h4>Umbracos backoffice är ditt verktyg för att skapa och ändra webbplatsens innehåll.</h4>


        <p>&nbsp;</p>

        <div style="margin-top:15px;">
            <h3>Umbraco-manualer</h3>
        </div>

        <div class="guide">
            <i class="icon icon-forms-file-pdf"></i>&nbsp;
            <a href="/Documents/Umbraco-7-Editors-Manual.pdf" target="_blank">Umbraco 7 Editors Manual</a> (pdf, på engelska)
        </div>

        <div class="guide">
            <i class="icon icon-globe-alt"></i>&nbsp;
            <a href="http://jondjones.com/learn-umbraco-cms/umbraco-content-editors-user-guide" target="_blank">Umbraco content editors user guide</a> (webbplats, på engelska)
        </div>


        <p>&nbsp;</p>

        <div>
            <h3>Genvägar</h3>
        </div>

        <div style="margin: 0 auto;">
            <div style="float:left; margin-right:5px;">
                <a class="btn btn-primary btn-large" href="/umbraco/#/content/content/edit/2219?doctype=NewsPage&create=true">
                    <i class="icon-edit"></i>&nbsp;Skapa nyhet
                </a>
            </div>
            <div>
                <a class="btn btn-primary btn-large" href="/umbraco/#/content/content/edit/2220?doctype=EventPage&create=true">
                    <i class="icon-edit"></i>&nbsp;Skapa evenemang
                </a>
            </div>
        </div>

        <p></p>

        <div style="margin: 0 auto;">
            <div style="float:left; margin-right:5px;">
                <a class="btn btn-primary btn-large" href="/umbraco/#/content/content/edit/1801?doctype=Puff&create=true">
                    <i class="icon-edit"></i>&nbsp;Skapa global puff (svensk)
                </a>
            </div>
            <div>
                <a class="btn btn-primary btn-large" href="/umbraco/#/content/content/edit/3968?doctype=Contact&create=true">
                    <i class="icon-edit"></i>&nbsp;Lägg upp ny medarbetare
                </a>
            </div>
        </div>
               

        <!--<p>&nbsp;</p>
        <div>
            <h3>Guidelines</h3>
        </div>

        <div>
            <p>"Att arbeta med konferenser på SOI:s webbplats" - finns i två varianter:</p>
        </div>

        <div class="guide">
            &nbsp;-&nbsp;<span><i class="icon icon-document"></i>&nbsp;<a href="/umbraco/#/content/content/edit/1120/">Konferenser-noden</a> (öppna fliken "Guidelines")</span><br/>
            &nbsp;-&nbsp;<span><i class="icon icon-forms-file-pdf"></i>&nbsp;<a href="/Documents/Att-arbeta-med-konferenser.pdf" target="_blank">Pdf-fil</a></span>
        </div>-->
        <!--<ul class="guide">
            <li><i class="icon icon-info"></i>&nbsp;<a href="/umbraco/#/content/content/edit/1120/">Konferenser-noden</a> (öppna fliken "Guidelines")</li>
            <li><i class="icon icon-forms-file-pdf"></i>&nbsp;<a href="/Documents/Att-arbeta-med-konferenser.pdf" target="_blank">Pdf-fil</a></li>
        </ul>-->
        <!--<div class="guide">

        </div>-->
        <!--<div class="guide">
            <a href="/umbraco/#/content/content/edit/1120/">Att arbeta med konferenssidan</a> (klicka och gå till fliken Guidelines)
        </div>
        <div class="guide">
            <a href="/Documents/Att-arbeta-med-konferenser.pdf" target="_blank">Att arbeta med konferenssidan</a> (pdf)
        </div>-->
        <!--<p>&nbsp;</p>
        <h2>Dina senaste ändringar:</h2>
        <ul class="unstyled">
            <li ng-repeat="logEntry in vm.LogEntries"><i class="{{logEntry.Content.icon}}"></i> <a href="/Umbraco/#/{{logEntry.editUrl}}">{{logEntry.Content.name}}</a> - <span class="text-muted">(Edited on: {{logEntry.timestamp  | date:'medium'}})</span></li>
        </ul>-->

    </div>

