﻿@charset "UTF-8";
/*! normalize.css v4.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * Change font properties to `inherit` in all browsers (opinionated).
 */
button,
input,
select,
textarea {
  font: inherit; }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 * 2. Show the overflow in Edge, Firefox, and IE.
 */
button,
input,
select {
  /* 2 */
  overflow: visible; }

/**
 * Remove the margin in Safari.
 * 1. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  /* 1 */
  margin: 0; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Change the cursor in all browsers (opinionated).
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer; }

/**
 * Restore the default cursor to disabled elements unset by the previous rule.
 */
[disabled] {
  cursor: default; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * Correct the odd appearance of search inputs in Chrome and Safari.
 */
[type="search"] {
  -webkit-appearance: none; }

/**
 * Remove the inner padding and cancel buttons in Chrome on OS X and
 * Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*! Flickity v1.2.1
http://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: white;
  background: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  /* vertically center */
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.flickity-prev-next-button:hover {
  background: white; }

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09F; }

.flickity-prev-next-button:active {
  filter: alpha(opacity=60);
  /* IE8 */
  opacity: 0.6; }

.flickity-prev-next-button.previous {
  left: 10px; }

.flickity-prev-next-button.next {
  right: 10px; }

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }

.flickity-prev-next-button:disabled {
  filter: alpha(opacity=30);
  /* IE8 */
  opacity: 0.3;
  cursor: auto; }

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }

.flickity-prev-next-button .arrow {
  fill: #333; }

/* color & size if no SVG - IE8 and Android 2.3 */
.flickity-prev-next-button.no-svg {
  color: #333;
  font-size: 26px; }

/* ---- page dots ---- */
.flickity-page-dots {
  /*
  position: absolute;
  bottom: -25px;
  margin: 0;
  */
  width: 100%;
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
  text-align: center;
  line-height: 1; }

.gallery-single-item .flickity-page-dots {
  display: none;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  border: 2px solid #25b8ca;
  background: #FFF;
  border-radius: 50%;
  cursor: pointer; }

.flickity-page-dots .dot.is-selected {
  background: #25b8ca;}



@media (min-width: 600px) {
  .flickity-page-dots {
    margin: 20px 0;
  }
  .flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    margin: 0 8px;
  }
}


@media (min-width: 900px) {
  .flickity-page-dots {
    display: none !important;
  }

  .area-more-info .flickity-page-dots,
  .accommodationpage .flickity-page-dots {
    display: block;
  }
}



@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* ÄNDRAD: testklasser bortkommenterade */
body::before {
  bottom: 1em;
  color: white;
  margin: 1em;
  padding: 1em;
  position: fixed;
  right: 1em;
  z-index: 1000; }
/*body::before {
  content: "none";
  background: grey; }
@media (min-width: 37.5em) {
  body::before {
    content: "small";
    background: red; } }
@media (min-width: 43.75em) {
  body::before {
    content: "medium";
    background: green; } }
@media (min-width: 56.25em) {
  body::before {
    content: "large";
    background: orange; } }
@media (min-width: 68.75em) {
  body::before {
    content: "huge";
    background: blue; } }*/

@font-face {
  font-family: "PFEncoreSansPro";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/2025E0_0_0.woff") format("woff"); }  /*, url("../fonts/2025E0_0_0.ttf") format("truetype"); } */
@font-face {
  font-family: "PFEncoreSansPro";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/2025E0_1_0.woff") format("woff"); } /* url("../fonts/2025E0_1_0.ttf") format("truetype"); } */
/*
@font-face {
  font-family: "PFEncoreSansPro-Black";
  font-style: 700;
  font-weight: normal;
  src: url("../fonts/2025E0_2_0.eot?") format("eot"), url("../fonts/2025E0_2_0.woff") format("woff"), url("../fonts/2025E0_2_0.ttf") format("truetype"), url("../fonts/2025E0_2_0.svg#PFEncoreSansPro-Black") format("svg"); }
*/
*,
*::before,
*::after {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  background: url("../images/bg-tile.png") center center repeat #f4f5f6;
  font: normal normal normal 16px/24px "PFEncoreSansPro", sans-serif;
  -webkit-font-smoothing: antialiased; }

img,
svg {
  vertical-align: top;
  width: 100%; }

a {
  color: #25b8ca;
  text-decoration: none;
  transition: border .1s ease-in;
-webkit-tap-highlight-color: rgba(0,0,0,0.25); }
  main a:not(.button):hover, main a:not(.button):focus {
    text-decoration: underline; }
    /*
  a:active, a:focus, a:visited {
    color: #1d919f; }
    */

/*
  a[href*='//']:not([href*='skanskalandskap.se']):after {
    background: #25b8ca;
    color: #fff;
    padding: 3px 3px 2px 2px;
    border-radius: 3px;
    margin: -3px 0 0 3px;
    content: ' ↗';
    font-weight: bold;
    font-size: 10px;
    text-decoration: none !important; }
*/

.card:active, .card:focus, .card:hover,
.areas-list a:active,
.areas-list a:focus,
.areas-list a:hover,
.latest-news-item:active,
.latest-news-item:focus,
.latest-news-item:hover {
  text-decoration: none !important; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.bodytext ul {
  padding-left: 40px;
  list-style: circle;
}

h1 {
  font-size: 2em;
  margin: .5em 0; }

@media (max-width: 699px) {
  h1 {
    font-size: 1.5em;
  }
  header h1 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  header .header-content p {
    background: #FFF;
    margin: 0 -20px;
    text-shadow: none;
    color: #222;
    padding: 16px 20px 20px;
    font-size: 14px;
    line-height: 20px;
  }

  .areapage header .header-content {
    margin-top: -20px;
    padding-bottom: 20px;
  }

  .areapage header .header-content h2 {
    margin: -10px 0 0;
    font-size: 1.1em;
  }

  h2 {
    font-size: 1.25em;
  }
  p {
    font-size: 14px;
    line-height: 20px;
  }
}

/*
@media (min-width: 56.25em) {
  .content-wrap > h1 {
    font-size: 2.5em;
  }
}
*/


h1, h2, h3, h4, h5 {
  line-height: 1.25;
  font-weight: normal;}

h3 {
  font-weight: bold;
}

.bodytext h3 {
  margin: 30px 0 -10px 0;
}

.bodytext img {
  max-width: 100% !important;
  height: auto !important;
}

.headline-top {
  padding: 0 0 .25em; }

hr {
  border: 0;
  border-bottom: 1px solid #25b8ca;
  margin: 15px 0; }

.underlined, .area-info h2 {
  border-bottom: 1px solid #25b8ca;
  padding-top: 1em;
  margin-top: 0; }

.butterflies, .area-info h2 {
  background: transparent url("../images/butterflies.svg") no-repeat;
  background-position: right 10px bottom -2px;
  background-size: 60px; }
  .butterflies.underlined, .area-info h2 {
    background-image: url("../images/butterflies-turquoise.svg"); }

table {
  border-collapse: inherit;
  border-spacing: 0 4px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; }
  @media (min-width: 43.75em) {
    table {
      display: table;
      width: 100%;
      max-width: inherit;
      white-space: normal;
      overflow-x: visible; } }

th {
  background: #8e498f;
  color: #fff;
  padding: 5px; }

td {
  background: #f4f5f6;
  padding: 5px; }

tr {
  border: 0; }

@media (max-width: 699px) {
  th, td {
    font-size: 14px;
  }

}

@media (max-width: 440px) {
  th {
    padding: 2px 4px 0;
    font-size: 11px;
  }
  td {
    padding: 0;
    font-size: 11px;
  }
}

.pagination {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .pagination li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 44px;
    min-height: 44px; }
  .pagination a {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 300; }
  .pagination .active a {
    border-bottom: 2px solid #25b8ca;
    font-weight: 400; }

[type='text'],
[type='search'],
[type='password'],
[type='number'],
[type='email'],
[type='url'],
[type='tel'],
[type='file'],
textarea,
select {
  background: #fff;
  border: 0;
  color: #222;
  display: block;
  font-size: 1em;
  padding: 10px;
  transition: background .1s; }
  [type='text']:focus,
  [type='search']:focus,
  [type='password']:focus,
  [type='number']:focus,
  [type='email']:focus,
  [type='url']:focus,
  [type='tel']:focus,
  [type='file']:focus,
  textarea:focus,
  select:focus {
    outline: none; }

button {
  cursor: pointer; }

input[type="submit"] {
  background: #25b8ca;
  color: #fff;
  display: inline-block;
  border: none;
  font-size: .85em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  padding: 15px 35px;
  margin: 10px 0 0;
  white-space: nowrap;
  text-transform: uppercase;
  position: relative;
  transition: background .2s ease-in-out; }

.no-style {
  border: 0; }

.contourPage h4 {
  font-size: 1.5em;
  margin: .25em 0; }

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  position: relative; }
  fieldset .contourField {
    position: relative;
    margin: 10px 0; }
  fieldset .contourField.evmeddelande {
    margin-top: 0;
  }
  fieldset label {
    color: #666;
    display: block;
    font-weight: 500;
    position: absolute;
    top: 3px;
    left: 16px;
    font-size: 1em;
    z-index: 1;
    -webkit-transform-origin: 0 0em;
        -ms-transform-origin: 0 0em;
            transform-origin: 0 0em;
    line-height: 2.8em;
    transition: color .2s, translateY .2s, -webkit-transform .16s;
    transition: transform .16s, color .2s, translateY .2s;
    transition: transform .16s, color .2s, translateY .2s, -webkit-transform .16s;
    -webkit-transform: scale(1, 1) rotateY(0) translateY(0);
            transform: scale(1, 1) rotateY(0) translateY(0); }
  fieldset .is-floating label {
    -webkit-font-smoothing: antialiased;
    color: #999;
    font-weight: 600;
    -webkit-transform: scale(0.55, 0.55) rotateY(0) translateY(-7px);
            transform: scale(0.55, 0.55) rotateY(0) translateY(-7px); }
  fieldset input, fieldset textarea {
    background: #f4f5f6 !important;
    /*
    font-size: 1.5em !important;
    */
    padding: 15px 6px 8px !important;
    border-radius: 5px;
    width: 100%;
    text-indent: 10px; }
  @media (min-width: 43.75em) {
    fieldset .row-fluid {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    fieldset .span6 {
      -webkit-flex: 0 1 49%;
          -ms-flex: 0 1 49%;
              flex: 0 1 49%; }
    fieldset .span12 {
      -webkit-flex: 0 1 100%;
          -ms-flex: 0 1 100%;
              flex: 0 1 100%; } }

.contourMessageOnSubmit {
  background: #f4f5f6;
  border-radius: 5px;
  padding: 15px; }

.input-validation-error {
  background-color: pink !important; }

header {
  background-color: #aaa !important;
  color: #fff;
  position: relative;
  padding: 0 0 48px; }
  header::before {
    background: rgba(0, 0, 0, 0.25);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  header .eng {
    color: #fff;
    font-weight: 600;
    position: absolute;
    right: 20px;
    top: 20px; }
  header a {
    border: none !important; }
  header .inner {
    position: relative;
    padding-bottom: 1em;
    padding-top: 1em; }

.header-content {
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.75); }

@media (max-width: 768px) {
  .searchresultspage header .inner {
    padding-top: 0;
  }
  .searchresultspage .header-content {
    display: none;
  }
}

.logo {
  display: block;
  max-width: 120px; }

header .mobile-logo {
  display: none;
}

@media (min-width: 700px) {
  header {
    min-height: 440px; }
    header .eng {
      top: 28px;
      right: 250px; }
    header h1 {
      font-size: 3.5em;
      font-weight: bold;
      margin: .25em 0;
      line-height: 1; }
    header h2 {
      font-size: 2em; }
    header .header-content p {
      font-weight: bold;
      font-size: 18px;
      line-height: 26px;
    }

  .logo {
    max-width: 180px; }

  .header-content {
    max-width: 640px;
    margin: 15px auto 0 auto; } }
.search-header {
  width: 100%;
  position: absolute;
  top: 100%;
  right: 0;
  pointer-events: none; }
  .search-header.is-open {
    overflow: visible; }
  .search-header button {
    background-color: #a3aa87;
    float: right;
    height: 48px;
    padding: 10px;
    width: 48px;
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: all;
    outline: 0;
    z-index: 1; }
  .search-header svg {
    height: 20px;
    width: 20px;
    vertical-align: middle; }

header .search-field {
  pointer-events: all;
  float: left;
  height: 48px;
  width: 100%; }

@media (min-width: 700px) {
  .search-header {
    width: auto;
    right: 20px;
    top: 20px; }
    .search-header button {
      border-radius: 0 5px 5px 0;
      height: 40px;
      width: 40px;
      position: relative;
      right: auto;
      top: auto; }
    .search-header input[type="search"] {
      width: 165px;
    }

  header .search-field {
    border-radius: 5px 0 0 5px;
    height: 40px;
    width: auto; } }


.search-header .autocomplete .search-field {
  display: block;
}

.autocomplete {
  float: left;
  left: 0;
  width: calc(100% - 48px);
  z-index: 1;
  transition: opacity .2s ease-in-out, transform 0s .25s ease-in-out;
  -webkit-transform: translateX(9999px);
      -ms-transform: translateX(9999px);
          transform: translateX(9999px);
  pointer-events: all;
  position: relative; }
  .is-open .autocomplete {
    transition: opacity .2s ease-in-out;
    opacity: 1 !important;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
  .autocomplete span {
    display: block; }
  .autocomplete .title {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: -3px; }
  .autocomplete .description {
    line-height: 14px;
    margin-bottom: 3px; }
  .autocomplete .is-visible {
    opacity: 1;
    pointer-events: all; }
  .autocomplete > input {
    display: block; }
  .autocomplete > ul {
    font-size: 0.75em;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    min-width: 100%;
    list-style: none;
    padding: 0;
    margin: .2em 0 0;
    background: #fff;
    pointer-events: none;
    box-shadow: -5px 5px 5px 0 rgba(0,0,0,.1);
    opacity: 0;
    transition: all .2s ease-in-out; }
    .autocomplete > ul > li {
      color: #222;
      border-bottom: #f4f5f6 1px solid;
      position: relative;
      padding: .2em .5em;
      cursor: pointer;
      pointer-events: all; }
      .autocomplete > ul > li:last-child {
        border: 0; }
      .autocomplete > ul > li.is-selected, .autocomplete > ul > li:hover {
        background: #25b8ca;
        color: #fff; }

@media (min-width: 700px) {
  .search-header {
    overflow: visible; }

  .autocomplete {
    width: auto;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
    .autocomplete ul {
      min-width: 350px; } }

header > .inner {
  /* z-index: 2000; */
}

nav {
  background: #a3aa87;
  bottom: 0;
  font-weight: bold;
  left: 0;
  padding-right: 48px;
  position: absolute;
  text-transform: uppercase;
  width: 100%;
  z-index: 500; }
  nav .svg-icon {
    vertical-align: middle; }
  nav .is-hidden {
    display: none !important; }
  nav li:hover .submenu {
    display: block; }
  nav li:hover .menu-item {
    background: #fff;
    color: #a3aa87 !important; }
  nav .menu-item {
    color: #fff !important;
    display: block;
    font-size: 16px;
    height: 48px;
    padding: 12px 20px;
    text-decoration: none;
    width: 102%; }
    nav .menu-item:hover, nav .menu-item:focus, nav .menu-item.active {
      background: #fff;
      color: #a3aa87 !important; }
      nav .menu-item:hover .svg-icon, nav .menu-item:focus .svg-icon, nav .menu-item.active .svg-icon {
        fill: #a3aa87 !important; }
  nav .active .menu-item {
    background: #fff;
    color: #a3aa87 !important; }
    nav .active .menu-item .svg-icon {
      fill: #a3aa87 !important; }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    nav ul.desktop-menu {
      height: 48px;
      font-size: 0; }
      nav ul.desktop-menu > li {
        display: inline-block;
        position: relative;
        z-index: 200; }
        nav ul.desktop-menu > li::after {
          background: #fff;
          content: '';
          height: 50%;
          left: 0;
          position: absolute;
          top: 50%;
          -webkit-transform: translate(0, -50%);
              -ms-transform: translate(0, -50%);
                  transform: translate(0, -50%);
          width: 1px; }
        nav ul.desktop-menu > li:first-child::after {
          display: none; }
  nav .extra-menu {
    background: #a3aa87;
    position: absolute;
    right: 48px;
    margin: 0;
    top: 100%;
    display: inline-block;
    width: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease-in-out;
    z-index: 1000; }
    nav .extra-menu:hover, nav .extra-menu:focus {
      opacity: 1;
      pointer-events: all; }
    nav .extra-menu a {
      width: 100%; }
  nav button {
    background: #a3aa87;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 2em;
    font-weight: 700;
    height: 48px;
    width: 48px;
    line-height: 50px;
    padding: 0;
    outline: 0;
    display: none; }
    /*
    .no-touchevents nav button:hover, .no-touchevents nav button:focus {
      background: #fff;
      color: #a3aa87; } */
  nav.is-open .extra-menu {
    opacity: 1;
    pointer-events: all; }
  nav.is-open button {
    background: #a3aa87;
    color: #fff; }
  nav.full {
    text-align: center; }

.mobile-menu {
  display: none;
}

@media (max-width: 1000px) {

  nav .menu-item {
    font-size: 14px;
    line-height: 24px;
  }

  nav ul.desktop-menu > li::after {
    display: none;
  }

  nav .menu-item {
    padding-left: 11px;
    padding-right: 11px;
  }

  nav .svg-icon {
    height: 18px;
    width: 18px;
    margin-top: -2px;
  }

}

@media (max-width: 800px) {



  nav .menu-item {
    font-size: 13px;
    line-height: 26px;
  }
  nav .menu-item {
    padding-left: 8px;
    padding-right: 8px;
  }

  nav .svg-icon {
    height: 16px;
    width: 16px;
  }

}

@media (max-width: 699px) {

  nav {
    height: 88px;
  }
  nav.full {
    text-align: left;
  }

  nav.full > .desktop-menu > li {
    display: none;
  }



  nav ul.desktop-menu {
    display: none;
  }

  header {
    padding: 0;
    background-position-y: 0 !important;
    background-size: 150% auto !important;
  }

  header .logo {
    display: none;
    padding-top: 20px;
  }

  header .mobile-logo {
    display: inline-block;
    margin: 20px 0 0 20px;
  }
  header .mobile-logo img {
    width: auto;
    height: 48px;
  }

  header .eng {
    text-transform: uppercase;
    font-size: 10px;
    top: -53px;
    z-index: 2000;
    width: auto;
    right: 115px;
    padding: 0 6px;
    height: 20px;
    line-height: 18px;
    /* border: 1px solid rgba(255,255,255,.5) !important; */
    border: 2px solid #FFF !important;
    border-radius: 2px;
  }

  header .inner {
    margin-top: 88px;
    padding: 140px 20px 0;
  }

  .search-header .search-field {
    display: none;
  }

  header .search-header {
    z-index: 2000;
    top: -68px;
    right: 58px;
    left: 20px;
    width: auto;
    overflow: hidden;
  }

  header .autocomplete {
    opacity: 0;
  }

  header .autocomplete > input {
    border-radius: 5px;
  }

  header .search-header.is-open {
    overflow: visible;
  }

  header .autocomplete > ul {
    left: 0;
    right: auto;
    width: calc(100vw - 40px);
  }


  header nav,
  header.fixed nav {
    /* position: fixed; */
    top: -88px;
    bottom: auto;
    z-index: 1000;
  }

  header.fixed nav.is-open {
    background: #a3aa87;
    bottom: 0;
  }

  nav.is-open .mobile-menu {
    display: block;
    background: #a3aa87;
    position: absolute;
    top: 88px;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .mobile-menu li {
    border-top: 1px solid rgba(255,255,255,0.25);
  }

  .mobile-menu li a {
    padding-left: 12px;
    line-height: 18px;
    padding: 9px 20px 8px;
    height: auto;
  }

  nav button {
    line-height: 48px;
    display: block;
    top: 20px;
    right: 10px;
    left: auto;
  }
  nav button > img {
    height: 20px;
    vertical-align: middle;
  }

}

@media (max-width: 500px) {

  header .inner {
    padding-top: 80px;
  }

}


.submenu {
  background: #fff;
  color: #222;
  display: none;
  font-size: .9rem;
  font-weight: 500;
  left: 50%;
  text-transform: none;
  position: absolute;
  top: 100%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  text-align: left;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); }
  .submenu-inner {
    -webkit-font-smoothing: antialiased;
    max-height: 1000px;
    min-height: 100px;
    min-width: 195px;
    transition: all .2s ease-in; }
  .submenu--block {
    padding: 15px; }
  .submenu--top {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
  .submenu--bottom {
    background: #f4f5f6;
    border-top: 1px solid #cacfd4;
    padding-bottom: 2em;
    width: 100%; }
  .submenu--bottom .submenu--padder {
    width: 100%; }
  .submenu--bottom .submenu--split {
    width: 33.3%;
    float: left; }
    .submenu--bottom ul {
      margin-bottom: 10px; }
    .submenu--bottom a {
      color: #222;
      display: block;
      line-height: 20px;
      padding: 3px 5px; }
      .submenu--bottom a:hover {
        color: #fff;
        background: #a3aa87; }
  .submenu.is-loading::before {
    -webkit-animation: spin .5s ease infinite;
            animation: spin .5s ease infinite;
    border: 3px solid transparent;
    border-color: #ccc transparent transparent transparent;
    border-radius: 50px;
    color: #ccc;
    content: '';
    height: 50px;
    left: 50%;
    margin: -25px 0 0 -25px;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    top: 50%;
    width: 50px;
    z-index: 1; }
  .submenu.is-loading .submenu-inner {
    max-height: 100px;
    opacity: 0;
    pointer-events: none;
    overflow: hidden; }
  .submenu h3 {
    color: #a3aa87;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    text-indent: 5px;
    line-height: 1; }
  .submenu h4 {
    margin: 0;
    text-indent: 5px;
    line-height: 1.75;
    font-weight: bold; }
  .submenu .tag-title {
    font-weight: 600;
    transition: opacity .1s ease-in;
    border-radius: 5px 0 0 0; }
  .submenu .title {
    color: #fff;
    font-size: 1.25em;
    line-height: 1.25;
    font-weight: 600;
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    transition: opacity .1s ease-in; }
  .submenu .image {
    border-radius: 5px;
    overflow: hidden; }
    .submenu .image::before {
      background: rgba(0, 0, 0, 0.4);
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 5px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      transition: opacity .1s ease-in; }
  .submenu--block {
    overflow: hidden; }
  .submenu--top a:hover .title,
  .submenu--top a:hover .tag-title,
  .submenu--top a:hover .image::before {
    opacity: 1; }
  .submenu--top ul {
    overflow: hidden; }
  .submenu--top li {
    margin-bottom: 15px;
    text-align: center; }

@media (min-width: 42.1875em) {
  .submenu-inner {
    min-width: 645px; }
  .submenu--top li {
    float: left;
    margin: 0 15px 0 0;
    clear: none;
    width: 195px; }
    .submenu--top li:nth-child(3n) {
      margin-right: 0; }
  .submenu--items {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .submenu--items .submenu--item {
      margin: 0 15px 0 0;
      width: 195px; }
      .submenu--items .submenu--item:nth-child(3n) {
        margin-right: 0; } }
@media (min-width: 37.5em) {
  nav {
    padding-right: 0; }
    nav .extra-menu {
      right: 0; } }

footer {
  background: #a3aa87;
  color: #fff;
  margin: 186px 0 0;
  padding: 0 0 2em;
  position: relative; }
  footer::before {
    background: url("../images/footer.png") center top repeat-x;
    content: '';
    height: 186px;
    width: 100%;
    position: absolute;
    left: 0;
    top: -186px; }
  footer a {
    color: #fff !important; }
  footer .logo {
    margin: 0 auto;
    position: absolute;
    right: 15px;
    bottom: 15px; }
  footer h3 {
    width: calc(100% + 20px);
    margin-bottom: -8px;
  }
  footer .footer-contact {
    min-width: 200px;
  }

.footer-links {
  margin-top: 15px; }

@media (min-width: 37.5em) {
  footer .logo {
    position: relative;
    bottom: auto;
    right: auto; }

  .footer-links {
    text-align: center; }
    .footer-links li {
      display: inline-block;
      border-right: 1px solid #fff;
      margin-right: 15px;
      padding-right: 15px; }
      .footer-links li:last-child {
        border: 0;
        padding: 0;
        margin: 0; } }
.front-map {
  padding-bottom: 4em; }
  .front-map .butterflies, .front-map .area-info h2, .area-info .front-map h2 {
    width: 100%;
    padding: 5px .5em;
    margin: 0; }
  .front-map .butterflies {
    font-size: 1.5em;
    padding: 10px .5em; }

  .front-map .more {
    position: absolute;
    height: 50px;
    right: 0;
    bottom: 0;
    margin: 0; }

.svg-map {
  height: 300px;
  margin: 1em 0; }
  .svg-map .label {
    opacity: 0;
    pointer-events: none;
    transition: opacity .1s ease-in; }
  .svg-map .hover {
    opacity: 1; }
    .svg-map-front {
      display: inline-block;
      height: 100%;
      padding: 2em 0 0;
    }

.front-map .areas-list {
  position: relative;
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: none; }

.areas-list h2 {
  margin: 0 0 .25em; }
.areas-list li {
  background: #FFF;
  display: block;
  padding: 1em;
  overflow: hidden; }
  .areaslandingpage .areas-list li {
    transition: margin .1s ease-in;
    box-shadow: -5px 5px 5px 0 rgba(0,0,0,.1); }
  }
  .areaslandingpage .areas-list .turquoise {
    transition: all .2s ease-in;
  }
  /*
  .areas-list li.hover {
    transition-delay: 0.3s;
  }
  */
  .areas-list li:hover,
  .areas-list li.hover {
    background: #f4f5f6;
  }
  .areaslandingpage .areas-list li:hover,
  .areaslandingpage .areas-list li.hover {
    margin-left: -20px; }
  .areas-list li:hover .turquoise,
  .areas-list li.hover .turquoise {
    background: #24717B;
  }
  .areas-list li.is-hidden {
    display: none;
  }
.areas-list a {
  color: #222; }
.areas-list p {
  margin: 0; }
.areas-list .image {
  position: relative;
  display: table-cell;
  vertical-align: top; }

.areas-list .image {
  max-width: 250px; }
.areas-list img {
  width: 200px; }


@media (min-width: 37.5em) {
  .front-map-inner {
    padding: 80px;
  }
  .svg-map-front {
    height: 100%;
    margin: 0; } }

@media (max-width: 899px) {
  .front-map-inner {
    padding: 40px;
  }
  .svg-map-front {
    padding: 0;
  }
  .front-map-inner::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
  }
}

@media (min-width: 56.25em) {

  .front-map-inner {
    height: 450px;
    padding: 0;
  }

  .front-map .areas-list {
    display: block;
    width: 60%;
    float: right;
    margin-left: 0;
    padding-left: 1em; }

  .svg-map-front {
      padding: 6em 0 0 1em;
      width: 40% !important;
      height: auto !important;
    }



  .areas-list a {
    /*
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    */
    display: block; }
  .areas-list .content {
    /* margin: 0 0 0 1em; */
    padding: 0 0 0 1em;
    display: table-cell;
    vertical-align: top; }


  .front-map {
  /*  padding-bottom: 50px; */
  }

  .svg-map-front {
    max-width: 400px; }

  .front-map-inner {
    /*
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  */ }

  .areas-list {
    height: 500px; } }
section {
  margin-bottom: 2em; }

.inner {
  max-width: 61.25em;
  margin: 0 auto;
  padding: 0 20px;
  position: relative; }

main {
  height: auto;
  margin: 0 auto;
  /* min-height: 600px; */
  overflow: hidden;
  padding: 20px;
  max-width: 61.25em; }
  .areaslandingpage main {
    max-width: inherit;
    width: 100%;
    padding: 0 0 2em; }

/* @media (max-width: 600px) { */
@media (max-width: 700px) {

  main .content-wrap .map-wrapper:not(.area-page),
  main .content-wrap .swipeable,
  main .content-wrap .area-more-info,
  main .content-wrap .area-general-info,
  main .content-wrap .more-tips .gallery,

  .eventpage .content-wrap > .block,
  .newspage .content-wrap > .block,
  .contactpersonspage .content-wrap > .block,
  .coworkerspage .content-wrap > .block,

  .accommodationpage .content-wrap > .block,
  .searchresultspage main > .block,

  .generalsubpage .content-wrap > .block {
    margin-left: -20px;
    margin-right: -20px;
  }


  .eventpage .content-wrap > .block,
  .newspage .content-wrap > .block {
    margin-top: -20px;
  }


  main .content-wrap .area-more-info,
  main .content-wrap .area-general-info,

  .eventpage .content-wrap > .block,
  .newspage .content-wrap > .block,
  .contactpersonspage .content-wrap > .block,
  .coworkerspage .content-wrap > .block,

  .accommodationpage .content-wrap > .block,
  .searchresultspage main > .block,

  .generalsubpage .content-wrap > .block {
    border-radius: 0;
  }

  .areaslandingpage main {
    padding: 0 20px 2em; }

}

.no-js-warning {
  border-radius: 5px;
  max-width: 61.25em;
  margin: 2em auto 0 auto;
  padding: 10px 20px;
  position: relative;
  background: pink;
  color: #ff5a77;
  font-weight: bold; }

.center {
  text-align: center; }

.is-hidden {
  display: none; }

.is-faded {
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s ease-in !important; }

.block, .card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
/* -webkit-mask-image: -webkit-radial-gradient(white, black); */ }

.block-inner {
  padding: 15px 15px 30px 15px; }

.block-max {
  max-width: 37.5em;
  margin: 0 auto; }

@media (max-width: 600px) {
  .block, .card {
    /*
    border-radius: 0;
    */
  }
  .block-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 900px) {
  .startpage .block-inner {
    padding-top: 5px;
    padding-bottom: 20px;
  }
}

.gallery::after {
  /* enable Flickity by default */
  content: 'flickity';
  display: none;
  /* disable Flickity for large devices */ }
  @media (min-width: 43.75em) {
    .gallery::after {
      content: ''; } }

/*
.flickity-enabled {
  min-height: 100px; }
*/

.flickity-prev-next-button svg {
  left: 30%;
  top: 30%;
  width: 40%;
  height: 40%; }

.flickity-prev-next-button {
  width: 40px;
  height: 40px;
  z-index: 1; }

@media (max-width: 899px) {
  .flickity-prev-next-button {
    display: none !important;
  }
}


.image {
  position: relative;
  margin: 0; }

.byline {
  background: #8e498f;
  color: #fff;
  font-weight: 600;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: .5em 1em;
}

.lazyloaded .byline {
  display: none;
}

.lazyloaded .lazyload-complete .byline {
  display: block;
}

.flickity-slider .gallery-cell {
  margin: 0 5px;
  border-radius: 10px;
  width: calc(100% - 40px); }

.grid-1,
.grid-2,
.grid-3,
.grid-4 {
  width: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0); }

@media (min-width: 43.75em) {
  .grid {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-align-content: flex-end;
        -ms-flex-line-pack: end;
            align-content: flex-end;
    -content: flext-start; }
    .grid--left {
      -content: flex-start; }
    .grid.gallery .grid-item {
      max-width: 49%; }

  .grid-item {
    -webkit-flex-grow: initial;
        -ms-flex-positive: initial;
            flex-grow: initial;
    margin-right: 2%; }
    .grid-item:last-child {
      margin-right: 0 !important; }

  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-33 {
    -webkit-flex: 0 1 49%;
        -ms-flex: 0 1 49%;
            flex: 0 1 49%; }
    .grid-1:nth-child(2n),
    .grid-2:nth-child(2n),
    .grid-3:nth-child(2n),
    .grid-4:nth-child(2n),
    .grid-33:nth-child(2n) {
      margin-right: 0; }

  .grid-50 {
    -webkit-flex: 0 1 49%;
        -ms-flex: 0 1 49%;
            flex: 0 1 49%; } }
    /* .grid-50:nth-child(2n) {
      margin-right: 0; } } */
@media (min-width: 56.25em) {
  .grid-1:nth-child(2n),
  .grid-2:nth-child(2n),
  .grid-3:nth-child(2n),
  .grid-4:nth-child(2n) {
    margin-right: 2%; }

  .grid-1 {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }

  .grid-2 {
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2; }

  .grid-3 {
    -webkit-flex: 3;
        -ms-flex: 3;
            flex: 3; }

  .grid-4 {
    -webkit-flex: 4;
        -ms-flex: 4;
            flex: 4; }

  .image--full {
    position: absolute !important;
    left: 0;
    top: 0; }

  .grid-33 {
    -webkit-flex: 0 1 32%;
        -ms-flex: 0 1 32%;
            flex: 0 1 32%; }
    .grid-33:nth-child(2n) {
      margin-right: 2%; }
    .grid-33:nth-child(3n) {
      margin-right: 0; }

  .grid-fixed-33 {
    width: 320px; } }
.card {
  color: #222;
  display: block;
  text-align: center;
  padding-bottom: 30px; }
  .card:visited, .card:active, .card:focus {
    color: #222; }
  .card .image {
    border: 0;
    display: block;
    position: relative;
    margin: 0 auto; }
    .card .image img {
      min-height: 100px; }
  .card .image--full {
    display: block;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    max-width: 100%;
    z-index: 0; }
    .card .image--full::before {
      background: #222;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      opacity: .4;
      transition: opacity .2s ease; }
    .card .image--full img {
      display: block;
      pointer-events: none; }
  .card .rating {
    display: inline-block;
    margin: 0 auto; }
  .card .read-more {
    font-size: 0.875em;
    font-weight: 600;
    color: #25b8ca;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    bottom: 15px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
    .card .read-more:hover {
      text-decoration: underline; }
  .card .content {
    padding: 15px; }
  .card.puff-fixed .content {
    padding: 25px;
  }
  .card h2 {
    /*
    margin-top: 0;
    margin-bottom: 10px;
    */
    margin: 10px 0 6px;
    line-height: 1.25; }
  .card p {
    margin-top: 0; }

@media (max-width: 699px) {
  .card h2,
  .gallery-cell h2 {
    margin-top: 6px;
    margin-bottom: 4px;
  }
  .card p {
    margin-left: 2.5vw;
    margin-right: 2.5vw;
  }
}

@media (max-width: 899px) {
    .card .image--full {
      display: none;
    }
}


.push {
  /* margin-bottom: 15px; */
  padding-bottom: 15px; }
  /* border-bottom: 1px solid #25b8ca; } */
  .push:last-child {
    border: 0;
    margin: 0; }
  .push h2 {
    margin: 8px 0 0; }
  .pushes.areas .area h3,
  .pushes.areas .misc h3 {
    margin: 0;
  }
  .push p {
    margin-top: 6px; }
  .pushes.areas .area p,
  .pushes.areas .misc p {
    margin-bottom: 6px;
  }
  .push .image {
    margin: 0 15px 15px 0; }
  .push--order {
  /* padding-bottom: 3em; */}
    .push--order .button {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      margin: 0; }

.pushes.areas {
  margin-bottom: -16px;
}

.pushes.areas + hr {
  margin-top: 20px;
}

.purple {
  background-color: #8e498f;
  color: #fff;
  fill: #fff; }
  .purple:active, .purple:visited {
    color: #fff; }

.turquoise {
  background-color: #25b8ca;
  color: #fff;
  fill: #fff; }
  .turquoise:active, .turquoise:visited {
    color: #fff; }

.tag-title {
  position: absolute;
  left: 0;
  top: 0;
  padding: .35em .75em;
  text-align: left;
  z-index: 1;
/* min-width: 150px; */ }

@media (max-width: 699px) {
  .tag-title {
    font-size: 14px;
  }
}

.button {
  background: #25b8ca;
  color: #fff;
  display: inline-block;
  border: none;
  font-size: .85em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  padding: 15px 15px 12px;
  margin: 15px 5px;
  white-space: nowrap;
  text-transform: uppercase;
  position: relative;
  transition: background .2s ease-in-out; }
  .button.more {
    padding-left: 2em;
    padding-right: 2em; }
  .button--center {
    display: block;
    margin: 0 auto; }
  .button--arrow {
    padding-right: 55px !important; }
    .button--arrow::after {
      color: #fff;
      content: ' ';
      font-weight: bold;
      font-size: 20px;
      height: 100%;
      background: url("../images/button_arrow.svg") center center no-repeat #24717B;
      position: absolute;
      right: 0;
      top: 0;
      text-align: center;
      width: 40px; }
  .button--link {
    border: 0;
    background: none;
    padding: 0;
    margin: 0;
    color: #25b8ca;
    outline: none; }
    .button--link:active {
      color: #24717B; }
  .button.turquoise:hover {
    background: #24717B; }

.lazyLoad-more {
  transition: all .1s ease-in !important;
  padding: 15px 35px; }
  .lazyLoad-more::before {
    opacity: 0;
    transition: opacity .2s ease-in; }
  .is-loading .lazyLoad-more::before {
    -webkit-animation: spin .5s ease infinite;
            animation: spin .5s ease infinite;
    border: 2px solid transparent;
    border-color: #b1eaf1 transparent transparent transparent;
    border-radius: 20px;
    color: #b1eaf1;
    content: '';
    height: 20px;
    left: 20px;
    margin: -10px 0 0 -10px;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    top: 50%;
    width: 20px;
    z-index: 1; }

.svg-icon {
  display: inline-block;
  height: 20px;
  width: 20px; }
  .svg-icon.turquoise {
    background: transparent;
    fill: #25b8ca; }
  .svg-icon.white {
    background: transparent;
    fill: #fff; }

.show-more-slideOut {
  max-height: 0;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
  transition: max-height 1s ease-out; }
  .show-more-slideOut.fadeOut {
    max-height: 150px; }
    .show-more-slideOut.fadeOut::before {
      background: linear-gradient(transparent, white);
      content: '';
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      position: absolute;
      transition: opacity .5s ease-out; }
  .show-more-slideOut.is-open {
    max-height: 4000px; }
    .show-more-slideOut.is-open.fadeOut::before {
      opacity: 0; }

.alerts {
  position: fixed;
  left: 50%;
  top: 0;
  overflow: hidden;
  z-index: 2000;
  border-radius: 0 0 5px 5px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
  .alerts li {
    background: pink;
    padding: 5px 10px; }

.downloads li {
  margin-bottom: 16px;
  margin-right: 0;
}
.downloads a {
  font-weight: 600;
  display: block; }
.downloads p {
  margin-bottom: 0; }
.downloads .file-info {
  font-size: 14px;
  font-weight: 500;
  display: block; }
.downloads .svg-icon {
  float: left;
  height: 40px;
  width: 40px; }
.downloads span:not(.file-info) {
  line-height: 20px;
  float: right;
  width: calc(100% - 50px);
}

.events-upcoming li {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 0; }
.events-upcoming .date {
  background: #8e498f;
  color: #fff;
  padding: .5em 1em; }
.events-upcoming .title {
  background: #f4f5f6;
  padding: .5em 1em; }

@media (max-width: 440px) {
  .events-upcoming .date {
    font-size: 13px;
    padding: 0.15em 1em;
    font-weight: bold;
  }
  .events-upcoming .title {
    font-size: 13px;
    font-weight: bold;
    padding-right: 0;
  }
}

@media (min-width: 900px) {
  .events-upcoming li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .events-upcoming .date {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .events-upcoming .title {
    -webkit-flex: 4;
        -ms-flex: 4;
            flex: 4; } }

.events-more {
  display: block;
  text-align: center;
  text-transform: uppercase; }

.latest-news,
.area-accommodations {
  text-align: center; }
  .area-accommodations .card .image--full::before {
    display: none;
  }
  .latest-news h1,
  .area-accommodations h1 {
    text-align: left; }
  .latest-news .small-card .image,
  .area-accommodations .small-card .image {
    display: block; }
  .latest-news .big-card .button,
  .area-accommodations .big-card .button {
    display: none; }
  @media (min-width: 56.25em) {
    .latest-news .image-full,
    .area-accommodations .image-full {
      visibility: hidden; }
    .latest-news .small-card .date,
    .area-accommodations .small-card .date {
      margin-top: 10px;
      display: inline-block;
    }
    .latest-news .small-card h2,
    .area-accommodations .small-card h2 {
      margin-top: 10px;
    }
    .latest-news .small-card .image,
    .area-accommodations .small-card .image {
      display: none; }
    .latest-news .big-card,
    .area-accommodations .big-card {
      position: relative;
    /* -webkit-mask-image: -webkit-radial-gradient(white, black); */ }
      .latest-news .big-card .content,
      .area-accommodations .big-card .content {
        opacity: 1;
        transition: opacity .2s ease; }
      .latest-news .big-card:hover .content,
      .latest-news .big-card:hover .image::before,
      .area-accommodations .big-card:hover .content,
      .area-accommodations .big-card:hover .image::before {
        opacity: 0;
        z-index: 0; }
      .latest-news .big-card .content-wrapper,
      .area-accommodations .big-card .content-wrapper {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        color: #fff;
        position: absolute;
        left: 0;
        top: 0;
        padding: 1em;
        height: 100%;
        width: 100%;
        z-index: 1; }
      .latest-news .big-card .read-more,
      .area-accommodations .big-card .read-more {
        display: none; }
      .latest-news .big-card .button,
      .area-accommodations .big-card .button {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 0;
        z-index: 2; } }

@media (min-width: 900px) {
  .startpage .latest-news .small-card h2 {
    font-size: 1.17em;
    font-weight: bold;
    margin: 10px 0;
  }
  .startpage .latest-news .small-card p {
    font-size: 14px;
    line-height: 20px;
  }
  .startpage .latest-news .small-card .date {
    position: absolute;
    background: #8e498f;
    color: #FFF;
    top: 0;
    left: 0;
    margin-top: 0;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;
  }
}

/*
.areapage .area-accommodations p,
.generalsubpage .area-accommodations p {
  padding-bottom: 20px;
}
.areapage .area-accommodations .button,
.generalsubpage .area-accommodations .button {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 2; }
  */

.current-rating,
.star-rating,
star-rating {
  background: url("../images/rating/stars_sprite2.png") left -1000px repeat-x;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 126px;
  height: 26px;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  background-position: left top; }

.accommodationpage .star-rating {
  margin-top: 6px;
}
  .current-rating li,
  .star-rating li,
  star-rating li {
    display: inline;
    padding: 0;
    margin: 0; }
  .current-rating .current-rating,
  .star-rating .current-rating,
  star-rating .current-rating {
    position: absolute;
    top: 0;
    left: 0;
    text-indent: -1000em;
    height: 25px;
    line-height: 25px;
    outline: none;
    overflow: hidden;
    border: none; }
  .current-rating a,
  .star-rating a,
  star-rating a {
    position: absolute;
    top: 0;
    left: 0;
    text-indent: -1000em;
    height: 25px;
    line-height: 25px;
    outline: none;
    overflow: hidden;
    border: none; }
    .current-rating a:active, .current-rating a:focus, .current-rating a:hover,
    .star-rating a:active,
    .star-rating a:focus,
    .star-rating a:hover,
    star-rating a:active,
    star-rating a:focus,
    star-rating a:hover {
      background: url("../images/rating/stars_sprite2.png") left -1000px repeat-x;
      background-position: left bottom; }
    .current-rating a.one-star,
    .star-rating a.one-star,
    star-rating a.one-star {
      width: 20%;
      z-index: 6; }
    .current-rating a.two-stars,
    .star-rating a.two-stars,
    star-rating a.two-stars {
      width: 40%;
      z-index: 5; }
    .current-rating a.three-stars,
    .star-rating a.three-stars,
    star-rating a.three-stars {
      width: 60%;
      z-index: 4; }
    .current-rating a.four-stars,
    .star-rating a.four-stars,
    star-rating a.four-stars {
      width: 80%;
      z-index: 3; }
    .current-rating a.five-stars,
    .star-rating a.five-stars,
    star-rating a.five-stars {
      width: 100%;
      z-index: 2; }
  .current-rating .current-rating,
  .star-rating .current-rating,
  star-rating .current-rating {
    z-index: 1;
    background-position: left center; }

.rated {
  padding: 15px 10px 10px; }
  .rated h2 {
    font-size: 18px; }

#rated-wrapper {
  font-size: 100%;
  font-weight: 500;
  padding: 14px 0;
  width: 290px;
  margin-top: 10px; }
  #rated-wrapper div {
    width: 220px; }

.rated-item {
  margin: 0; }

.rated-text {
  display: block;
  font-weight: 800;
  margin: 4px 0 0; }

.inline-rating {
  display: -moz-inline-block;
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle; }

.small-star {
  width: 50px;
  height: 10px;
  background-image: url("../images/rating/star_small.gif");
  line-height: 10px;
  height: 10px; }
  .small-star .current-rating {
    background-image: url("../images/rating/star_small.gif");
    line-height: 10px;
    height: 10px; }
  .small-star a:active, .small-star a:focus, .small-star a:hover {
    background-image: url("../images/rating/star_small.gif");
    line-height: 10px;
    height: 10px; }

.inline-rating .title,
.facilities-wrapper .title {
  font-size: 1.25em;
  margin: 0 0 10px 0; }

.voters-message {
  font-size: .85em;
  margin-top: 12px; }

@media only screen and (max-width: 1000px) {
  .rated > div {
    width: 100% !important; }
    .rated > div > div {
      width: 200px; }
      .rated > div > div > div {
        width: 200px !important; } }
.accommodationpage .rating-wrapper {
  overflow: hidden;
  margin: 5px 0 10px; }
.accommodationpage .inline-rating {
  background: #f4f5f6;
  padding: 30px 15px;
  width: calc(50% - 10px);
  float: left;
  text-align: center;
  border-radius: 5px;
}
.accommodationpage .facilities-wrapper {
  background: #f4f5f6;
  width: calc(50% - 10px);
  float: right;
  text-align: center;
  padding: 30px;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .accommodationpage .inline-rating,
  .accommodationpage .facilities-wrapper {
    width: 100%;
  }

  .accommodationpage .facilities-wrapper {
    margin-top: 20px;
    padding: 30px 70px;
  }
}

@media (max-width: 370px) {
  .accommodationpage .facilities-wrapper {
    padding: 30px;
  }
}

.searchresultspage main .search-field {
  background-color: #f4f5f6;
  height: 40px;
  width: calc(100% - 40px);
  float: left;
  border-radius: 5px 0 0 5px; }
.searchresultspage main .search-button {
  border-radius: 0 5px 5px 0;
  height: 40px;
  width: 40px;
  position: relative;
  background: #25b8ca; }
  .searchresultspage main .search-button svg {
    height: 20px;
    width: 20px; }
.searchresultspage .resultpage-message {
  margin: 1em 0; }
.searchresultspage h3,
.searchresultspage p {
  margin: 0; }
.searchresultspage .search-result-item {
  margin-bottom: 1em; }
.searchresultspage .pager {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em; }
.searchresultspage .hls {
  font-weight: bold;
}

.searchresultspage .pagination {
  margin-top: 16px;
}

.searchresultspage .pagination li {
  min-height: 0;
  min-width: 0;
}
.searchresultspage .pagination a {
  display: inline-block;
  height: 28px;
  width: 22px;
  line-height: 30px;
}
.searchresultspage .pagination .active a {
  margin: 0 5px;
  width: 30px;
  font-weight: bold;
  background: #25b8ca;
  color: #FFF;
}

.searchresultspage .pagination li[class^='PagedList-skip'] a,
.searchresultspage .pagination li[class*=' PagedList-skip'] a {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px
}

.social-icons {
  margin: 15px 0; }

.share-btn,
.share-btn * {
  box-sizing: border-box; }

.share-btn,
.share-btn *,
.share-btn *:before,
.share-btn *:after {
  box-sizing: border-box; }

.share-btn {
  position: relative;
  display: inline-block;
  height: 24px;
  margin: 0;
  padding: 2px 8px;
  line-height: 1.53;
  letter-spacing: .04em;
  vertical-align: top;
  font-size: 12px;
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #111;
  background: #e0e0e0;
  border: 1px solid #c7c7c7;
  border-radius: 2px;
  text-decoration: none;
  transition: all 0.2s ease; }
  .share-btn:hover, .share-btn:focus {
    background: lightgray;
    border-color: #bababa;
    text-decoration: none;
    color: #111; }
  .share-btn:active {
    background: #c7c7c7;
    border-color: #adadad;
    text-decoration: none;
    color: #111; }
  .share-btn.share-btn-sm {
    height: 20px;
    font-size: 10px;
    padding: 0 8px;
    line-height: 1.6; }
  .share-btn.share-btn-lg {
    height: 28px;
    font-size: 16px;
    line-height: 1.4; }
  .share-btn .svg-icon {
    width: 15px; }
  .share-btn.share-btn-branded {
    color: #fff; }
  .share-btn.share-btn-branded.share-btn-twitter {
    background: #55acee;
    border-color: #3ea1ec; }
    .share-btn.share-btn-branded.share-btn-twitter:hover, .share-btn.share-btn-branded.share-btn-twitter:focus {
      background: #3ea1ec;
      border-color: #2795e9; }
    .share-btn.share-btn-branded.share-btn-twitter:active {
      background: #2795e9;
      border-color: #1689e0; }
  .share-btn.share-btn-branded.share-btn-facebook {
    background: #3b5998;
    border-color: #344e86; }
    .share-btn.share-btn-branded.share-btn-facebook:hover, .share-btn.share-btn-branded.share-btn-facebook:focus {
      background: #344e86;
      border-color: #2d4373; }
    .share-btn.share-btn-branded.share-btn-facebook:active {
      background: #2d4373;
      border-color: #263961; }
  .share-btn.share-btn-branded.share-btn-googleplus {
    background: #dd4b39;
    color: #fff;
    border-color: #d73925; }
    .share-btn.share-btn-branded.share-btn-googleplus:hover, .share-btn.share-btn-branded.share-btn-googleplus:focus {
      background: #d73925;
      border-color: #c23321; }
    .share-btn.share-btn-branded.share-btn-googleplus:active {
      background: #c23321;
      border-color: #ac2d1e; }
  .share-btn .share-btn-text {
    padding-left: 2px; }

.tips {
  text-align: center; }
  .tips h1 {
    text-align: left; }

.more-tips .gallery-cell {
  background: #fff;
  /* width: 100%; */
  border-radius: 10px;
  overflow: hidden;
}
@media (min-width: 700px) {
  .more-tips .gallery-cell {
    width: 100%;
  }
}
  .more-tips .gallery-cell .content {
    padding: 1em 3em;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center; }
@media (min-width: 43.75em) {
  .more-tips .gallery-cell {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .more-tips .image {
    width: 60%; }
  .more-tips .content {
    width: 40%; } }

.button--open {
  margin: 0;
  width: 100%; }

.services-wrapper {
  background: #f4f5f6; }
  .services-wrapper button {
    margin-top: 20px;
  }
  .services-wrapper li {
    display: block;
    float: left;
    text-align: center;
    overflow: hidden;
    padding: 10px 0;
    width: 50%; }
  .services-wrapper .title {
    display: block;
    text-align: center;
    font-weight: 600;
    white-space: nowrap; }
  .services-wrapper .count {
    font-weight: 500; }
  .services-wrapper .icon {
    background: #25b8ca;
    fill: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    display: inline-block;
    vertical-align: middle; }

.services {
  padding: 1.5em 1em 1em; }
  .services svg {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -10px; }

/* ÄNDRAD: .preamble (enbart) tillagt */
.preamble  {
  font-weight: 600; }
.area-more-info .events-upcoming .block-inner {
  padding: 0; }

.area-info {
  padding: 15px 45px;
  margin-top: 0; }
  .area-info h2:first-child {
    margin-top: 0; }

.basic-info {
  margin-top: 0; }

.basic-info-content h2 {
  display: none;
}

.warnings {
  background: #25B8CA;
  padding: 20px;
  color: #FFF;
}
.warnings h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
.warnings li {
  overflow: hidden;
  margin-bottom: 15px;
  display: flex;
  align-items: center; }
  .warnings li:last-child {
    margin: 0; }
.warnings .svg-icon {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  float: left; }
.warnings p {
  margin: 0 0 0 14px;
  font-weight: bold;
  line-height: 18px;}
.warnings a {
  color: #fff;
  text-decoration: underline;}

@media (max-width: 900px) {
  .warnings p {
    line-height: 16px;
  }
}

/*
.area-more-info figure::before,
.area-more-info .image::before,
.more-tips figure::before,
.more-tips .image::before {
*/

.old-ie .gallery .flickity-viewport::before {
  display: none;
}

@media (min-width: 701px) {
  .eventpage main .image img,
  .newspage main .image img {
      vertical-align: bottom;
  }

  .eventpage main .image::before,
  .newspage main .image::before,
  .gallery .flickity-viewport::before {
    content: '';
    background: url("../images/mushrooms.svg") bottom -10px left -10px no-repeat;
    background-size: 250px;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100px;
    z-index: 1;
    position: absolute; }

}


.button--close {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  font-weight: 600;
  line-height: 1;
  margin: 0; }

.interactive-map {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity .5s ease-in; }

.map-wrapper {
  background: #f4f5f6;
  overflow: hidden;
  position: relative; }
  .map-wrapper .show-filters {
    position: absolute;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    right: 10px;
    bottom: 10px;
    padding: 12px;
    color: #FFF;
    line-height: 22px;
    background: #25b8ca;
    border: none;
    border-radius: 50%;
    z-index: 9999;}
    .map-wrapper .show-filters:focus {
      outline: none;
      background: #24717B; }
    .map-wrapper .show-filters svg {
      width: 22px;
      height: 24px;
      fill: #FFF;
      position: relative;
      top: 2px;
    }
  .map-wrapper.area-page {
    width: 100vw;
    height: 100vh;
    padding: 0;
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    transition: all .5s ease-in-out; }
    .map-wrapper.area-page .interactive-map {
      height: 100%;
      width: 100%; }
  .map-wrapper.overview-page .interactive-map {
    display: block;
    width: 100%;
    height: 400px; }
  .map-wrapper.overview-page .show-filters {
    top: 10px;
    bottom: auto; }
  .map-wrapper.is-open {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }
  .map-wrapper.is-loading::before {
    -webkit-animation: spin .5s ease infinite;
            animation: spin .5s ease infinite;
    border: 3px solid transparent;
    border-color: #ccc transparent transparent transparent;
    border-radius: 50px;
    color: #ccc;
    content: '';
    height: 50px;
    left: 50%;
    margin: -25px 0 0 -25px;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    top: 50%;
    width: 50px;
    z-index: 1; }
  .map-wrapper.is-loading .interactive-map {
    opacity: 0; }
  .map-wrapper.is-loaded .areas-list {
    opacity: 1; }
  .map-wrapper .areas-list {

    display: block;
    width: 100%;
    opacity: 0;
    transition: opacity .2s ease-in; }


.filter-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 42px;
  transition: all .2s .2s ease-in;
  -webkit-transform: translateX(-120%);
      -ms-transform: translateX(-120%);
          transform: translateX(-120%); }
  .filter-container button {
    background: #25b8ca;
    border: 0;
    border: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-weight: 600;
    margin: 0;
    outline: none;
    padding: 5px;
    text-transform: uppercase;
    white-space: nowrap;
    width: 42px;
    height: 42px; }
    .filter-container button:focus {
      text-decoration: none; }
    .no-touchevents .filter-container button:hover {
      color: #24717B; }
    .filter-container button:disabled {
      color: #aaa; }
      .filter-container button:disabled svg {
        fill: #21a4b4; }
  .filter-container .icons {
    background: #25b8ca;
    height: 100%;
    z-index: 1; }
  .filter-container:hover .filters {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
  .filter-container.is-open {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    transition: all .2s ease-in; }
    .filter-container.is-open .filters {
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0);
      transition: all .2s .2s ease-in; }
  .filter-container .active {
    background: #24717B;
    color: #fff;
    font-weight: bold; }
    .filter-container .active:hover {
      color: #fff; }
  .filter-container svg {
    fill: #fff;
    vertical-align: middle;
    width: 24px;
    height: 24px; }

.filters {
  position: absolute;
  left: 40px;
  background: #fff;
  transition: all .2s ease-in;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  padding: 0 0 0 2px;
  z-index: 0;
  min-width: 170px; }
  .filters button {
    display: block;
    background: #fff;
    color: #25b8ca;
    height: 42px;
    line-height: 32px;
    width: 100%;
    text-align: left;
    padding-left: 12px;}
    .no-touchevents .filters button:hover {
      color: #24717B; }
    .filters button .active,
    .no-touchevents .filters button.active:hover {
      background: #24717B;
      color: #fff; }


.map-mobile-menu {
  display: none;
}

.map-wrapper .filters svg {
  display: none;
}

.filter-container .filter-overlay-btn,
.filter-container .filter-overlay-close-btn, 
.filter-container h3, 
.filter-container p { /* h3 and p added by TG 160901 to show filter overlay text in mobile */
  display: none;
}

@media (max-width: 768px) {
  .map-wrapper .filter-container h3, .filter-container p { /* added by TG 160901 to show filter overlay text in mobile */ 
   display:block;
 }
  .map-wrapper .filter-container .filter-overlay-btn {
    background: #8E498F;
    width: 140px;
    margin-left: 90px;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    padding: 6px 0;
    margin-top: 20px;
    text-transform: none;
    border-radius: 3px;
    display: block;
  }

  .map-wrapper .filter-container .filter-overlay-close-btn {
    display: block;
    float: right;
    font-size: 28px;
  }

  .map-wrapper .filter-container {
    display: none;
  }

  .map-wrapper .filter-container.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: #FFF;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    transition: none;
    z-index: 99999;
  }

  .map-wrapper .filters {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    background: none;
    transition: all .2s ease-in;
    -webkit-transform: translate3d(-50%, -50%, 0) !important;
    -ms-transform: translate3d(-50%, -50%, 0) !important;
    transform: translate3d(-50%, -50%, 0) !important;
    padding: 0;
    z-index: 0;
    min-width: 0;
    text-align: center;
  }

  .map-wrapper .filters h3 {
    margin: 0 0 6px;
  }
  .map-wrapper .filters p {
    font-size: 13px;
    line-height: 18px;
    padding: 0 30px;
    margin: 0 0 14px;
  }

  .map-wrapper .filters button:not(.filter-overlay-btn) {
    width: 50%;
    margin: 0;
    padding: 0 0 0 20px;
    display: inline-block;
    height: auto;
    background: none;
    color: #999;
    font-size: 11px;
    line-height: 24px;
    margin: 6px 0;
    opacity: 0.75;

  }

  .map-wrapper .filters button {

  }

  .map-wrapper .filters button:nth-child(2n) {
    padding: 0 0 0 10px;
  }

  .map-wrapper .filters button.active {
    color: #25b8ca;
    opacity: 1;
  }

  .map-wrapper .filter-container button:disabled {
    opacity: 0.35;
  }
  .map-wrapper .filter-container button:disabled svg {
    fill: #999;
  }

  .map-wrapper .filters span {
    display: inline-block;
    vertical-align: middle;
    padding: 2px 0 0 8px;
  }

  .map-wrapper .filter-container .icons {
    display: none;
  }



  /* MOBILE FILTERS */
  .map-wrapper.overview-page .show-filters {
    display: none;
  }

  .map-wrapper .filters svg {
    display: inline-block;
    vertical-align: middle;
    fill: #999;
  }
  .map-wrapper .filters .active svg {
    fill: #25b8ca;
  }

  .map-wrapper.overview-page.list-view .areas-list {
    position: relative;
    margin-top: -360px; /* margin-top: -340px;  - TG: 160823 */
  }

  .map-mobile-menu {
    background: #F4F5F6;
    display: block;
    height: 48px;
  }

  .area-page .map-mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .map-wrapper.area-page .interactive-map {
    height: calc(100% - 48px);
    margin-top: 48px;
  }

  .map-wrapper.area-page .button--close {
    display: none;
  }

  .map-mobile-menu button {
    background: none;
    border: none;
    outline: 0;
    color: #25B8CA;
    font-weight: bold;
    line-height: 48px;
    margin: 0;
    padding: 0 18px;
    font-size: 14px;
    display: inline-block;
  }

  .map-mobile-menu button svg {
    fill: #25B8CA;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    margin-top: -2px;
  }

  .map-wrapper:not(.is-loaded) .map-mobile-menu button,
  .map-mobile-menu button span {
    display: none;
  }

  .map-wrapper:not(.list-view) .map-mobile-menu button .toggle-listview {
    display: inline-block;
  }

  .list-view .map-mobile-menu button .toggle-mapview {
    display: inline-block;
  }

  .map-mobile-menu button:first-child svg {
    margin-right: 10px;
  }

  .map-wrapper.area-page .map-mobile-menu button:first-child svg {
    transform: rotate(180deg);
    margin-right: 0;
  }

  .map-mobile-menu button:first-child .toggle-listview svg {
    width: 24px;
  }

  .map-mobile-menu button:last-child svg {
    margin-left: 6px;
  }

  .map-mobile-menu button:last-child {
    float: right;
  }

  .map-wrapper:not(.list-view) {
    background: none;
  }

  /* MOBILE HORIZONTAL SCROLL */
  .map-wrapper:not(.list-view) .areas-list {
    position: relative;
    z-index: 250;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    /*
    height: 138px;
    margin-top: -16px;
    padding-top: 16px;
    */

    height: 230px;
    margin-top: -24px;
    padding-top: 24px;
    box-sizing: content-box;
    /*
    height: 212px;
    margin-top: -90px;
    padding-top: 90px;
    */
  }

  .map-wrapper.list-view .areas-list ul {
    width: auto !important;
  }

  .map-wrapper .areas-list a {
    display: block;
  }

  .areas-list .image {
    width: 100%;
    max-width: none;
  }

  .areas-list img {
    width: calc(100vw - 2em);
  }

  .map-wrapper:not(.list-view) .areas-list img {
    width: auto;
  }

  .map-wrapper.overview-page .interactive-map {
    height: 400px;    /* height: 340px; - TG: 160823 */
    zoom:0.9;         /* Ny rad - TG: 160823 */
  }

  .map-wrapper:not(.list-view) .areas-list li {
    display: block;
    float: left;
    padding: 8px;
    box-shadow: -5px 0 5px 0 rgba(0,0,0,.1);
  }

  .map-wrapper.list-view .areas-list li {
    border-bottom: 10px solid #F4F5F6;
  }

  .map-wrapper.list-view .areas-list li:hover .turquoise,
  .map-wrapper.list-view .areas-list li.hover .turquoise {
    background: #25b8ca;
  }

  .map-wrapper .areas-list li.is-hidden {
    display: none;
  }

  .map-wrapper .areas-list .content {
    display: none;
  }

  .map-wrapper:not(.list-view) .areas-list li:hover .content,
  .map-wrapper:not(.list-view) .areas-list li.hover .content,
  .map-wrapper.list-view .areas-list .image,
  .map-wrapper.list-view .areas-list .content {
    display: block;
  }

  .map-wrapper:not(.list-view) .areas-list img {
    height: 80px;
  }

  .map-wrapper:not(.list-view) .areas-list li:hover img,
  .map-wrapper:not(.list-view) .areas-list li.hover img {
    height: 100px;
    width: 204px;
  }

  .map-wrapper:not(.list-view) .areas-list li:hover h2,
  .map-wrapper:not(.list-view) .areas-list li.hover h2 {
    margin-top: 10px;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
  }

  .map-wrapper:not(.list-view) .areas-list li:hover p,
  .map-wrapper:not(.list-view) .areas-list li.hover p {
    margin-top: 0;
    font-size: 12px;
    line-height: 14px;
  }

  .map-wrapper .areas-list span {
    font-size: 12px;
    font-weight: bold;
    padding: 2px 8px 0;
    min-width: 0;
  }

  .map-wrapper:not(.list-view) .areas-list span {
    position: static;
    display: block;
    min-width: 100%;
  }

  .map-wrapper:not(.list-view) .areas-list li:hover span,
  .map-wrapper:not(.list-view) .areas-list li.hover span {
    /*position: absolute;*/
  }

  .map-wrapper.list-view .areas-list li:hover,
  .map-wrapper.list-view .areas-list li.hover {
    background: #FFF;
    margin: 0;
  }

  .map-wrapper:not(.list-view) .areas-list li:hover,
  .map-wrapper:not(.list-view) .areas-list li.hover {
    margin: -24px 0 0;
    /*margin: -90px 0 0;*/
    width: 220px;
    height: 240px;
  }

}


@media (min-width: 600px) and (max-width: 768px) {

  .map-wrapper .areas-list h2 {
    margin-top: 0;
  }

  .map-wrapper.list-view .areas-list a {
    display: table;
  }

  .map-wrapper.list-view .areas-list .content {
    vertical-align: top;
    display: table-cell;
    padding-left: 1em;
  }

  .areas-list .image {
    overflow: hidden;
  }

  .areas-list img {
    width: auto;
    height: 130px;

  }
}

@media (max-width: 768px) and (min-height: 650px) {
  .map-wrapper.overview-page .interactive-map {
    height: 400px;
  }
  .map-wrapper.overview-page.list-view .areas-list {
    margin-top: -360px;    /*margin-top: -400px; - TG: 160823 */
  }
}

@media (max-width: 768px) and (min-height: 750px) {
  .map-wrapper.overview-page .interactive-map {
    height: 500px;
  }
  .map-wrapper.overview-page.list-view .areas-list {
    margin-top: -500px;
  }
}

@media (min-width: 769px) {

  .map-wrapper.overview-page .interactive-map {
    height: 600px; }
  .show-filters {
    display: none; }

  .map-wrapper {
  /* min-height: 800px; */
    min-height: 588px; }
    .map-wrapper.area-page {
      padding: 0 0 0 42px; }
    .map-wrapper.overview-page .interactive-map {
      position: absolute !important;
      height: 100%;
      width: calc(50vw - 42px);
      left: 42px;
      padding: 0; }
    .map-wrapper .areas-list {
      position: absolute;
      top: 0;
      right: 0;
      width: calc(50% + 30px);
      min-width: 460px;
      height: 100%;
      padding: 0 0 0 30px;
      overflow: auto; }
    .map-wrapper .areas-list ul {
      width: auto !important;
    }

    .map-wrapper .areas-list ul li {
      border-bottom: 1px solid #e5e5e5;
    }

    .map-wrapper .areas-list a {
      display: table;
    }

    .map-wrapper .areas-list .content {
      display: table-cell;
      padding-left: 1em;
    }

  .filter-container {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; } }
.generalsubpage .bodytext,
.accommodationpage .bodytext,
.accommodationslandingpage .bodytext {
  position: relative; }
.generalsubpage .hover-image,
.accommodationpage .hover-image,
.accommodationslandingpage .hover-image {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity .2s ease-in-out;
  z-index: 0; }
.generalsubpage .facilities li,
/* .accommodationpage .facilities li, */
.accommodationslandingpage .facilities li {
  display: inline-block;
  margin: 3px 2px;
  overflow: hidden;
  position: relative; }
.generalsubpage .facilities img,
.accommodationpage .facilities img,
.accommodationslandingpage .facilities img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-right: 4px; }

.accommodationpage .facilities img {
  margin: 0;
}

.accommodationslandingpage .facilities li span,
.accommodationpage .facilities li span {
  position: absolute;
  top: -1px;
  left: -2px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #FFF;
  font-size: 12px;
}

.accommodationpage .facilities li span {
  left: 0;
}

@media (min-width: 43.75em) {
  .generalsubpage .card:hover .hover-image,
  .generalsubpage .card:hover .facilities,
  .accommodationpage .card:hover .hover-image,
  .accommodationpage .card:hover .facilities,
  .accommodationslandingpage .card:hover .hover-image,
  .accommodationslandingpage .card:hover .facilities {
    opacity: 1; }
}

.accommodationpage .facilities {
  background: #f4f5f6;
  font-weight: 600; }
  .accommodationpage .facilities li {
    position: relative;
    display: inline-block;
    margin: 4px 0 4px 4px; }

.card .facilities {
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity .2s ease-in-out; }

.accommodationslandingpage .card .facilities {
  padding: 0 10px;
}

@media (max-width: 899px) {
  .accommodationslandingpage .card .facilities {
    padding: 0 44px;
  }
}
.contact {
  margin: 15px 0;
  padding-bottom: 15px;
  overflow: hidden;
  border-bottom: 1px solid #f4f5f6; }
  .contact:last-child {
    border: 0;
    padding: 0; }
  .contact h2 {
    margin: 0; }
  .contact .email,
  .contact .telephone,
  .contact .title {
    display: block; }
  .contact .title {
    margin-bottom: 15px; }
  @media (min-width: 56.25em) {
    .contact {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .contact .image {
        -webkit-flex: 0 0 148px;
            -ms-flex: 0 0 148px;
                flex: 0 0 148px;
        margin-right: 15px; } }


/* Hides detailed directions behind a toggle */
.areapage #expanded-directions { display: none; }
.areapage #expand-directions {
   font-weight: bold;
   padding-top: 16px;
   display: block;
}


/* Temporary fix for gallery images sometimes having a black right border */
figure.gallery-cell.is-selected {
  width: 100.2% !important;
}

/* Hides the infowwindow cross */
html:not(.areapage) .gm-style-iw + div { display: none; }
.gm-style-iw {
  text-align: center !important;
  margin-bottom: -4px !important;
  line-height: 14px;
  padding-top: 4px;
}

.flickity-prev-next-button:disabled {
  display: none;
}

.gallery.js-flickity:not(.cards) { display: none; }
.gallery.js-flickity.flickity-enabled { display: block; }


.addthis_sharing_toolbox {
  text-align: center;
}

.addthis_sharing_toolbox .at-share-btn {
 /* margin: 0 !important; */
}

.addthis_sharing_toolbox div:first-child + a {
  border-radius: 5px 0 0 5px;
}

.addthis_sharing_toolbox .at-share-btn:last-child {
  border-radius: 0 5px 5px 0;
}

.areapage #expand-directions.expanded {
  padding: 0 0 16px;
}

.meta-info {
  margin-top: 20px;
}

.services-wrapper .icon {
  margin: 0 30px 10px;
}

.news-content .date {
  margin-top: -4px;
  margin-bottom: 8px;
}


html:not(.newsandeventslandingpage) .events-content button.button--more {
  display: none;
}



.show-more-slideOut.is-open {
  overflow: visible;
}

.services-osm svg {
  vertical-align: middle;
  padding-bottom: 4px;
}

.services-osm button,
.services-osm a {
  padding-left: 6px;
  margin-bottom: 2px;
}



.contact-persons {
  padding: 15px 45px;
  margin-top: 0;
}
.contact-persons .contact {
  padding-bottom: 6px;
  border-bottom: none;
  overflow: visible;
}
.contact-persons img {
  height: 100px;
  width: auto;
}

.contact-persons .contact-person {
  display: table;
  margin-bottom: 20px;
}

.contact-persons img,
.contact-persons .meta {
  display: table-cell;
  vertical-align: top;
}

.contact-persons .meta {
  padding-left: 16px;
}

.contact-persons .title {
  font-size: 14px;
  display: block;
  margin: -4px 0 4px;
}

.contact-persons a {
  font-size: 14px;
}

.contact-persons h3 {
  margin: 0;
}

.contact-persons .telephone {
  margin-top: -4px;
}

.contact-persons a[href^="tel"]{
  color: #000;
  font-weight: bold;
}


.contact-centers .centers-header {
  background: #25b8ca;
  margin: 0;
  padding: 16px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

.contact-centers ul {
  background: #F4F5F6;
  border-radius: 0 0 0 10px;
  padding: 16px;
}

.contact-centers li {
  border-top: 1px solid #D9DADB;
}

.contact-centers li:first-child {
  border: none;
}
/*
.contact-centers li:last-child {
  margin-top: 20px;
  border: none;
  position: absolute;
}
*/
.contact-centers h3 {
  margin-bottom: 4px;
}

.contact-centers p {
  margin: 0;
}
.contact-centers strong {
  display: block;
}
.contact-centers .bodytext--last {
  margin: 16px 0;
}


@media (max-width: 768px) {

  .popup-header h2 {
    font-size: 14px;
  }
  .popup-text p {
    font-size: 10px;
    line-height: 16px;
  }
  .popup-description input[type="text"] {
    padding: 10px 8px !important;
    width: 100% !important;
    border-bottom: 0 !important;
    border-radius: 0;
    outline: 0;
    font-size: 16px !important;
  }
  .popup-description button {
    width: 100%;
  }
  .popup-description form {
    padding-top: 4px !important;
  }
  .popup-description label[for="resrobotS"] {
    margin: 0 0 6px !important;
  }

}


/* Styles for prettier scrolling in IE/Chrome on Windows
/* ====== */
@media (min-width: 769px) {
  .custom-scroll body {
    background-position: top left;
  }

  .custom-scroll header,
  .custom-scroll footer,
  .custom-scroll .addthis_sharing_toolbox {
    width: calc(100% + 17px);
  }
  .custom-scroll.ie-edge header,
  .custom-scroll.ie-edge footer,
  .custom-scroll.ie-edge .addthis_sharing_toolbox {
    width: calc(100% + 12px);
  }

  .custom-scroll html,
  .custom-scroll body {
    overflow-x: hidden;
  }

  .custom-scroll.overflow-hidden html,
  .custom-scroll.overflow-hidden body {
    overflow-y: hidden;

  }

  .custom-scroll.overflow-hidden footer,
  .custom-scroll.overflow-hidden header,
  .custom-scroll.overflow-hidden .addthis_sharing_toolbox {
    width: 100%;
  }

  .custom-scroll .areas-list {
    right: -30px;
    padding-right: 0;
    width: calc(50% + 30px + 24px);
  }
  .custom-scroll.ie-edge .areas-list {
    right: -30px;
    width: calc(50% + 30px + 26px);
  }

  .custom-scroll .areas-list li {
    padding-right: calc(1em + 12px);
  }
  .custom-scroll.ie-edge .areas-list li {
    padding-right: calc(1em + 17px);
  }

  .custom-scroll.overflow-hidden .areas-list {
    right: 0;
    width: calc(50% + 32px)
  }
  .custom-scroll.overflow-hidden .areas-list li {
    padding-right: 1em;
  }
}


@media (max-width: 500px) {
  .contact-persons .title {
    margin-top: 0;
    line-height: 16px;
    font-size: 12px;
  }
  .contact-persons .telephone {
    margin-top: 0;
  }
  .contact-persons .email {
    font-size: 12px;
  }
  .contact-persons .telephone a {
    display: block;
    line-height: 18px;
    font-size: 12px;
  }
  .contact-persons .telephone span {
    display: none;
  }
}

@media (max-width: 56.25em) {
  .contacts .contact-persons,
  .contacts .contact-centers {
      width: 100%;
      max-width: 37.5em;
      margin: 0 auto;
      -webkit-flex: none;
      -ms-flex: none;
      flex: none;
      padding: 15px 15px 30px 15px;
  }

  .contact-persons .contact {
    width: calc(50% - 10px);
    float: left;
    min-height: 480px;
  }

  .contact-persons .contact:nth-child(2n) {
    float: right;
  }

  .contact-persons .contact .meta {
    margin-top: 16px;
  }

  .contact-persons .contact .title,
  .contact-persons .contact a {
    font-size: 14px;
  }

  .contact-centers ul {
    border-radius: 0;
  }

  .contact-centers li:last-child {
    margin: 0 -16px -16px;
    padding: 2px 16px 16px;
    position: static;
    background: #FFF;
  }

}

.events-content .button--more {
  display: none;
}




@media (min-width: 43.75em) {

  .events-content .button--more {
    display: inline-block;
  }

  .events-content.initial .card {
    display: none;
  }
  .events-content.initial .gallery .card:nth-child(1),
  .events-content.initial .gallery .card:nth-child(2) {
    display: block;
  }

}

@media (min-width: 56.25em) {
  .events-content.initial .gallery .card:nth-child(3) {
    display: block;
  }

}


@media (max-width: 56.25em) {

  .area-general-info .area-info,
  .area-general-info .basic-info
   {
    max-width: 37.5em;
    margin: 0 auto;
    /*
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    */
    padding: 15px 15px 30px 15px;
  }

  .area-general-info .svg-map {
      order: 3;
      margin: 2em 0 0;
  }
  .area-general-info {
    display: flex;
    flex-direction: column;
  }

  .area-general-info .area-info {
    padding-top: 0;
    order: 2;
  }

  .area-general-info .basic-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    order: 1;
  }

  .area-general-info {
    order: 1;
  }

  .area-general-info .basic-info-content {
    padding: 0;

  }

  .area-general-info .basic-info-content h2 {
    display: block;
  }

  .area-general-info .services-wrapper {
    margin-bottom: 1em;
    order:2;
  }

  footer .logo {
    margin: 20px 0 0;
    position: static;
  }

}


@media (max-width: 43.75em) {

  .header-content .rating {
    margin: -16px 0 16px;
    display: none;
  }
  .accommodationpage .header-content {
 /*   overflow: hidden; 2016-09-09 Removed by TG. Probably "left over" from when accomodation header har star-rating insted of intro-text */
  }

  .areas-list h2 {
    margin-top: 18px;
  }

  /*
  .area-more-info figure::before,
  .area-more-info .image::before,
  .more-tips figure::before,
  .more-tips .image::before {
    background-size: 170px;
    background-position: bottom -2px left -10px;
    bottom: -1px;
  }
  */


  .downloads li {
    margin: 10px 0 0;
  }

  .downloads li a {
    font-size: 14px;
    line-height: 25px;
    display: inline-block;
  }

  .downloads li .svg-icon {
    width: 25px;
    height: 25px;
    margin-right: 6px;
  }

  .downloads span:not(.file-info) {
    width: auto;
  }

}


@media (max-width: 37.5em) {

  .byline {
    font-size: 12px;
  }

  .butterflies.underlined {
    padding-right: 80px;
  }

  .preamble {
    margin-top: 20px;
  }


  .services-osm button,
  .services-osm a {
    font-size: 14px;
  }

}


.areaslandingpage .scrollbtn,
.areaslandingpage .arrowUp,
.areaslandingpage .arrowDown {
  display: none;
}

.areaslandingpage .is-hidden {
  display: none !important;
}

@media (min-width: 769px) {
  .areaslandingpage .scrollbtn {
    display: block;
    background-color: #25b8ca;
    width: 50%;
    height: 36px;
    position: absolute;
    right: 0px;
    z-index: 2;
    cursor: pointer;
    text-align: center;
  }

  .areaslandingpage .arrowUp {
    display: block;
    opacity: 0;
    padding-top: 3px;
  }

  .areaslandingpage .arrowDown {
    display: block;
    opacity: 0.9;
    bottom: 0px;
  }
}


.coworkerspage .block {
  padding: 30px 0;
}

.coworkers {
  width: 100%;
  padding: 20px 60px;
}

.coworkers h2 {
  margin-top: 0;
  padding-top: 6px;
}

.coworkers .contact-persons {
  margin: 30px 0 0;
  padding: 0;
}

.coworkers .contact-person {
  width: 100%;
  margin: 40px 0 0;
}

.coworkers .contact-person img {
  height: 200px;
}
.coworkers .contact-person .meta {
  padding: 0 0 0 30px;
  width: 100%;
}



.coworkers .contact-person .meta p {
  margin-top: 10px;
}

.coworkers .contact-person a {
  font-size: 16px;
}

.coworkers .contact-person .telephone {
  margin-top: 0;
}

.coworkers .contact-person .meta strong {
  font-size: 22px;
  display: block;
}

.coworkers .contact-person .meta .title {
  font-size: 18px;
  line-height: 18px;
  display: block;
  margin: 4px 0 14px;
}

@media (max-width: 800px) {

  .coworkers .contact-person {
    margin-top: 30px;
  }

  .coworkers .contact-person img {
    height: 100px;
  }

  .coworkers .contact-person .meta {
    padding: 0 0 0 16px;
  }

  .coworkers .contact-person .meta strong {
    font-size: 16px;
  }

  .coworkers .contact-person .meta .title {
    font-size: 14px;
    margin: 0 0 10px;
  }

  .coworkers .contact-person a {
    font-size: 14px;
  }

  .coworkers .contact-person .telephone {
    margin-top: -4px;
  }

  .coworkerspage .block {
    padding: 10px 0;
  }
  .coworkers {
    padding: 20px;
  }
}
