
#search-wrapper
{
  width: 188px;
  height: 1.65em;
  float: right; 
  margin-bottom: 0px;
  background-color: #ffffff;
  opacity: .80;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  outline:none;   
}

#search-wrapper:hover
{
    outline: 3px solid #848484;
    overflow: hidden;
}

#search-wrapper input[type="text"]
{     
  background: #ffffff url(/media/images/divide.png) no-repeat right center;   
  border: 0 none;
  float: left;
  height: 18px;
  line-height: 1.5em;
  margin: 0;
  padding: 4px 8px 3px 8px;
  width: 148px;
  color: #000000;
  font-weight:700;
  outline:none;
  opacity: 0.80;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

#search-wrapper input[type="submit"]
{
  background: #ffffff url(/media/images/mag.png) no-repeat center center;
  border: 0 none;
  height: 25px;
  line-height: 1.5em;
  width: 24px;
  margin: 0;
  padding: 6px 8px 0 0;
  text-indent: 100px; 
  cursor: pointer;
  outline:none;  /* Remove outline at focus in IE9 */
  opacity: .80;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

.submit 
{   
    width:48px;
    color:#2A3936;   
    font: 84% 'trebuchet ms',helvetica,sans-serif;
    padding-left:6px;
    outline:none; /* Remove outline at focus in IE9 */
}



/* IE7-specific hacks */
*+html .container h1 
{
    width: auto;
}

*+html #search-wrapper
{
    border: 2x solid transparent;
}

*+html #search-wrapper:hover
{
    border: 2px solid #848484;
    margin: -2px;
}

*+html .submit
{
    height:24px;
    padding-right:3px;
}


/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */