#search-wrapper
{ 
  overflow: hidden;
  /*  
  width: 188px;
  height: 1.65em;
  float: right; 
  margin-bottom: 0px;
  background-color: #ffffff;
  opacity: .80;
  filter: alpha(opacity=80);*/
 /* For IE8 and earlier */
 /* outline:none;*/   
}

#search-wrapper:hover
{
    /*outline: 3px solid #848484;*/
    overflow: hidden;	 
}

#search-wrapper input[type="text"]
{ 
  border: 0 none;
  float: left; 
  line-height: 1.5em;
  margin: 0; 
  font-size:12px;
  color: #000000;
  font-weight:200;
  outline:none;
  opacity: 0.80;
  filter: alpha(opacity=80); 
 /* For IE8 and earlier */
}

#search-wrapper input[type="submit"]
{  
  background: #ffffff url(/images/search.png) no-repeat 50% 50%; 
  border: 0 none;
  line-height: 1.5em;
  margin: 0;
  text-indent: 100px;  
  outline:none; /* Remove outline at focus in IE9 */  
  opacity: .80;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

.submit
{   
    width:48px;
    color:#2A3936;   
    font: 84% 'trebuchet ms',helvetica,sans-serif;
    padding-left:6px;
    outline:none; /* Remove outline at focus in IE9 */
}



/* IE7-specific hacks */
*+html .container h1 
{
    width: auto;
}

*+html #search-wrapper
{
    border: 2x solid transparent;
}

*+html #search-wrapper:hover
{
    border: 2px solid #848484;
    margin: -2px;
}

*+html .submit
{
    height:24px;
    padding-right:3px;
}


/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */