﻿<div ng-controller="tooorangey.EditorNotes" class="umb-editor umb-rte tooorangey-editornote" ng-class="noteCssClass">
    <div ng-show="noteRenderMode=='SlidingPane'" class="umb-panel-header-name sliding-panel">
        <a class="editornotes-nav" ng-click="openDialog()">{{panelTitle}} <i class="icon icon-arrow-right"></i></a>
    </div>
    <div ng-show="noteRenderMode=='Collapsible'" class="umb-panel-header-name" ng-class="isCollapsed ? 'collapsed' : 'expanded'">
        <a ng-click="togglePanelCollapse()">{{panelTitle}}  <i ng-show="isCollapsed" class="icon icon-chevron-down"></i> <i ng-show="!isCollapsed" class="icon icon-chevron-up"></i></a>
    </div>
    <div ng-show="(noteRenderMode=='Collapsible' || noteRenderMode=='Html') && !isCollapsed"  class="panel-body">
        <div ng-bind-html-unsafe="editorNotes"></div>
    </div>

</div>
