<div ng-controller="NotesModePreValueEditorController">
    <ul class="unstyled">
        <li ng-repeat="preval in model.prevalues">
            <label class="checkbox">
                <input type="radio" ng-model="model.value" value="{{preval}}" /> {{preval}}
            </label>
        </li>
    </ul>
 </div>