﻿<div ng-controller="ListPicker.EditorController">
    <select name="dropDownList"
        class="umb-editor umb-dropdown"
        ng-model="model.value"
        ng-options="item.value as item.text for item in model.config.values.items">
    </select>
</div>
