﻿<div class="umb-editor umb-checkboxlist" ng-controller="ListPicker.EditorController">
    <ul class="unstyled">
        <li ng-repeat="item in model.config.values.items">
            <label class="checkbox">
                <input type="checkbox" name="checkboxlist"
                       value="{{item.value}}"
                       ng-model="item.checked"
                       ng-click="update()" />
                {{item.text}} <!-- {{item.checked}} -->
            </label>
        </li>
    </ul>
</div>
