﻿<div ng-controller="ListPicker.PrevaluesController">
    <div class="umb-editor">
        <div class="control-group">
            <select ng-model="model.value.type">
                <option value="radio">Radio button list</option>
                <option value="checkbox">Checkbox list</option>
                <option value="dropdown">Dropdown list</option>
            </select>
        </div>
        <div class="control-group">
            <button type="button" class="btn btn-small" ng-click="add($event)">Add Item</button>
        </div>
        <div class="list-items" ui-sortable="sortableOptions" ng-model="model.value.items">
            <div class="list-item" ng-repeat="item in model.value.items">
                <div class="list-item-wrapper">
                    <i class="icon icon-navigation handle"></i>
                    <input type="checkbox" ng-model="item.checked" ng-value="true" title="Default selected item(s)." ng-click="update($index)" />
                    <input type="text" class="input" ng-model="item.text" value="{{item.text}}" placeholder="Text" />
                    :
                <input type="text" class="input-small" ng-model="item.value" value="{{item.value}}" placeholder="Value" />
                    <a ng-href="" class="btn btn-danger btn-small" title="Delete Item"><i class="icon-delete" ng-click="delete(item, $event)"></i></a>
                </div>
            </div>
            <div class="list-value" ng-show="model.value.items.length == 0">
                <strong>No List Items Entered</strong>
            </div>
        </div>
    </div>
</div>
