﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="License.aspx.cs" MasterPageFile="/umbraco/masterpages/umbracoPage.Master" Inherits="CMSImport.Pages.License" %>
<%@ Register Assembly="controls" Namespace="umbraco.uicontrols" TagPrefix="cc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="body" runat="server">
    <cc1:UmbracoPanel ID="UmbracoPanel" runat="server">
    <cc1:Feedback ID="ErrorPane" runat="server" type="error" Visible="false" />
        </cc1:UmbracoPanel></asp:Content>