﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SelectImportProviderOptions.ascx.cs" Inherits="CMSImport.Controls.ImportSteps.SelectProviderOptions" %>
<asp:PlaceHolder runat="server" ID="ProviderPlaceHolder"></asp:PlaceHolder>