.multipleMediaPicker label small {
	display: inline-block;
}

.multipleMediaPicker input.ng-invalid {
	border-color: #9d261d;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.multipleMediaPicker .help-block {
	color: #9d261d;
}

.umb-panel-header .headline {
	margin-bottom: 10px;
	padding: 0;
	border: none;
	font-size: 26px;
}

.umb-mediapicker .image-name {
	padding: 2px 8px 2px 8px;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	text-align: left;
	opacity: 0.8;
}

.umb-sortable-thumbnails li:hover .image-name {
	display: block;
}

.umb-mediapicker .media-image {
	right: 48px;
	color: #000;
}

.umb-mediapicker .picked-image {
	opacity: 0.8;
}

	.umb-mediapicker .picked-image:hover {
		opacity: 1.0;
	}

.umb-mediapicker .media-container {
	position: relative;
	overflow: auto;
}

.umb-mediapicker .quickview .control-group {
	margin: 0 !important;
	padding: 0;
	border: none;
}

.umb-mediapicker .quickview-item {
	margin-bottom: 15px;
	position: relative;
}

	.umb-mediapicker .quickview-item .control-label {
		margin: 0;
		padding: 1px 3px !important;
		position: absolute;
		top: 11px;
		left: 4px;
		width: auto;
		background-color: #fff;
		float: none;
		color: #d9d9d9;
		line-height: 1;
		cursor: text;
		-moz-transition: all .2s linear;
		-o-transition: all .2s linear;
		-webkit-transition: all .2s linear;
		transition: all .2s linear;
	}

	.umb-mediapicker .quickview-item.focus .control-label {
		top: -7px;
		font-size: 11px;
	}

	.umb-mediapicker .quickview-item .controls {
		margin: 0;
		padding: 0;
		text-align: left;
	}

		.umb-mediapicker .quickview-item .controls input {
			padding: 8px 6px;
			width: 100%;
			height: auto;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}



.multipleMediaPicker .media-loader {
	margin: 47px;
	display: inline-block;
	position: relative;
	right: 0;
	left: 0;
	height: 40px;
	width: 40px;
	border: none;
	opacity: 1;
	z-index: 10;
	-webkit-transition: all 0.3s ease-in-out 0;
	-moz-transition: all 0.3s ease-in-out 0;
	-o-transition: all 0.3s ease-in-out 0;
	transition: all 0.3s ease-in-out 0;
}

	.multipleMediaPicker .media-loader .sk-circle {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}

		.multipleMediaPicker .media-loader .sk-circle:before {
			content: '';
			display: block;
			margin: 0 auto;
			width: 15%;
			height: 15%;
			background-color: #000;
			border-radius: 100%;
			-webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
			-moz-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
			-o-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
			animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
		}

	.multipleMediaPicker .media-loader .sk-circle2 {
		-webkit-transform: rotate(30deg);
		-ms-transform: rotate(30deg);
		-moz-transform: rotate(30deg);
		-o-transform: rotate(30deg);
		transform: rotate(30deg);
	}

	.multipleMediaPicker .media-loader .sk-circle3 {
		-webkit-transform: rotate(60deg);
		-ms-transform: rotate(60deg);
		-moz-transform: rotate(60deg);
		-o-transform: rotate(60deg);
		transform: rotate(60deg);
	}

	.multipleMediaPicker .media-loader .sk-circle4 {
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
	}

	.multipleMediaPicker .media-loader .sk-circle5 {
		-webkit-transform: rotate(120deg);
		-ms-transform: rotate(120deg);
		-moz-transform: rotate(120deg);
		-o-transform: rotate(120deg);
		transform: rotate(120deg);
	}

	.multipleMediaPicker .media-loader .sk-circle6 {
		-webkit-transform: rotate(150deg);
		-ms-transform: rotate(150deg);
		-moz-transform: rotate(150deg);
		-o-transform: rotate(150deg);
		transform: rotate(150deg);
	}

	.multipleMediaPicker .media-loader .sk-circle7 {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	.multipleMediaPicker .media-loader .sk-circle8 {
		-webkit-transform: rotate(210deg);
		-ms-transform: rotate(210deg);
		-moz-transform: rotate(210deg);
		-o-transform: rotate(210deg);
		transform: rotate(210deg);
	}

	.multipleMediaPicker .media-loader .sk-circle9 {
		-webkit-transform: rotate(240deg);
		-ms-transform: rotate(240deg);
		-moz-transform: rotate(240deg);
		-o-transform: rotate(240deg);
		transform: rotate(240deg);
	}

	.multipleMediaPicker .media-loader .sk-circle10 {
		-webkit-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		-o-transform: rotate(270deg);
		transform: rotate(270deg);
	}

	.multipleMediaPicker .media-loader .sk-circle11 {
		-webkit-transform: rotate(300deg);
		-ms-transform: rotate(300deg);
		-moz-transform: rotate(300deg);
		-o-transform: rotate(300deg);
		transform: rotate(300deg);
	}

	.multipleMediaPicker .media-loader .sk-circle12 {
		-webkit-transform: rotate(330deg);
		-ms-transform: rotate(330deg);
		-moz-transform: rotate(330deg);
		-o-transform: rotate(330deg);
		transform: rotate(330deg);
	}

	.multipleMediaPicker .media-loader .sk-circle2:before {
		-webkit-animation-delay: -1.1s;
		-moz-animation-delay: -1.1s;
		-o-animation-delay: -1.1s;
		animation-delay: -1.1s;
	}

	.multipleMediaPicker .media-loader .sk-circle3:before {
		-webkit-animation-delay: -1s;
		-moz-animation-delay: -1s;
		-o-animation-delay: -1s;
		animation-delay: -1s;
	}

	.multipleMediaPicker .media-loader .sk-circle4:before {
		-webkit-animation-delay: -0.9s;
		-moz-animation-delay: -0.9s;
		-o-animation-delay: -0.9s;
		animation-delay: -0.9s;
	}

	.multipleMediaPicker .media-loader .sk-circle5:before {
		-webkit-animation-delay: -0.8s;
		-moz-animation-delay: -0.8s;
		-o-animation-delay: -0.8s;
		animation-delay: -0.8s;
	}

	.multipleMediaPicker .media-loader .sk-circle6:before {
		-webkit-animation-delay: -0.7s;
		-moz-animation-delay: -0.7s;
		-o-animation-delay: -0.7s;
		animation-delay: -0.7s;
	}

	.multipleMediaPicker .media-loader .sk-circle7:before {
		-webkit-animation-delay: -0.6s;
		-moz-animation-delay: -0.6s;
		-o-animation-delay: -0.6s;
		animation-delay: -0.6s;
	}

	.multipleMediaPicker .media-loader .sk-circle8:before {
		-webkit-animation-delay: -0.5s;
		-moz-animation-delay: -0.5s;
		-o-animation-delay: -0.5s;
		animation-delay: -0.5s;
	}

	.multipleMediaPicker .media-loader .sk-circle9:before {
		-webkit-animation-delay: -0.4s;
		-moz-animation-delay: -0.4s;
		-o-animation-delay: -0.4s;
		animation-delay: -0.4s;
	}

	.multipleMediaPicker .media-loader .sk-circle10:before {
		-webkit-animation-delay: -0.3s;
		-moz-animation-delay: -0.3s;
		-o-animation-delay: -0.3s;
		animation-delay: -0.3s;
	}

	.multipleMediaPicker .media-loader .sk-circle11:before {
		-webkit-animation-delay: -0.2s;
		-moz-animation-delay: -0.2s;
		-o-animation-delay: -0.2s;
		animation-delay: -0.2s;
	}

	.multipleMediaPicker .media-loader .sk-circle12:before {
		-webkit-animation-delay: -0.1s;
		-moz-animation-delay: -0.1s;
		-o-animation-delay: -0.1s;
		animation-delay: -0.1s;
	}

@-webkit-keyframes sk-circleFadeDelay {
	0%, 39%, 100% {
		opacity: 0;
	}

	40% {
		opacity: 1;
	}
}

@-moz-keyframes sk-circleFadeDelay {
	0%, 39%, 100% {
		opacity: 0;
	}

	40% {
		opacity: 1;
	}
}

@keyframes sk-circleFadeDelay {
	0%, 39%, 100% {
		opacity: 0;
	}

	40% {
		opacity: 1;
	}
}
